.recharge{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #ecf0f9;
    width: 608px;
    margin: 0 auto;
    padding: 0 25px;
    font-size: 12px;
}
.recharge-first{
    height: 55px;
    line-height: 55px;
    margin-top: 23px;
    width: 95%;
    margin-left: 20px;
    margin-right: 20px;
    background:#f4f7f7;
}
.recharge-first>:first-child{float: left;height: 100%;}
.recharge-first>:last-child{float: right;height: 100%}

.recharge-second{
    height: 173px;
    border-top: 0;
    overflow: auto;
    width: 95%;
    margin-left: 20px;
    margin-right: 20px;
}
.recharge-second>div{
    line-height: 28px;
    display: -webkit-flex;
    margin-left: 80px;
    display: flex;
}
.recharge-second>div>:nth-child(2){width: 244px;font-size: 12px}

.recharge-third{
    height: 140px;
    border:0px;
    padding-top: 35px;
    font-size: 12px;
    width: 95%;
    margin-left: 20px;
    margin-right: 20px;
}
.recharge-third>:first-child{
    height: 100%;
    float: left;
}
.recharge-third>:first-child>div{
    line-height: 28px;
    margin-top: 10px;
}
/* .recharge-third>:last-child>div button{
    height: 100%;
    width: 277.5px;
    padding-top: 50px;
    text-align: right;
    float: right;
} */
.recharge-four{
    background:#fff;
}
.recharge-four div{
    float:right;
    display: inline-flex;
    margin-right: 30px;
}
.recharge-four div .recharge-btn{
    margin:12px auto;
    display:block;
    text-align: center;
    margin-top: 12px;
}
.recharge-third div div{
    display:-webkit-inline-box;
}
.recharge-third div div .ui-select-define{
    width:92px;
    min-width:92px;
}
