/* 撤单处理 */
.Itsprocessing-title button{margin-left:5px;}
.Itsprocessing-title {width:768px;margin-bottom:0}
.Itsprocessing-title .e-input.its-pro-input{
    width: 150px;
    margin-left: 5px;
    margin-right: 5px;
}

.Itsprocessing-count{
    width: 768px;
    height: 265px;
    margin: 0 auto;
}
.Itsprocessing-count-left{
    width: 343px;
    height: 265px;
    float: left;
}
.Itsprocessing-count-title {
    width:343px;
    height:35px;
    line-height:38px;
    color:#000;
    font-size:14px;
}
.Itsprocessing-count-title span{
    color:#000;
    font-size:12px;
}
.Itsprocessing-count-title span b{
    color:#f00;
}
.Itsprocessing-count-take{
    width: 343px;
    height: 225px;
    border: 1px solid #e6e7ec;
    background: #eef4fb;
}
.Itsprocessing-count-take div{
    height:22px;
    line-height:22px;  
    padding-left:18px;
    border:1px solid #e6e7ec;
    margin:6px 10px;
}

.Itsprocessing-count-take div.itsproce-click{
    background:#89b0d4;
    height:22px;
    line-height:22px; 
    padding-left:18px;
    border:1px solid #e6e7ec;
    margin:6px 10px;
}

.Itsprocessing-count-take div span{
    margin-right:4px;
    color:#000;
    font-size:12px;
}

.Itsprocessing-count-transfer{
    width: 41px;
    height: 200px;
    float: left;
    margin-left: 17px;
    margin-top: 57px;
}
.Itsprocessing-count-transfer span{
    display:block;
    width:41px;
    height:35px;
    margin:34px auto 0;
    cursor: pointer;
}
.Itsprocessing-count-transfer span a{
    display:block;
    width:41px;
    height:35px;
}
.Itsprocessing-count-transfer span:first-child{
    background: url(./img/chedan-z.png) no-repeat;
    background-position:center center;
 }
.Itsprocessing-count-transfer span:last-child{
    background: url(./img/chedan-y.png) no-repeat;
    background-position:center center;
 }

.Itsprocessing-count-right{float:right;}
.Itsprocessing-footer{
    width: 785px;
    height: 80px;
    margin: 0 auto;
    clear: both;
}
.Itsprocessing-footer span{
    float: left;
    width: 61px;
    height: 20px;
    line-height: 20px;
    color: #333;
    font-size: 12px;
    text-align: right;
    display: block;
    margin-left: 10px;
}

.Itsprocessing-footer-text{
    width: 768px;
    border: 1px solid #e6e7ec;
    background: #fff;
    font-size: 12px;
    height: 60px;
    float: left;
    margin-left: 10px;
    padding: 4px 5px;
    box-sizing: border-box;
}

.Itsprocessing-footer-left{
    float: left;
    width: 768px;
    height: 80px;
}

/*  */
.ui-table-base.sing-tab{
    width: 100%;
    max-height: 224px;
    border: none;
    margin: 0;
    height: 298px;
}
.ui-table-base.sing-tab tbody{
    max-height:180px;
    overflow-y:auto;    
}
.ui-table-base.sing-tab tr td{
   min-width:83px;
   max-width:83px;
}
.Itsprocessing-footer-div{
    width:768px;
    height:25px;
    margin:10px auto;  
}
.Itsprocessing-footer-div span{
    float: left;
    width: 61px;
    height: 27px;
    line-height: 27px;
    color: #333;
    font-size: 12px;
    text-align: right;
    display: block;
}
.Itsprocessing-footer-div input{
    display: block;
    width:264px;
    height:23px;
    border:1px solid #ccc;
    padding: 0 5px;
    float: left;
    outline:none;
    background:#fff;
    color:#333;
    font-size:12px;
    margin-left:10px;
    outline-color:#6f9ec2
}
.Itsprocessing-footer-div span i{
    color: #f00;
    font-size:12px;
    height:30px;
    margin-top:2px;
    margin-right:2px;
}
.Itsprocessing-footer-div s{
    display:block;
    float:left;
    color:#333;
    font-size:12px;
    width:8px;
    line-height:32px;
    text-decoration:none;
    margin-left:5px;
}
.Itsprocessing-footer-div b{
    float:right;
    display:block;
    width:80px;
    height:32px;
    line-height:32px;
    text-align:center;
    margin-right:13px;
    font-weight:inherit;
    border-radius:5px;
}
.Itsprocessing-footer-div b.no-save{
    background:#fff;
    border:1px solid #d8dce5;
    color:#000;
}

.Itsprocessing-footer-div b.sure-save{
    background:#3ebddd;
    color:#fff;
}
.Itsprocessing-footer-div span.Itsprocessing-footer-span{
    width:94px;
}