/* 撤单处理 */
.its-all-div{

    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    padding: 0px 16px 250px;
}
.Itsprocessing-title button{margin-left:5px;}
.Itsprocessing-title {
    width:100%;
    margin: 0 auto 10px;
}
.Itsprocessing-title .e-input.its-pro-input{
    width: 180px;
    margin-left: 5px;
    margin-right: 5px;
}

.Itsprocessing-count{
    width: 100%;
    height: 100%;
}
.Itsprocessing-count-left{
    width: 45%;
    height: 100%;
    float: left;
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-bottom: 35px;
}
.Itsprocessing-count-title {
    width:343px;
    height:35px;
    line-height:38px;
    color:#5a5e66;
    font-size:14px;
    font-weight:bold;
}
.Itsprocessing-count-title span{
    color:#5a5e66;
    font-size:14px;
    font-weight:bold;
}
.Itsprocessing-count-title span b{
    color:#f00;
}
.Itsprocessing-count-take{
    width: 100%;
    height: 100%;
    border: 1px solid #e6e7ec;
    background: #eef4fb;
}
.Itsprocessing-count-take>.ui-table{

    height: 100%;
}

.Itsprocessing-count-transfer{
    width: 10%;
    height: 100%;
    float: left;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    padding-top: 35px;
}
.Itsprocessing-count-transfer span{
    margin: 0 auto;
    cursor: pointer;
    position: relative;
    top: 41%;
    transform: translateY(-50%);
    margin-bottom: 15px;
    width: 41px;
    height: 35px;
    display: block;
}
.Itsprocessing-count-transfer span a{
    display:block;
    width:41px;
    height:35px;
}
.Itsprocessing-count-transfer span:first-child{
    background: url(./images/chedan-z.png) no-repeat;
    background-position:center center;
 }
.Itsprocessing-count-transfer span:last-child{
    background: url(./images/chedan-y.png) no-repeat;
    background-position:center center;
 }

.Itsprocessing-count-right{float:right;}
.Itsprocessing-footer{
    height: 180px;
    margin-top: 10px;
}
.Itsprocessing-footer span{
    float: left;
    width: 70px;
    height: 20px;
    line-height: 20px;
    color: #333;
    font-size: 12px;
    text-align: right;
    display: block;
    margin-left: 10px;
}
.Itsprocessing-footer b{
    color: red;
}

.Itsprocessing-footer-text{
    width: 768px;
    border: 1px solid #e6e7ec;
    background: #fff;
    font-size: 12px;
    height: 60px;
    float: left;
    margin-left: 10px;
    padding: 4px 5px;
    box-sizing: border-box;
    border-radius: 3px;
}

.Itsprocessing-footer-left{
    width: 100%;
    height: 80px;
}

.Itsprocessing-footer-div{
    width:100%;
    height:30px;
    margin:10px auto;  
}
.Itsprocessing-footer-div span{
    float: left;
    width: 61px;
    height: 27px;
    line-height: 27px;
    color: #333;
    font-size: 12px;
    text-align: right;
    display: block;
}
.Itsprocessing-footer-div input{
    display: block;
    width:264px;
    height:23px;
    border:1px solid #ccc;
    padding: 0 5px;
    float: left;
    outline:none;
    background:#fff;
    color:#333;
    font-size:12px;
    margin-left:10px;
    outline-color:#6f9ec2
}
.Itsprocessing-footer-div span i{
    color: #f00;
    font-size:12px;
    height:30px;
    margin-top:2px;
    margin-right:2px;
}
.Itsprocessing-footer-div s{
    display:block;
    float:left;
    color:#333;
    font-size:12px;
    width:8px;
    line-height:32px;
    text-decoration:none;
    margin-left:5px;
}
.Itsprocessing-footer-div b{
    float:right;
    display:block;
    width:80px;
    height:32px;
    line-height:32px;
    text-align:center;
    margin-right:13px;
    font-weight:inherit;
    border-radius:5px;
}
.Itsprocessing-footer-div b.no-save{
    background:#fff;
    border:1px solid #d8dce5;
    color:#000;
    margin-top: -18px;
}
.Itsprocessing-footer-div b.sure-save{
    background:#3ebddd;
    color:#fff;
    margin-top: -18px;
}
.Itsprocessing-footer-div span.Itsprocessing-footer-span{
    width:94px;
}