/* 取衣 */
.Takeclothes-title{  
    height: 45px; /* margin: 0 auto; */
    vertical-align: middle;   
    padding-top: 20px;
    width: 400px;
    right: 0px;
    float: right;
    margin-right: 22px;
}
.Takeclothes-title input.e-input{

    float: right;
    margin-right: 10px;
    width: 200px;
}
.takeclothred{
    color: #f00
}
.Takeclothes-title .Takeclothes-title-btn{float:right;margin-right:7px;cursor:pointerss}
.Takeclothes-title .Takeclothes-title-text{
    width:232px;
    height:22px;
    border:1px solid #c2c2c2;
    background:#f9f9f9;
    color:#4d4d4d;
    font-size:13px;
    margin-right:8px;
    line-height:22px;
    float:right;
    text-indent: 5px;
    margin-top: 2px;
}

.Takeclothes-div-title{
    height: 23px;
    line-height: 76px;
    color: #4d4d4d;
    font-size: 13px;
    font-weight: 700;
    margin: 0 auto;
    top: 46px;
    left: 0;
    text-indent:22px;
}
.Takeclothes-div-title b{
    color:red;
}
.Takeclothes-tab-div{
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 1px solid #f0f0f0;
    clear: both;
}
.Takeclothes-tab-div>div{
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-bottom: 92px;
}
/* table */
.Takeclothes-tab{

       margin: 0px 16px;
}

/* 取衣详情 */
.Takeclothesdetail-title{
    height: 38px;
    margin: 0px 16px;
}
.takeclothgreen{
    color: #3fbfdc
}
.takecloth_div{
    margin-top: 10px;
    margin-bottom: 10px;
}
.Takeclothesdetail-title-left{
    float: left;
    width:auto;
    height:38px;
    text-indent:14px;
    margin-right: 8px;
}
.Takeclothesdetail-title-left div{
    width:auto;
    height:38px;
    line-height:38px;
    color:#000;
    font-size:12px;
    float:left;
}
.Takeclothesdetail-title-right{
    float:left;
    height:38px;
    width: auto;
}
.Takeclothesdetail-title-right div{
    width:auto;
    /* margin-right:8px; */
    height:38px;
    line-height:38px;
    color:#000;
    font-size:12px;
    float:right;
    margin-right: 8px;
}
.Takeclothesdetail-tab table tbody tr td{
    padding:0px 5px;    
}
.Takeclothesdetail-tab table thead tr th{
    padding:0px 5px;    
}
.Takeclothesdetail-tab table tbody{
    overflow-x:hidden;
}
.Takeclothesdetail-tab table tbody tr td input{
    width:15px;
    height:15px;
    cursor:pointer;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}
.Takeclothesdetail-footer{
    height: 24px;
    margin: 8px 16px 0;
}
.Takeclothesdetail-footer-left{
    width:180px;
    height:24px;
    float:left;
    color:#000;
    font-size:12px;
    line-height:24px;
}
.Takeclothesdetail-footer-left input{
    width:14px;
    height:14px;
    float: left;
    margin: 5px 5px 0px 12px;
    cursor:pointer;
}

.Takeclothesdetail-footer-right{
    float:right;
    height:24px;
}
.Takeclothesdetail-footer-right .Takeclothesdetail-footer-right-btn{
    float:right;
    margin-right:15px;
    cursor:pointer;
}
.take-over{
    width:71px;
    height:24px;
    text-align:center;
    color:#fff;
    font-size:12px;
    /* line-height:24px; */
    float:right;
    margin-right:15px;
    cursor: pointer;
    background:#3fbfdc;
    outline:none;
    border:none;
}
.take-no{
    width:71px;
    height:24px;
    text-align:center;
    color:#fff;
    font-size:12px;
    /* line-height:24px; */
    float:right;
    margin-right:15px;
    cursor: pointer;
    background:#c2c2c2;   
    outline:none;
    border:none;  
}
.Takeclothesdetail-footer-right div{
    float: right;
    height:35px;
    line-height:35px;
    color:#f00;
    font-size:12px;
    margin-right:12px;
}
.takeclothes-people{
    width:100%;
    text-align: center;
    line-height:200px;
    color:#000;
    font-size:14px;
}

/* 欠款补交样式 */


.Takeclothesdetail-tab table tbody tr td:nth-child(2) input{
    width: 15px;
    height: 15px;
    cursor: pointer;
    display: -webkit-box;
    float: left;
    margin-top: 5px;
}
.Takeclothesdetail-tab table tbody tr td span{
    font-size: 12px;
    color: #000;
    line-height: 25px;
}


/* 取衣新样式 */
/* .Takeclothesdetail-title-left div{
    margin-right:8px;
} */
.ui-select .e-input{background:none;}
.ui-select .e-input:hover{background: none}