/* 取衣 */
.Takeclothes-title{  
    height: 45px; /* margin: 0 auto; */
    vertical-align: middle;   
    padding-top: 20px;
    width: 400px;
    right: 0px;
    float: right;
    margin-right: 22px;
}
.Takeclothes-title input.e-input{

    float: right;
    margin-right: 10px;
    width: 200px;
}
.takeclothred{
    color: #f00
}
.Takeclothes-title .Takeclothes-title-btn{float:right;margin-right:7px;cursor:pointerss}
.Takeclothes-title .Takeclothes-title-text{
    width:232px;
    height:22px;
    border:1px solid #c2c2c2;
    background:#f9f9f9;
    color:#4d4d4d;
    font-size:13px;
    margin-right:8px;
    line-height:22px;
    float:right;
    text-indent: 5px;
    margin-top: 2px;
}

.Takeclothes-div-title{
    height: 23px;
    line-height: 76px;
    color: #4d4d4d;
    font-size: 13px;
    font-weight: 700;
    margin: 0 auto;
    top: 46px;
    left: 0;
    text-indent:22px;
}
.Takeclothes-div-title b{
    color:red;
}
.Takeclothes-tab-div{
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 1px solid #f0f0f0;
    clear: both;
}
.Takeclothes-tab-div>div{
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-bottom: 92px;
}
/* table */
.Takeclothes-tab{
       height: auto;
       max-height: 340px;
       margin: auto;
       border: 1px solid #e1e4eb;
       overflow-x: hidden;
       overflow-y: hidden;
       margin: 0px 16px;
}
.Takeclothes-tab table{
    width: 100%;
    height: auto;
    max-height: 340px;
}
.Takeclothes-tab table thead{
    min-width: 100%;
    height: 40px;
    background: #f6f7fb;
    display: block;
}
.Takeclothes-tab table thead tr{   
    width: 100%;
    height: 40px;
    display: inline-table;
}
.Takeclothes-tab table thead tr th{
    width:auto;
    text-align:center;
    color:#4d4d4d;
    font-size:12px;
    height:40px;
    line-height:40px;
    min-width:105px;
    word-break: break-word;
    background: url(./images/thead-border.png);
    background-size: 1px 24px;
    background-repeat: no-repeat;
    background-position: right center;
}
/* .Takeclothes-tab table thead tr th:last-child{border-right:none;} */
.Takeclothes-tab table thead tr th:first-child{
    min-width:60px;
    padding:0;    
    /* background:url(./img/revokedata_list_box_span.png) no-repeat;
    background-size:10px 10px;
    background-position-x:17px;
    background-position-y:11px; */
    padding:0px;
}
.Takeclothes-tab table thead tr th:last-child{border-right:none;background: none}
.Takeclothes-tab table tbody{
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    display: inline-block;
   
}
.Takeclothes-tab table tbody tr{
    border-bottom: 1px solid #e1e4eb;
    width: 100%;
    display: inline-table;}
.Takeclothes-tab table tbody tr td{
    width:auto;
    text-align:center;
    /* padding:0 49px; */
    color:#333;
    font-size:12px;
    /* height:25px; */
    /* line-height:25px; */
    min-width:105px;
    cursor: pointer;
    height: 40px;
}
.Takeclothes-tab table tbody tr td:first-child{
    width: auto;
    min-width:60px;
    padding:0px;
    height:25px;
    line-height:25px;

}
.Takeclothes-tab table tbody tr td:first-child{color: #3fbfdc}
/* 取衣详情 */
.Takeclothesdetail-title{
    height: 38px;
    margin: 0px 16px;
}
.Takeclothesdetail-title-left{
    float: left;
    width:auto;
    height:38px;
    text-indent:14px;
    margin-right: 8px;
}
.Takeclothesdetail-title-left div{
    width:auto;
    height:38px;
    line-height:38px;
    color:#000;
    font-size:12px;
    float:left;
}
/* .Takeclothesdetail-title-left div
{
    
} */
/* .Takeclothesdetail-title-left div:last-child{
    float:right;
} */

.Takeclothesdetail-title-right{
    float:left;
    height:38px;
    width: auto;
}
.Takeclothesdetail-title-right div{
    width:auto;
    /* margin-right:8px; */
    height:38px;
    line-height:38px;
    color:#000;
    font-size:12px;
    float:right;
    margin-right: 8px;
}
.Takeclothesdetail-tab table tbody tr td{
    padding:0px 5px;    
}
.Takeclothesdetail-tab table thead tr th{
    padding:0px 5px;    
}
.Takeclothesdetail-tab table tbody{
    overflow-x:hidden;
}
.Takeclothesdetail-tab table tbody tr td:last-child{color: #3fbfdc}
.Takeclothesdetail-tab table tbody tr td input{
    width:15px;
    height:15px;
    cursor:pointer;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}
.Takeclothesdetail-footer{
    height: 24px;
    margin: 8px 16px 0;
}
.Takeclothesdetail-footer-left{
    width:120px;
    height:24px;
    float:left;
    color:#000;
    font-size:12px;
    line-height:24px;
}
.Takeclothesdetail-footer-left input{
    width:14px;
    height:14px;
    float: left;
    margin: 5px 5px 0px 12px;
    cursor:pointer;
}

.Takeclothesdetail-footer-right{
    float:right;
    height:24px;
}
.Takeclothesdetail-footer-right .Takeclothesdetail-footer-right-btn{
    float:right;
    margin-right:15px;
    cursor:pointer;
}
.take-over{
    width:71px;
    height:24px;
    text-align:center;
    color:#fff;
    font-size:12px;
    /* line-height:24px; */
    float:right;
    margin-right:15px;
    cursor: pointer;
    background:#3fbfdc;
    outline:none;
    border:none;
}
.take-no{
    width:71px;
    height:24px;
    text-align:center;
    color:#fff;
    font-size:12px;
    /* line-height:24px; */
    float:right;
    margin-right:15px;
    cursor: pointer;
    background:#c2c2c2;   
    outline:none;
    border:none;  
}
.Takeclothesdetail-footer-right div{
    float: right;
    height:35px;
    line-height:35px;
    color:#f00;
    font-size:12px;
    margin-right:12px;
}
.takeclothes-people{
    width:100%;
    text-align: center;
    line-height:200px;
    color:#000;
    font-size:14px;
}

/* 欠款补交样式 */


.Takeclothesdetail-tab table tbody tr td:nth-child(2) input{
    width: 15px;
    height: 15px;
    cursor: pointer;
    display: -webkit-box;
    float: left;
    margin-top: 5px;
}
.Takeclothesdetail-tab table tbody tr td span{
    font-size: 12px;
    color: #000;
    line-height: 25px;
}


/* 取衣新样式 */
/* .Takeclothesdetail-title-left div{
    margin-right:8px;
} */
.ui-select .e-input{background:none;}
.ui-select .e-input:hover{background: none}