.ope-inc-head.for-sta-head{  
    margin-bottom: 0px;
    line-height: 70px;
}
.ui-table-base.for-sta-tab{
    max-height: 85%;
    overflow-x: auto;
    height: 85%;
    width: 97%;
    margin: auto;
    display: block;
}
.ui-table-base.for-sta-tab thead {
    display: inline-table;
    width: auto;
    height: 40px;
}
.ui-table-base.for-sta-tab thead tr {
    width: auto;
    height: 40px;
}
.ui-table-base.for-sta-tab thead tr td {
    width: 1%;
}
.ui-table-base.for-sta-tab tbody{
    width: auto;
    height: 75%;
    display: -webkit-box;
}
.ui-table-base.for-sta-tab tbody tr{width: auto;display: inline-table}
.ui-table-base.for-sta-tab tbody tr td{width: 1%}
.ui-table-base.for-sta-tab tbody tr:last-child{
    border-bottom:1px solid #d7dde6;
}
.ui-table-base.for-sta-tab tr td{

    min-width: 107px;
    max-width: 107px;
}
.ui-table-base.for-sta-tab thead tr td{
    background: url(./images/thead-border.png) ;
    background-size:1px 24px;
    background-repeat: no-repeat;
    background-position: right center;
}
.ui-table-base.for-sta-tab thead tr td:last-child{background: none}