.ope-inc-head.for-sta-head{  
    margin-bottom: 0px;
    line-height: 70px;
}
.ui-table-base.for-sta-tab{
    overflow-x: auto;
    width: 100%;
    /* margin: auto; */
    /* display: block; */
    padding: 0px 16px 152px;
    position: relative;
    box-sizing: border-box;
    height: 100%;
    max-height: 100%;
}
.ui-table-base.for-sta-tab .ui-table{height: 100%}
.ui-table-base.for-sta-tab thead {
    display: inline-table;
    width: auto;
    height: 40px;
}
.ui-table-base.for-sta-tab thead tr {
    width: auto;
    height: 40px;
}
.ui-table-base.for-sta-tab thead tr td {
    width: 1%;
}
.ui-table-base.for-sta-tab tbody{
    width: auto;
    height: 75%;
}
.ui-table-base.for-sta-tab tbody tr{width: auto;display: inline-table}
.ui-table-base.for-sta-tab tbody tr td{width: 1%}
.ui-table-base.for-sta-tab tbody tr:last-child{
    border-bottom:1px solid #d7dde6;
}
.ui-table-base.for-sta-tab tr td{

    min-width: 107px;
    max-width: 107px;
}
.ui-table-base.for-sta-tab thead tr td{
    background: url(./images/thead-border.png) ;
    background-size:1px 24px;
    background-repeat: no-repeat;
    background-position: right center;
}
.ui-table-base.for-sta-tab thead tr td:last-child{background: none}

.ui-check-res.ReportLossQuery{width: 100%;text-align: left;clear: both;text-indent: 16px}