.Membersdetail{
    width:870px;
    height:39px;
    border:1px solid #e2e6ec;
    background:#f5f8fa;
    margin:13px auto 0;
}
.Membersdetail-div{height:48px}
.Membersdetail div{
    width:auto;
    margin-left:47px;
    line-height:39px;
    color:#585858;
    font-size:12px;
    float: left;
}
.Membersdetail-tab{
    width:870px;
    max-height:434px;
    margin:auto;
}
.Membersdetail-tab-title{
    width:780px;
    height:35px;
    line-height:35px;
    color:#000;
    font-size:12px;
    margin-left: 15px;
}
.Membersdetail-tab-title span{color:#585858}

.Membersdetail-tab table {height: auto;max-width: 780px;margin-left: 10px;overflow-x:auto;overflow-y: hidden;display:block}
.Membersdetail-tab table thead{
    width:1428px;
    height:40px;
    background:#f5f8fa;
    display:inline-block;
}
.Membersdetail-tab table thead tr{
    width:auto;
    height:40px;
}
.Membersdetail-tab table thead tr th{
    width:106px;
    min-width:134px;   
    line-height:40px;
    color:#585858;
    font-size:12px;text-align:center;
    background: url(./images/thead-border.png);
    background-size: 1px 24px;
    background-repeat: no-repeat;
    background-position:right center;
}
.Membersdetail-tab table thead tr th:last-child{background: none}
.Membersdetail-tab table thead tr th:first-child{
    width:31px;
    max-width:31px;
}
.Membersdetail-tab table tbody{
    width:1410px;
    max-height: 268px;
    height: auto;
    display:inline-block;
    overflow-x:hidden;
    overflow-y:auto;
}
.Membersdetail-tab table tbody tr{width:auto;height:40px;display: inline-block}
.Membersdetail-tab table tbody tr td{
    width:106px;
    height:40px;
    /* border-right:1px solid #acc6de; */
    text-align:center;
    line-height:40px;
    color:#000;
    font-size:12px;   
    min-width:134px; 
}
.Membersdetail-tab table tbody tr td:first-child{
    width:31px;
    max-width:31px;
}
.Membersdetail-tab table tbody tr td:last-child{border-right:none}

#Membersdetail{
    height: 85px;
    width: 780px;
}
#Membersdetail div{margin-left:15px;}
