/* 第一个div table */
.LatticeQuery-div{
    width:873px;
    height:auto;
    margin:16px auto 16px;
    border:1px solid #8db2e3;
    max-height:111px;
    overflow-x:hidden;
}
.LatticeQuery-div table{width:875px}
/* 头部样式 */
.LatticeQuery-div table thead{width:875px;height:25px;background:#89b0d4;}
.LatticeQuery-div table thead tr{width:875px;height:25px;}
.LatticeQuery-div table thead tr th{
    width:auto;
    height:25px;
    line-height:25px;
    color:#fff;
    font-size:12px;
    font-weight:bold;
    border-right:1px solid #acc6de;
    padding:0 49.5px;
    text-align:center;
    white-space:nowrap; 
    overflow:hidden; 
    text-overflow:ellipsis;
}
.LatticeQuery-div table thead tr th:last-child{border-right:none}

/* .LatticeQuery-div table thead tr th:nth-child(1){width:120px;}
.LatticeQuery-div table thead tr th:nth-child(2){width:150px;}
.LatticeQuery-div table thead tr th:nth-child(3){width:137px;}
.LatticeQuery-div table thead tr th:nth-child(4){width:113px;}
.LatticeQuery-div table thead tr th:nth-child(5){width:179px;}
.LatticeQuery-div table thead tr th:nth-child(1){width:173px;} */

/* 身体部分 */

.LatticeQuery-div table tbody tr{width:875px;height:25px;}
.LatticeQuery-div table tbody tr:nth-of-type(odd){background:#fff}
.LatticeQuery-div table tbody #selecttr{background:#b5d4f1}
.LatticeQuery-div table tbody tr:nth-of-type(even){background:#f0f5f9}
.LatticeQuery-div table tbody tr td{
    width:auto;
    height:25px;
    line-height:25px;
    color:#000;
    font-size:12px;
    border-right:1px solid #acc6de;
    padding:0 49.5px;
    text-align:center;
    white-space:nowrap; 
    overflow:hidden; 
    text-overflow:ellipsis;
}
.LatticeQuery-div table tbody tr td:last-child{border-right:none;}
.LatticeQuery-Bdiv{
    width:873px;
    height:410px;
    overflow-x:auto;
    border:1px solid #d7dee4;
    max-height:410px;
    margin:auto;
    overflow-y:hidden;
    background:#eef4fb;
}
.LatticeQuery-Bdiv ul{
    width:auto;
    height:auto;
    max-height:415px;
    display:inline-flex;
}
.LatticeQuery-Bdiv ul li{
    width: auto;
    height: auto;
    max-height: 410px;
    float: left;
    margin: 5px 0 8px 11.5px;
    list-style: none;
    clear: both;
    max-width: 873px;
    overflow-y: auto;
 }
 /* .LatticeQuery-Bdiv ul li:last-child{margin-right:8px} */
 .LatticeQuery-Bdiv ul li span{
    display: block;
    width: 94px;
    height: 27px;
    border: 1px solid #d7dee4;
    font-size: 12px;
    color: #000;
    text-align: center;
    line-height: 27px;
    margin-top: 8px;
    background: #fff;
    font-weight:700;
    float: left;
    margin-left:9px;
}
.LatticeQuery-Bdiv ul li span.span-div{color:#ff0000}



/* 格架修改  */

.lattice-title{
    width:872px;
    height:37px;
    margin:0 auto;
    text-align:center;
}
.lattice-title span{
   width:auto;
   display:inline-block;
   height: 37px;
   line-height:37px;
   margin-right:52px;
   color:#000;
   font-size:14px;
}
.lattice-div{
    width:872px;
    margin:0 auto;
    margin-bottom:10px;
}

.lattice-div-left{
    margin-left: 16px;
    width:70px;
    height:295px;
    max-height:295px;
    border:1px solid #d7dee4;
    float:left;
    overflow-y:auto;
    background:#f5f8fa;
    overflow-x:hidden;
    cursor: pointer;
}
.lattice-div-left::-webkit-scrollbar {
    width:5px;
}
.lattice-div-left span{
    display:block;
    width:70px;
    height:30px;
    line-height:30px;
    background:url(./img/cleaning_price_set.png) no-repeat;
    background-size:77px 2px;
    background-position:bottom center;
    color:#000;
    font-size:14px;
    text-align:center;
}
.lattice-div-left span.selected{
    background:#3abbd5;
    color:#fff;
}

.lattice-div-right{
    width:683px;
    height:295px;
    border:1px solid #d7dee4;
    margin-left: 100px;
    max-height:295px;
    overflow-y: auto;
    overflow-x:hidden;
    background:#f5f8fa;
}
.lattice-div-right::-webkit-scrollbar {
    width:5px;
}
.lattice-div-right span{
    display:inline-block;
    width:55px;
    height:24px;
    border:1px solid #d7dee4;
    color:#afafaf;
    background:#fff;
    font-size:14px;
    text-align:center;
    line-height:24px;
    margin:9px 0 5px 10px;
    cursor: pointer;
}
.lattice-div-right span:hover{
   background:#b8f3ff; 
   color:#fff;
}
.lattice-div-right span.index{
    color:#f00;
}
.lattice-div-right span.index:hover{
    
    color:#f00;
}

#latticeselect{background:#3abbd5;color:#fff;}
.lattice-div-right span.index#latticeselect{
 color:#f00;
}
.lattice table{
    width: 770px;
    height: 136px;
    max-width: 770px;
    overflow-x: auto;
    margin-left: 16px;
    overflow-y: hidden;
    display: block;
    overflow-x: hidden;
}
.lattice table thead{
    width: 770px;
    height: 25px;
    display: block;
    background:#f6f7fb; 
}
.lattice table thead tr{ width: 770px;height:25px;}
.lattice table thead tr th{
    width: 84px;
    height: 25px;
    /* border-right: 1px solid #acc6de; */
    color: #58585a;
    font-size: 12px;
    text-align: center;
    max-width: 87px;
    display: inline-grid;
    width: 84px;
}
.Plattice table tbody{
    height: 90px;
    max-height: 90px;
    overflow-y: auto;
    display: block;
    overflow-x: hidden;
}
.lattice table tbody{
    height: 90px;
    max-height: 90px;
    overflow-y: auto;
    display: block;
    overflow-x: hidden;
}
.lattice table tbody tr{width:770px;height:25px;display:block}

.lattice table tbody tr td{
    width:84px;
    height:auto;
    color:#a7a7a7;
    font-size:12px;
    text-align:center;
    max-width:84px;
}