

.Succession_data{
    width:770px;
    height:59px;
    margin:13px auto 0px;
}
.Succession_dataLeft{
    width:768px;
    border:1px solid #e1e4eb;
    height:57px;
    background:#f6f7fb;
    float:left
}
.Succession_dataLeft > div{
    width:207px;
    height:20px;
    margin-top:18px;
    line-height:20px;
    font-size:12px;
    color:#575958;    
    cursor: pointer;
    float: left;
    margin-left:14px;
}
.Succession_data button{

    margin-top: 17px;
    float: right;
    margin-right: 20px;
}
.Succession_dataLeft div input{
    width:133px;
    height:20px;
    background:#fff;;
    background-size:100% 100%;
    outline:none;border:none;
    border:1px solid #c4c2c2;       
    border-radius:3px;
    text-indent:4px;
    cursor: pointer;
    background:url(./img/select.png) no-repeat;background-size:18px 24px;
    background-position-x:115px;
    background-position-y:0; 
}
input[type=date]::-webkit-inner-spin-button {visibility: hidden; }
/*----------用来移除向下箭头----------*/
input[type="date"]::-webkit-calendar-picker-indicator {
   opacity: 0;
 }
 
 /*----------用来移除叉叉按钮----------*/
 input[type="date"]::-webkit-clear-button{
    display:none;
 }
.Succession_dataLeft div input:hover{
    background:url(./img/hoverselect.png) no-repeat;
    background-size:18px 24px;
    background-position-x:115px;
    background-position-y:0; 
}
.Succession_dataLeft div input:hover{border:1px solid #4589ee}
.ui-table-base.succession-tab{

    max-height: 400px;
    /* overflow-x: auto; */
    height:400px;
}
.ui-table-base.succession-tab tbody{

    max-height: 362px;
}
.ui-table-base.succession-tab tr td{
    min-width: 189px;
    max-width: 189px;
}
.ui-table-base.succession-tab tr:last-child{
    /* border-bottom:1px solid #8db2e3; */
}

