

.Succession_data{
    width:770px;
    height:59px;
    margin:13px auto 0px;
    border:1px solid #e1e4eb;
    background:#f6f7fb;
}
.Succession_dataLeft{
    width:768px;   
    height:57px;   
    float:left
}
.Succession_dataLeft > div{
    height:20px;
    margin-top:18px;
    line-height:20px;
    font-size:12px;
    color:#4d4d4d;    
    cursor: pointer;
    float: left;
    margin-left:14px;
}
/* .Succession_dataLeft div input{
    width:133px;
    height:20px;
    background:#fff;;
    background-size:100% 100%;
    outline:none;border:none;
    border:1px solid #c4c2c2;       
    border-radius:3px;
    text-indent:4px;
    cursor: pointer;
    background:url(./img/select.png) no-repeat;background-size:18px 24px;
    background-position-x:117px;
    background-position-y:0; 
} */
/* input[type=date]::-webkit-inner-spin-button {visibility: hidden; } */
/*----------用来移除向下箭头----------*/
/* input[type="date"]::-webkit-calendar-picker-indicator {
   opacity: 0;
 } */
 
 /*----------用来移除叉叉按钮----------*/
 /* input[type="date"]::-webkit-clear-button{
    display:none;
 } */
/* .Succession_dataLeft div input:hover{
    background:url(./img/hoverselect.png) no-repeat;
    background-size:18px 24px;
    background-position-x:117px;
    background-position-y:0; 
}
.Succession_dataLeft div input:hover{border:1px solid #4589ee} */
.ui-table-base.succession-tab{

    max-height: 360px;
    /* overflow-x: auto; */
    height:360px;
}
.ui-table-base.succession-tab tbody{

    max-height: 330px;
}
.ui-table-base.succession-tab tr td{
    min-width: 195px;
    max-width: 195px;
}
/* .ui-table-base.succession-tab tr:last-child{
     border-bottom:1px solid #8db2e3; 
} */

.ui-table-base thead tr td{
    background: url(./images/thead-border.png);
    background-size: 1px 24px;
    background-repeat: no-repeat;
    background-position: right center;
    color: #4d4d4d;
    font-weight: bold;
}
.ui-table-base tbody tr td{color: #999}
.ui-table-base thead tr td:last-child{
    background: none
}
.succession-tab tbody tr{
    border-bottom:1px solid #ebf0f6
}