.in-factory-date{
    font-size: 14px;
    line-height: 26px;
    text-align: center;
}

.in-factory tbody tr td .e-radio{
    display: inline-block;
    min-height: 17px;
    width: auto;
} 
.laundry.clean.into{margin-top: 63px}

