
.out-title{
    width:97%;
    height:56px;
    border:1px solid #d8dce5;
    background:#f6f7fb;
    margin:10px auto 9px;  
}
.out-left{
   float:left;
   margin:14px 22px 0px;
}
.out-left input{
    width: 220px;
    margin-right: 5px;
}
.select-fac-div{
    margin-top: 14px;
    margin-left: 15px;
}
.out-right{
    float:left;
    margin:14px 22px 0px;
    font-size:14px;
    line-height: 31px;
}
.out-right .ui-select-define{
    width:195px;
}

.out-factory tbody tr td .e-radio{
    width: auto;
    border: none;
    background: url(./images/gaiban-n.png);
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: left center;
    text-indent: 14px;
    display: block;
    color:#999;
    border-radius:0;
    cursor: pointer; 
}
.out-factory tbody tr td .e-radio.checked{
    border:none;
    background: url(./images/gaiban-y.png);
    background-size: 14px 14px;
    background-repeat:no-repeat;  
    background-position:left center;
}

