
.out-title{
    width:873px;
    height:56px;
    border:1px solid #89b0d4;
    background:#eef4fb;
    margin:18px auto;
}
.out-left{
   float:left;
   margin:14px 22px 0px;
}
.out-right{
    float:right;
    margin:14px 22px 0px;
    font-size:14px;
}
.out-right .ui-select-define{
    width:195px;
}

.out-factory tbody tr td .e-radio{
    display: inline-block;
    min-height: 17px;
    line-height: 17px;
    padding-left: 22px;
    background-image: url(img/checkbox.png);
    background-repeat: no-repeat;
    background-position: 0;
    cursor: pointer;
    min-width: 15px;
    width: auto;
}
.out-factory tbody tr td .e-radio.checked{
    background-image: url(img/checkbox-checked.png);
}