
.out-title{
    width:97%;
    height:56px;
    border:1px solid #d8dce5;
    background:#f6f7fb;
    margin:10px auto 9px;  
}
.out-left{
   float:left;
   margin:14px 22px 0px;
}
.out-left input{
    width: 220px;
    margin-right: 5px;
}
.select-fac-div{
    margin-top: 14px;
    margin-left: 15px;
}
.out-right{
    float:left;
    margin:14px 22px 0px;
    font-size:14px;
    line-height: 31px;
}
.out-right .ui-select-define{
    width:195px;
}

.out-factory tbody tr td .e-radio{
    display: inline-block;
    min-height: 17px;
    line-height: 17px;
    padding-left: 22px;
    background-image: url(img/checkbox.png);
    background-repeat: no-repeat;
    background-position: 0;
    cursor: pointer;
    min-width: 15px;
    width: auto;
}
.out-factory tbody tr td .e-radio.checked{
    background-image: url(img/checkbox-checked.png);
}

