.upload-toast{
    width: 375px;
    height: 280px;
    /* padding-top: 40px; */
    position: fixed;
    top: 50%;left: 50%;
    margin: -160px 0 0 -187.5px;
    border: 1px solid #3596e3;
    border-radius: 5px;
    background-color: #fff;
    z-index: 100;
}
.upload-toast>div{-webkit-box-sizing: border-box;box-sizing: border-box;width: 100%}
.upload-toast>div:first-child{
    height: 36px;
    line-height: 36px;
    padding-left: 16px;
    background: url(img/t-ui-layer-title.png) 0;
    font-size: 14px;
    color: #15458d;
    overflow: hidden;
}
.upload-toast>div:first-child>span{font-size: 14px}
.upload-toast>div:first-child>i.fa-times{
    position: absolute;
    top:0px;
    right:4px;
    font-size: 26px;
    color: #fff;
}
/* .upload-toast>div:first-child>i.fa-times:hover{background: #2cd3d2;cursor: default} */
.upload-toast>div:last-child{
    padding: 10px 10px 0;
    display:-webkit-flex;display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;
    overflow-y: auto;
}
.upload-toast>div:last-child>div{margin: 0 10px 10px 0}
.upload-toast>div:last-child>div:nth-child(4n+0){margin-right: 0}
#up-photo{
    border-top:0;
    background:none;
}