.clothes-user{
    height: 48px;
    line-height: 48px;
    border: 1px solid #8db2e3;
    margin: 14px 12px;
    color: #063781;
    padding-left: 18px;
    font-size: 12px;
}
.clothes-user>input{margin-right: 18px}
.clothes-header{
    display: -webkit-flex;
    display: flex;
    margin: 0 12px;
    font-weight: bold;
    color: #fff;
    border-left: 1px solid #acc6de;
    border-right: 1px solid #acc6de;
    background: #89b0d4;
}
.clothes-header>div, .clothes-body>div>div{
    border-right: 1px solid #acc6de;
    min-height: 26px;
    line-height: 26px;
    text-align: center;
    font-size: 12px;
}
.clothes-header>:last-child, .clothes-body>div>:last-child{border-right: none}
.clothes-header>:nth-child(1), .clothes-body>div>:nth-child(1){width: 92px}
.clothes-header>:nth-child(2), .clothes-body>div>:nth-child(2){width: 174px}
.clothes-header>:nth-child(3), .clothes-body>div>:nth-child(3){width: 76px}
.clothes-header>:nth-child(4), .clothes-body>div>:nth-child(4){width: 76px}
.clothes-header>:nth-child(5), .clothes-body>div>:nth-child(5){width: 76px}
.clothes-header>:nth-child(6), .clothes-body>div>:nth-child(6){width: 78px}
.clothes-header>:nth-child(7), .clothes-body>div>:nth-child(7){width: 74px}
.clothes-header>:nth-child(8), .clothes-body>div>:nth-child(8){width: 70px}
.clothes-header>:nth-child(9), .clothes-body>div>:nth-child(9){width: 72px}
.clothes-header>:nth-child(10), .clothes-body>div>:nth-child(10){width: 60px}
.clothes-body{
    margin: 0 12px;
    max-height: 328px;
    border: 1px solid #acc6de;
    border-top: none;
    overflow: auto;
}
.clothes-body>div{display: -webkit-flex;display: flex}
.clothes-footer{
    display: -webkit-flex;
    display: flex;
    position: absolute;
    bottom: 14px;
    left: 12px;
    height: 90px;
    width: 870px;
    border: 1px solid #89b0d4;
}
.clothes-footer-left{
    width: 612px;
    padding-left: 22px;
    font-size: 12px;
    color: #063781;
    font-weight: bold;
}
.clothes-footer-left>:first-child{margin-top: 18px;display: -webkit-flex;display: flex}
.clothes-footer-left>:last-child{margin-top: 12px;display: -webkit-flex;display: flex}
.clothes-footer-left>:first-child>:first-child,
.clothes-footer-left>:last-child>:first-child{width: 164px}
.clothes-footer-left>:first-child>:nth-child(2),
.clothes-footer-left>:last-child>:nth-child(2){width: 176px}
.clothes-footer-right{width: 226px;text-align: center}
.clothes-footer-right>:first-child{padding: 12px 0 10px}

/* category.js编辑衣物顶部样式 */
.clothes-editor-top{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 14px;
    height: 48px;
}
.clothes-editor-top>span{font-size: 14px;color: #15458d;font-weight: bold}
.clothes-editor-body{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 350px;
    border: 1px solid #8db2e3;
    margin: 0 14px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 12px 10px;
}
.clothes-editor-body>i{
    font-style: normal;
    height: 28px;
    line-height: 28px;
    width: 92px;
    background: #cde1f7;
    text-align: center;
    overflow: hidden;
    font-size: 12px;
    margin: 0 9px 8px 0;
    cursor: default;
}
.clothes-editor-body>i:hover{background: #6bb1f8;color: #fff;font-weight: bold}
.clothes-editor-body>i:nth-child(6n){margin-right: 0}
/* item.js衣物项目样式 */
.clothes-item-body{
    height: 350px;
    border: 1px solid #8db2e3;
    margin: 0 14px;
}
.clothes-item-header{
    display: -webkit-flex;
    display: flex;
    font-weight: bold;
    color: #fff;
    background: #89b0d4;
}
.clothes-item-header>div, .clothes-items>div>div{
    border-right: 1px solid #acc6de;
    min-height: 26px;
    line-height: 26px;
    text-align: center;
    font-size: 12px;
}
.clothes-item-header>:last-child, .clothes-items>div>:last-child{border-right: none}
.clothes-item-header>div, .clothes-items>div>div{width: 99.2px}
.clothes-items{
    max-height: 324px;
    border: 1px solid #acc6de;
    border-top: none;
    overflow: auto;
}
.clothes-items>div{display: -webkit-flex;display: flex;cursor: default}
.clothes-items>div:hover{background: #cce8ff}
/* brand.js problem.js color.js 界面样式*/
.clothes-problem-top{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    margin: 0 14px;
    height: 48px;
}
.clothes-problem-top>span{font-size: 14px;color: #15458d;font-weight: bold}
.clothes-problem-top>.e-input{width: 442px;height: 24px;margin-right: 12px}
.clothes-problem-body{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 350px;
    border: 1px solid #8db2e3;
    margin: 0 14px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 8px;
    overflow: auto;
}
.clothes-problem-body>i{
    font-style: normal;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    width: 90px;
    text-align: center;
    margin: 0 8px 8px 0;
    background: #cde1f7;
    overflow: hidden;
    cursor: default;
}
.clothes-problem-body>i:nth-child(6n){margin-right: 0}
.clothes-problem-body>i:hover{color: #fff;background: #6bb1f8;font-weight: bold}
/* price.js工艺加价界面样式 */
.clothes-problem-body>.clothes-price{
    display: -webkit-flex;
    display: flex;
    width: 560px;
    height: 36px;
    line-height: 36px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 12px;
    border: 1px solid #8db2e3;
    padding: 0 25px 0 10px;
}
.clothes-price .e-input{width: 100px}
.clothes-price>:first-child{width: 114px}
.clothes-price>:nth-child(2){width: 150px}
.clothes-price>:nth-child(3){width: 112px}