.clothes-user{padding: 28px 20px;position: absolute;top: 0;left: 0;z-index: 1;}
.clothes-user sup{color: red}
.clothes-user>div{padding-bottom: 12px}
.clothes-container{
    height: 100%;
    width: 100%;
    padding:166px 0 106px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
}
.clothes-container>div{
    height: 100%;
    width: 100%;
    overflow: auto;
}
.clothes-container>div::-webkit-scrollbar{
    width:0;
}
.clothes-header{
    display: -webkit-flex;
    display: flex;
    height: 40px;
    width: 100%;
    line-height: 40px;
    font-size: 14px;
    background-color: #f5f8fa;
    padding: 0 20px;
    position: absolute;
    top: 126px;
    left: 0
}

.clothes-header>div, .clothes-body>div>div{
    min-height: 40px;
    text-align: center;
    word-break: break-all;
    cursor: default;
}
.clothes-header>:last-child, .clothes-body>div>:last-child{width: 72px}
.clothes-header>:nth-child(1), .clothes-body>div>:nth-child(1){width: 92px}
.clothes-header>:nth-child(2), .clothes-body>div>:nth-child(2){width: 164px}
.clothes-header>:nth-child(3), .clothes-body>div>:nth-child(3){width: 72px}
/* .clothes-header>:nth-child(4), .clothes-body>div>:nth-child(4){width: 76px} */
.clothes-header>:nth-child(4), .clothes-body>div>:nth-child(4){width: 72px}
.clothes-header>:nth-child(5), .clothes-body>div>:nth-child(5){width: 72px}
.clothes-header>:nth-child(6), .clothes-body>div>:nth-child(6){width: 74px}
.clothes-header>:nth-child(7), .clothes-body>div>:nth-child(7){width: 70px}
.clothes-header>:nth-child(8), .clothes-body>div>:nth-child(8){width: 70px}
.clothes-body>div>:nth-child(9){cursor: default;color: #3fbfdc}
.clothes-body{
    padding: 0 20px;
    max-height: 328px;
    color: #a8a8a8;
    overflow: auto;
}
.clothes-body>div{display: -webkit-flex;display: flex}
.clothes-footer{
    display: -webkit-flex;
    display: flex;
    position: absolute;
    bottom: 16px;
    left: 16px;
    height: 88px;
    width: 767px;
    border: 1px solid #e6ebf5;
    background: #f5f8fa;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0 14px;
    z-index: 1;
}
.clothes-footer-left{
    width: 580px;
    font-size: 14px;
    color: #646766;
    font-weight: bold;
}
.clothes-footer-left>:first-child{margin-top: 20px;display: -webkit-flex;display: flex}
.clothes-footer-left>:last-child{margin-top: 12px;display: -webkit-flex;display: flex}
.clothes-footer-left>:first-child>:first-child,
.clothes-footer-left>:last-child>:first-child{width: 164px}
.clothes-footer-left>:first-child>:nth-child(2),
.clothes-footer-left>:last-child>:nth-child(2){width: 150px}
.clothes-footer-right{
    width: 154px;
    text-align: center;
    display: -webkit-flex;
    display: flex;
}
.clothes-footer-right>:first-child{line-height: 44px}
.clothes-footer-right>:last-child{line-height: 28px;text-align: right}

/* category.js编辑衣物顶部样式 */
.clothes-editor-top{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 14px;
    height: 48px;
}
.clothes-editor-top>span{font-size: 14px;color: #15458d;font-weight: bold}
.clothes-editor-body{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 350px;
    border: 1px solid #8db2e3;
    margin: 0 14px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 12px 10px;
    background: #eef4fb;
}
.clothes-editor-body>i{
    font-style: normal;
    height: 28px;
    line-height: 28px;
    width: 92px;
    background: #cde1f7;
    text-align: center;
    overflow: hidden;
    font-size: 12px;
    margin: 0 9px 8px 0;
    cursor: default;
}
.clothes-editor-body>i:hover{background: #6bb1f8;color: #fff;font-weight: bold}
.clothes-editor-body>i:nth-child(6n){margin-right: 0}
/* item.js衣物项目样式 */
.clothes-item-body{
    height: 255px;
    margin: 0 14px;
    background: #eef4fb;
}
.clothes-item-header{
    display: -webkit-flex;
    display: flex;
    font-weight: bold;
}
.clothes-item-header>div, .clothes-items>div>div{
    min-height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #000;
    background: #f5f8fa;
    text-align: center;
}
.clothes-items>div>div{background: #fff}
.clothes-item-header>div, .clothes-items>div>div{width: 106px;}
.clothes-items{
    max-height: 214px;
    border-top: none;
    overflow: auto;
}
.clothes-items>div{display: -webkit-flex;display: flex;cursor: default}
/* brand.js problem.js color.js 界面样式*/
.clothes-problem-top{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    margin: 0 14px;
    height: 48px;
}
.clothes-problem-top>span{font-size: 14px;color: #3fc0db;font-weight: bold}
.clothes-problem-top>.e-input{width: 442px;height: 24px;margin-right: 12px}
.clothes-problem-body{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 278px;
    margin: 0 14px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: auto;
}
.clothes-body>div:nth-child(odd){background: #fff}
.clothes-body>div:nth-child(even){background: #f0f5f9}
.clothes-problem-body>i{margin: 0 22px 16px 0}
.clothes-problem-body>i:nth-child(6n){margin-right: 0}
/* .clothes-problem-body>i{
    font-style: normal;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    width: 90px;
    text-align: center;
    margin: 0 8px 8px 0;
    background: #cde1f7;
    overflow: hidden;
    cursor: default;
}
.clothes-problem-body>i:nth-child(6n){margin-right: 0}
.clothes-problem-body>i:hover{color: #fff;background: #6bb1f8;font-weight: bold} */
/* price.js工艺加价界面样式 */
.clothes-price-data{
    margin: 0 14px;
    max-height: 352px;
    overflow: auto;
    border: 1px solid #8db2e3;
}
.clothes-price-data>div{
    min-height: 26px;
    line-height: 26px;
    font-size: 12px;
    text-align: center;
    display: -webkit-flex;
    display: flex;
}
.clothes-price-data>div:first-child{
    background: #89b0d4;
    color: #fff;
    font-weight: bold;
}
.clothes-price-data>div>div:nth-child(1){width: 146px}
.clothes-price-data>div>div:nth-child(2){border-left: 1px solid #acc6de;border-right: 1px solid #acc6de;width: 370px}
.clothes-price-data>div>div:nth-child(3){width: 84px;color: #2151ed;cursor: default}
.clothes-price-data>div:first-child>div:nth-child(3){color: #fff;cursor: auto}
.clothes-price-main{
    margin: 12px;
    height: 262px;
    overflow: auto;
}
.clothes-price-main>.clothes-price{
    display: -webkit-flex;
    display: flex;
    width: 386px;
    height: 36px;
    line-height: 36px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 12px;
    border: 1px solid #8db2e3;
    padding: 0 25px 0 10px;
}
.clothes-price .e-input{width: 102px}
.clothes-price>:first-child{width: 130px}
.clothes-price>:nth-child(2){width: 148px}
.clothes-price-bottom{margin-right: 18px;text-align: right}
/* temp.js临时衣物界面样式 */
.clothes-temp-top{
    height: 40px;
    line-height: 40px;
    margin: 0 12px;
    font-size: 14px;
    color: #3fc0db;
    font-weight: bold;
}
.clothes-temp-body{
    height: 183px;
    margin: 0 12px 12px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-top: 20px;

}
.clothes-temp-body>div, .clothes-update-price>div{
    display: -webkit-flex;
    display: flex;
    padding-bottom: 12px;
    line-height: 28px;
}
.clothes-temp-body>div>:first-child{width: 110px;text-align: right;}
.clothes-temp-footer{
    margin: 0 16px;
    text-align: right;
}
.clothes-update-price{
    height: 136px;
    margin: 0 12px 8px;
    border: 1px solid #8db2e3;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-top: 32px;
}
.clothes-update-price>div>:first-child{width: 116px;text-align: right;color: #15458d}
.clothes-update-price>div input{width: 131px}
.clothes-deduct-top{
    height: 74px;
    margin: 10px 12px 9px;
    border: 1px solid #8db2e3;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 13px 0 0 13px;
    font-size: 12px;
    color: #000;
}
.clothes-deduct-body{
    height: 272px;
    margin: 0 12px;
    border: 1px solid #8db2e3;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 12px;
    color: #15458d;
    padding-top: 14px;
}
.clothes-deduct-body>div{
    margin-bottom: 12px;
    display: -webkit-flex;
    display: flex;
}
.clothes-deduct-body>div>span:first-child{width: 86px;text-align: right}
.clothes-deduct-body>div>textarea{
    width: 405px;
    height: 87px;
    border-radius: 3px;
    border: 1px solid #bfc3c7;
    outline: none;
    resize: none;
}
/* user.js填写客户信息界面搭建 */
.clothes-user-top{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    margin: 10px 26px 10px 10px;
}
.clothes-user-top>:first-child{
    height: 70px;
    width: 640px;
    margin-right: 26px;
    border: 1px solid #8db2e3;
    color: #063781;
}
.clothes-user-top>:first-child i{color: red}
.clothes-user-top>:first-child>:first-child{padding: 10px 0;}
.clothes-user-top>:first-child>div{display: -webkit-flex;display: flex}
.clothes-user-top>:first-child>div .e-input{width: 126px;margin-right: 38px}
.clothes-user-top>:first-child>div>:first-child{width: 66px;text-align: right}
.clothes-user-main{
    max-height: 298px;
    margin: 0 10px;
}
.clothes-user-main-body{max-height:270px;overflow: auto}
.clothes-user-main>:first-child{
    display: -webkit-flex;
    display: flex;
    min-height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #000;
    background: #f5f8fa;
    text-align: center;
}
.clothes-user-main-body>div{
    display: -webkit-flex;
    display: flex;
    min-height: 16px;
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
    word-break: break-all;
    color: #a7a7a7;
}
.clothes-user-main>:first-child>div,
.clothes-user-main-body>div>div{width: 74px;padding-right: 6px}
.clothes-user-main>:first-child>div:last-of-type,
.clothes-user-main-body>div>div:last-of-type{padding-right: 0}
.clothes-user-main>:first-child>div:nth-child(3),
.clothes-user-main-body>div>div:nth-child(3) {width: 78px}
.clothes-user-main>:first-child>div:nth-child(7),
.clothes-user-main-body>div>div:nth-child(7) {width: 116px}
.clothes-user-main>:first-child>div:nth-child(4),
.clothes-user-main-body>div>div:nth-child(4) {width: 114px}

/* code.js衣物编码界面 */
.clothes-code{
    margin: 12px;
    text-align: center;
    line-height: 26px;
}
.clothes-code>:last-child{
    max-height: 216px;
    overflow: auto;
}
.clothes-code>:first-child, .clothes-code>:last-child>div{
    display: -webkit-flex;
    display: flex;
    height: 28px;
}
.clothes-code>:first-child{background: #f5f8fa}
.clothes-code>:last-child>div>:first-child, .clothes-code>:first-child>:first-child{width: 120px}
.clothes-code>:last-child>div>:last-child, .clothes-code>:first-child>:last-child{width: 240px}
/* 线上收衣添加衣物 */
.add-item-online{margin-top:35px;}
.add-item-btn{margin-top:30px}
/* 新版本样式 */
.clothes-cate-top{
    height: 54px;
    align-items: center;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    margin: 0 20px 46px;
}
.clothes-cate-top>span{
    height: 100%;
    border-bottom: 2px solid #3fc0db;
    color: #3fc0db;
    line-height: 54px;
}
.clothes-cate-body{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 226px;
    margin: 0 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.clothes-cate-body>i{margin: 0 24px 16px 0}
.clothes-cate-body>i:nth-child(6n){margin-right: 0}