.clothes-user{
    height: 48px;
    line-height: 48px;
    border: 1px solid #8db2e3;
    margin: 14px 12px;
    color: #063781;
    padding-left: 18px;
    font-size: 12px;
}
.clothes-user>input{margin-right: 18px}
.clothes-header{
    display: -webkit-flex;
    display: flex;
    margin: 0 12px;
    font-weight: bold;
    color: #fff;
    border-left: 1px solid #acc6de;
    border-right: 1px solid #acc6de;
    background: #89b0d4;
}
.clothes-header>div, .clothes-body>div>div{border-right: 1px solid #acc6de}
.clothes-header>:last-child, .clothes-body>div>:last-child{border-right: none}
.clothes-header>div, .clothes-body>div>div{min-height: 26px;line-height: 26px;text-align: center;font-size: 12px}
.clothes-header>:nth-child(1), .clothes-body>div>:nth-child(1){width: 92px}
.clothes-header>:nth-child(2), .clothes-body>div>:nth-child(2){width: 174px}
.clothes-header>:nth-child(3), .clothes-body>div>:nth-child(3){width: 76px}
.clothes-header>:nth-child(4), .clothes-body>div>:nth-child(4){width: 76px}
.clothes-header>:nth-child(5), .clothes-body>div>:nth-child(5){width: 76px}
.clothes-header>:nth-child(6), .clothes-body>div>:nth-child(6){width: 78px}
.clothes-header>:nth-child(7), .clothes-body>div>:nth-child(7){width: 74px}
.clothes-header>:nth-child(8), .clothes-body>div>:nth-child(8){width: 70px}
.clothes-header>:nth-child(9), .clothes-body>div>:nth-child(9){width: 72px}
.clothes-header>:nth-child(10), .clothes-body>div>:nth-child(10){width: 60px}
.clothes-body{
    margin: 0 12px;
    max-height: 328px;
    border: 1px solid #acc6de;
    border-top: none;
    overflow: auto;
}
.clothes-body>div{display: -webkit-flex;display: flex}
.clothes-footer{
    position: absolute;
    bottom: 14px;
    left: 12px;
    height: 90px;
    width: 870px;
    border: 1px solid #89b0d4;
    font-size: 12px;
    color: #063781;
}
