
.managerquery-div{
    height:auto;
    max-height:215px;
    margin-top:13px;
}
.managerquery-div .managerquery-tab thead tr th:first-child{
    min-width:95px;
    background:none;
}
.managerquery-div .managerquery-tab thead tr th{min-width:95px;}
.managerquery-div .managerquery-tab tbody tr td:first-child{
    min-width:95px;
}
.managerquery-div .managerquery-tab tbody tr td{min-width:95px;}

.Succession_dataLeft div .ui-select-define{
    width:135px;    
    margin-top: -2px;
}
.managerquery_dataLeft{
    width:699px;
    float:left;
}
.managerquery_btn{
    margin-top:13px;
    margin-left:18px;
    float:left;
    cursor:pointer;
}
/* table部分 */
.ui-table-base.man-que-tab-two{
    max-height:224px;
    margin-top: 15px;
    max-width: 874px;
    overflow-x: auto;
    height:224px;
}
.ui-table-base.man-que-tab-two tbody{
    max-height:180px;
    height:180px;
}
.ui-table-base.man-que-tab-two tr td{
    max-width: 105px;
    min-width: 105px;
}
.ui-table-base.man-que-tab-two tr:last-child{
    border:1px solid #8db2e3;
}
/* 修改之后 */
.ui-table-base.man-que-tab{
    max-height: 210px;
}
.ui-table-base.man-que-tab tbody{
    max-height: 185px;
}
.ui-table-base.man-que-tab tbody::-webkit-scrollbar{
    width:0;
}
.ui-table-base.man-que-tab tr td{
    min-width:218px;
    max-width:218px;
}
