
.managerquery-div{
    height:auto;
    max-height:215px;
    margin-top:13px;
}
.managerquery-div .managerquery-tab thead tr th:first-child{
    min-width:95px;
    background:none;
}
.managerquery-div .managerquery-tab thead tr th{min-width:95px;}
.managerquery-div .managerquery-tab tbody tr td:first-child{
    min-width:95px;
}
.managerquery-div .managerquery-tab tbody tr td{min-width:95px;}
.Succession_dataLeft div .ui-select-define{width:135px;}

.managerquery-btn {width:auto;float:right;margin-top:9px;}
.managerquery-btn button{margin:8px 8px}