
.managerquery-div{
    height:auto;
    max-height:215px;
    margin-top:13px;
}
.managerquery-div .managerquery-tab thead tr th:first-child{
    min-width:95px;
    background:none;
}
.managerquery-div .managerquery-tab thead tr th{min-width:95px;}
.managerquery-div .managerquery-tab tbody tr td:first-child{
    min-width:95px;
}
.managerquery-div .managerquery-tab tbody tr td{min-width:95px;}

.Succession_dataLeft div .ui-select-define{
    width:135px;    
    margin-top: -2px;
}
.managerquery_dataLeft{
    width:668px;
    float:left;
}
.managerquery_dataLeft div .e-date{width: 146px;}
.managerquery_dataLeft .ui-select{width: 147px}
.managerquery_btn{
    margin-top:13px;
    margin-left:18px;
    float:left;
    cursor:pointer;
}
/* table部分 */
.ui-table-base.man-que-tab-two{
    max-height:141px;
    margin-top: 15px;
    max-width: 874px;
    overflow-x: auto;
    height:141px;
    border:1px solid #e6e7ec;
    border-bottom: none;
}
.ui-table-base.man-que-tab-two tbody{
    max-height:99px;
    height:99px;
}
.ui-table-base.man-que-tab-two tr td{
    max-width: 105px;
    min-width: 105px;
}
/* 修改之后 */
.ui-table-base.man-que-tab{
    max-height: 210px;
    margin-top:3px;
    /* height: 210px; */
    border:1px solid #e6e7ec;
    border-bottom: none;
}
.ui-table-base.man-que-tab tbody{
    max-height: 185px;
}
.ui-table-base.man-que-tab tbody::-webkit-scrollbar{
    width:0;
}
.ui-table-base.man-que-tab tr td{
    min-width:192px;
    max-width:192px;
}
.ui-table-base.man-que-tab-two tbody{width: auto} 
