/* 充值统计页面样式  顶部*/
.bal-head{
    width: 767px;
    margin: 10px auto;
    border: 1px solid #dbdfe6;
    height: 57px;
    background: #f5f8fa;
    line-height: 57px;
}
.bal-head span{
    color:#585858;
    font-size:13px;
    margin-left: 12px;
    margin-right:12px;
    /* margin-top: 17px; */
    float: left;
}
.bal-head span b{color:#ff0000;font-size:14px;margin-left:3px}
.balancestatistics_title{width:875px;margin:auto;height:59px;margin-top:15px}
.balancestatistics_title_left {width:auto;height:47px;line-height:47px;float:left}
.balancestatistics_title_left span{color:#063781;font-size:12px;margin-right:13px}
.balancestatistics_title_left span:last-child{margin-left:53px}
.balancestatistics_title_left span b{color:#ff0000;font-size:14px;margin-left:3px}
.balancestatistics_title_left button{   
    width:71px;
    height:24px;
    margin:11px 0 11px 30px;
    color:#000;
    font-size:12px;
    line-height:24px;
    text-align:center;
    background:url(./img/e-btn.png);
    outline:none;
    background-size:71px 24px;
    border:none; 
    cursor: pointer;
}
.balancestatistics_title_left button:hover{background:url(./img/e-btn-hover.png);background-size:100% 100%}
.balancestatistics_title_right{float:right;width:228px;height:23px;margin:15px 5px 0 0}
#balancestatistics_title_left{
    width:493px;
    margin-right:11px;
    float:left;
    margin-left:11px;
    height:57px;
    margin-bottom:12px
}
.ui-table-base.bal-sta-tab.bal-tab{
    max-height: 361px;
    margin-top: 5px;
    max-width: 872px;
    overflow-x: auto;
    height: 361px;

}
.ui-table-base.bal-sta-tab.bal-tab tbody{
    max-height: 305px;
    height: 305px;
    width: 1007px;
}
.ui-table-base.bal-sta-tab.bal-tab tr td{
    max-width: 138px;
    min-width: 138px;
}
.ui-table-base.bal-sta-tab.bal-tab tr td:first-child{
    max-width: 40px;
    min-width: 40px;
}
.ui-table-base.bal-sta-tab.bal-tab thead tr td:first-child {
    background: url(./img/revokedata_list_box_span.png) no-repeat;
    background-size: 10px 10px;
    background-position-x: 27px;
    background-position-y: 12px;
}
.ui-table-base.bal-sta-tab.bal-tab tr:last-child{
    border-bottom:1px solid #dbdfe6;
}
.ui-table-base.bal-sta-tab.bal-tab thead tr td{
    background: url(./images/00000000000000000);
    background-size: 2px 24px;
    background-repeat: no-repeat;
    background-position: right center;
}
.ui-table-base.bal-sta-tab.bal-tab thead tr td:last-child{background:none}
#cust-tab table thead th{
    background: url(./images/thead-border.png);
    background-size: 2px 24px;
    background-repeat: no-repeat;
    background-position:right center;
}
#cust-tab table thead th:last-child{background:none}
.lattice table thead tr th{
    background: url(./images/thead-border.png);
    background-size: 2px 24px;
    background-repeat: no-repeat;
    background-position: right center;
}
.lattice table thead tr th:last-child{background:none}