/* 充值统计页面样式  顶部*/
.balancestatistics_title{width:875px;margin:auto;height:47px}
.balancestatistics_title_left{width:auto;height:47px;line-height:47px;float:left}
.balancestatistics_title_left span{color:#063781;font-size:12px;margin-right:13px}
.balancestatistics_title_left span:last-child{margin-left:53px}
.balancestatistics_title_left span b{color:#ff0000;font-size:14px;margin-left:3px}
.balancestatistics_title_left button{   
    width:71px;
    height:24px;
    margin:11px 0 11px 30px;
    color:#000;
    font-size:12px;
    line-height:24px;
    text-align:center;
    background:url(./img/e-btn.png);
    outline:none;
    background-size:71px 24px;
    border:none; 
    cursor: pointer;
}
.balancestatistics_title_left button:hover{background:url(./img/e-btn-hover.png);background-size:100% 100%}
.balancestatistics_title_right{float:right;width:228px;height:23px;margin:15px 5px 0 0}

/* 充值统计tab页面样式 */
.balancestatistics_count_title span:nth-child(2){width:132px}
.balancestatistics_count_title span:nth-child(3){width:107px}
.balancestatistics_count_title span:nth-child(4){width:136px}
.balancestatistics_count_title span:nth-child(5){width:106px}
.balancestatistics_count_title span:nth-child(6){width:216px}
.balancestatistics_count_title span:nth-child(7){width:132px}

.balancestatistics_count_list tbody tr td:last-child{color:#2151ed;cursor: pointer;}
.balancestatistics_count_list tbody tr td:nth-child(2){width:132px}
.balancestatistics_count_list tbody tr td:nth-child(3){width:105px}
.balancestatistics_count_list tbody tr td:nth-child(4){width:135px}
.balancestatistics_count_list tbody tr td:nth-child(5){width:105px}
.balancestatistics_count_list tbody tr td:nth-child(6){width:215px}
.balancestatistics_count_list tbody tr td:nth-child(7){width:132px}


