/* 弹出窗口样式 */
.ui-window{
    width: 900px;
    height: 624px;
    background: #e3effd;
    position: absolute;
    top: 50%;left: 50%;
    margin: -312px 0 0 -450px;
    border: 1px solid #8899ad;
    border-radius: 8px;
    overflow: hidden;
}
.ui-window>div:first-child{
    height: 36px;
    line-height: 36px;
    padding-left: 16px;
    background: url(img/t-ui-layer-title.png) left center;
    font-size: 14px;
    color: #15458d;
    font-weight: bold;
    overflow: hidden;
}
.ui-window>div:first-child>i{
    float: right;
    width: 15px;
    height: 15px;
    margin: 10px 12px 0 0;
    background: url(img/t-ui-layer-close.png);
    cursor: default;
}
.ui-window>div:first-child>i:hover{background: url(img/t-ui-layer-close-hover.png)}
/* 表格样式 */
.ui-table.ui-full-table{width: 100%}
.ui-table tr{height:24px;line-height: 24px;font-size: 12px;text-align: center}
.ui-table th, .ui-table td{min-width: 85px}
.ui-table.border td,
.ui-table.border th{
    border: 1px solid #acc6de;
    border-top: 0;
    border-bottom: 0;
}
.ui-table.border tr:last-child{border-bottom: 1px solid #acc6de}
.ui-table>thead>tr{background: #89b0d4;color: #fff;font-weight: bold}