/* 弹出层容器组件 */
.ui-layer-box{
    min-width: 358px;
    min-height: 268px;
    background: #fff;
    border: 1px solid #8899ad;
    border-radius: 8px;
    overflow: hidden;
}
.ui-layer-box>:nth-child(2){min-height: 192px;background: #f9fcff}
.ui-layer-box>:last-child{
    height: 40px;
    border-top: 1px solid #8899ad;
    background: #dae6f5;
    padding-right: 12px;
    line-height: 36px;
    text-align: right;
}
/* 表格样式 */
.ui-table.ui-full-table{width: 100%}
.ui-table tr{height:24px;line-height: 24px;font-size: 12px;text-align: center}
.ui-table th, .ui-table td{min-width: 85px}
.ui-table.border td,
.ui-table.border th{
    border: 1px solid #acc6de;
    border-top: 0;
    border-bottom: 0;
}
.ui-table.border tr:last-child{border-bottom: 1px solid #acc6de}
.ui-table>thead>tr{background: #89b0d4;color: #fff;font-weight: bold}

/* 附带下拉框的搜索框样式 */
.ui-select-search{
    display: -webkit-inline-flex;
    display: inline-flex;
    height: 23px;
    font-size: 12px;
}
.ui-select-search>div{
    height: 100%;
    line-height: 21px;
    position: relative;
    overflow: hidden;
}
.ui-select-search>.ui-select-search-option-show{overflow: visible}
.ui-select-search>div>i{
    height: 100%;
    width: 13px;
    background: url(img/ui-selectsearch-grey.png) no-repeat center center;
    position: absolute;
    top: 0;right: 5px;
    z-index: 1;
    cursor: default;
}
.ui-select-search-selected{
    padding: 0 28px 0 6px;
    border: 1px solid #c2c2c2;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: default;
}
.ui-select-search-option-show>.ui-select-search-selected{border-bottom-left-radius: 0;}
.ui-select-search-option{
    background: #fff;
    border: 1px solid #c2c2c2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 100%;
    border-top: 0;
    white-space:nowrap;    /* 文字不换行 */
    position: absolute;
    top: 23px;
    left: 0;
    z-index: 1;
    cursor: default;
}
.ui-select-search-option>div{
    padding: 0 28px 0 6px;
    border-bottom: 1px solid #c2c2c2;
}
.ui-select-search-option>div:last-child{border: none}
.ui-select-search>input[type=text], 
.ui-select-search>button{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: 21px;
    height: 100%;
    padding: 0 6px;
    border: 0;
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    outline: none;
}

.ui-select-search>input[type=text]{width: 122px;font-size: 12px}
.ui-select-search>button{
    width: 28px;
    background: url(img/ui-search-grey.png) no-repeat center center;
    border-right: 1px solid #c2c2c2;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
/* 主题色定义 #6f9ec2*/
.ui-select-search-blue>div>i{background: url(img/ui-selectsearch-blue.png) no-repeat center center}
.ui-select-search-blue .ui-select-search-selected{border-color: #6f9ec2}
.ui-select-search-blue .ui-select-search-option{border-color: #6f9ec2}
.ui-select-search-blue .ui-select-search-option>div{border-color: #6f9ec2}
.ui-select-search-blue>input[type=text], 
.ui-select-search-blue>button{border-color: #6f9ec2}
.ui-select-search-blue>button{
    background: url(img/ui-search-blue.png) no-repeat center center;
    border-color: #6f9ec2;
}
/* 时间选择框的样式（右侧带箭头） */
.ui-date{
    width: 140px;
    height: 20px;    
    background-size: 100% 100%;
    outline: none;
    border: 1px solid #c4c2c2;
    border-radius: 3px;
    text-indent: 4px;
    cursor: pointer;
    background:#fff url(./img/select.png) no-repeat;
    background-size: 20px 24px;
    background-position: 101% -1px;
}

.ui-date:hover{
    background:#fff url(./img/hoverselect.png) no-repeat;
    background-size: 20px 24px;
    background-position: 101% -1px;
    border: 1px solid #4589ee;
}

/*  table宽度固定，等宽（）*/
.ui-table-base{
    /* 非块级不能滚动 */
    display: block;
    margin:8px 13px;
    height: auto;
    /* 可自定义 */
    width:768px;
    max-height:384px;
    overflow: hidden;
    margin: 0 auto;
}
.ui-table-base tr td,.ui-table-base tr th{
    padding: 0;
    width: auto;
    height: 30px;
    line-height: 15px;
    font-size: 12px;
    text-align: center;
    border-right: 1px solid #e6ecf5;
    word-wrap: break-word;
    /* 根据具体情况设置最小宽度 */
    /* min-width: 91px; */
}
.ui-table-base tr td:last-child{
    border-right:none;
}
.ui-table-base thead tr{
    background-color: #f6f7fb;
    color: #000;
    /* font-weight: bold; */
}
.ui-table-base tbody tr{
    color: #999;
    display:inline-block;
}
.ui-table-base tbody tr:last-child{
    border-bottom:1px solid #ebf0f6;
}
.ui-table-base tbody{
    display:inline-block;
    /* 可以自定义 （减去一行高度）*/
    max-height: 375px;
    overflow-x: hidden;
    overflow-y: auto;
    width:768px;
}
/* .ui-table-base tbody::-webkit-scrollbar{
    width: 0;
} */

 /* table自适应宽度高度，超出有滚动条*/
.ui-table-base.auto-width{

    table-layout: auto;
    display: inline-block;
    width: auto;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 874px;
    /* 根据自己需要进行设置 */
    max-height: 200px;
}
.ui-table-base.auto-width tr td{
    min-width: 120px;
}

.ui-table-base.auto-width tbody{
    overflow-x: hidden;
    overflow-y: auto;
    /* 根据自己需要设置 */
    max-height: 175px;
}
/*整体宽度一定，每列宽度根据内容自由分配（不能滑动）*/
.ui-table-base.adaption-width{
    display: table;
}
.ui-table-base.adaption-width thead{

    display:table-header-group;
}
.ui-table-base.adaption-width tbody{

    display: table-row-group;
}
.ui-table-base.adaption-width tr td{
    max-width: 80px;
}
/* 查询结果样式 */
/* <div class="ui-check-res">已为您找到<b>15248</b>条数据</div> */
.ui-check-res{
    margin-left: 13px;
    color: #15458d;
    font-size: 13px; 
    height:30px;
    line-height:30px;  
}
.ui-check-res b{
    color:red;
    font-size: 14px;
}
/* 给表格加选中样式 */
 table tbody tr:nth-child(even):hover{
    background:#c3eaf2;
    cursor: pointer;
} 
table tbody tr:nth-child(odd):hover{
    background:#c3eaf2;
    cursor: pointer;
} 
#no-data{
    display: block;
    background: url(./img/no-data.png) no-repeat;
    background-size: 96px 76px;
    height: auto;
    padding-top: 96px;
    text-align: center;
    color: #333;
    font-size: 12px;
    line-height: 22px;
    margin-left:297px;
    margin-top:105px;
    margin-bottom: 40px;
    background-position-x: 27px;
    min-width:150px;
    max-width:150px;
    border-bottom:none;
}

#no-data:hover{
    background-color:none; 
}
#no-data #no-data-noti{
    min-height: 20px;
    max-height: 20px;
    max-width: 150px;
    min-width: 150px;
    text-align: center; 
}

table{background:#fff}
/* input{outline-color:#4589ee } */

input::-webkit-inner-spin-button{
    -webkit-appearance:none;
}
input::-webkit-outer-spin-button{
    -webkit-appearance:none;
}
table tbody tr td{
    word-break: break-all;
}
/* 3.1.1工厂新增 */
.e-box table tbody tr td{
    color:#999;
    font-size:12px;
    word-break:break-all;
}
.ui-img-upload-window{
    width: 100%;
    height: 314px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 6px 0 0 6px;
    overflow-y: auto;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.ui-img-upload-window::-webkit-scrollbar{width:0px}
.ui-img-upload-window::-webkit-scrollbar-thumb{border-radius: 10px;background: #ccc;}
/* ui-img-upload-window-add.png */
.ui-img-upload-window>div{
    width: 80px;
    height: 80px;
    margin: 0 3px 3px 0;
    position: relative;
    cursor: default;
    border:1px solid #ccc;
}
.ui-img-upload-window>div.ui-img-upload-window-add{
    background-image: url(img/ui-img-upload-window-add.png);
    background-size: 80px 80px;
}
.ui-img-upload-window>div.ui-img-upload-window-add>input[type=file]{
    width: 100%;
    height: 100%;
    opacity: 0;    
}
 /* .ui-img-upload-window>div:nth-child(4n+0){margin-right:0}  */
.ui-img-upload-window>div>i{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;right: 0;
    background: url(img/ui-img-upload-window-del.png) no-repeat;
}
.ui-img-upload-window>div>img{width: 100%;height: 100%;}


