/* 弹出窗口样式 */
.ui-window{
    background: #e3effd;
    position: absolute;
    top: 50%;left: 50%;
    border: 1px solid #8899ad;
    border-radius: 8px;
}
.ui-window>:first-child,
.ui-layer-box>:first-child{
    height: 36px;
    line-height: 36px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-left: 16px;
    background: url(img/t-ui-layer-title.png) left center;
    font-size: 14px;
    color: #15458d;
    font-weight: bold;
    overflow: hidden;
}
.ui-window>:first-child>i,
.ui-layer-box>:first-child>i{
    float: right;
    width: 15px;
    height: 15px;
    margin: 10px 12px 0 0;
    background: url(img/t-ui-layer-close.png);
    cursor: default;
}
.ui-window>:first-child>i:hover,
.ui-layer-box>:first-child>i:hover{background: url(img/t-ui-layer-close-hover.png)}
/* 弹出层容器组件 */
.ui-layer-box{
    min-width: 358px;
    min-height: 268px;
    background: #fff;
    border: 1px solid #8899ad;
    border-radius: 8px;
    overflow: hidden;
}
.ui-layer-box>:nth-child(2){min-height: 192px;background: #f9fcff}
.ui-layer-box>:last-child{
    height: 40px;
    border-top: 1px solid #8899ad;
    background: #dae6f5;
    padding-right: 12px;
    line-height: 36px;
    text-align: right;
}
/* 表格样式 */
.ui-table.ui-full-table{width: 100%}
.ui-table tr{height:24px;line-height: 24px;font-size: 12px;text-align: center}
.ui-table th, .ui-table td{min-width: 85px}
.ui-table.border td,
.ui-table.border th{
    border: 1px solid #acc6de;
    border-top: 0;
    border-bottom: 0;
}
.ui-table.border tr:last-child{border-bottom: 1px solid #acc6de}
.ui-table>thead>tr{background: #89b0d4;color: #fff;font-weight: bold}



/* 附带下拉框的搜索框样式 */
.ui-select-search{
    display: -webkit-inline-flex;
    display: inline-flex;
    height: 23px;
    font-size: 12px;
}
.ui-select-search>div{
    height: 100%;
    line-height: 21px;
    position: relative;
    overflow: hidden;
}
.ui-select-search>.ui-select-search-option-show{overflow: visible}
.ui-select-search>div>i{
    height: 100%;
    width: 13px;
    background: url(img/ui-selectsearch-grey.png) no-repeat center center;
    position: absolute;
    top: 0;right: 5px;
    z-index: 1;
    cursor: default;
}
.ui-select-search-selected{
    padding: 0 28px 0 6px;
    border: 1px solid #c2c2c2;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: default;
}
.ui-select-search-option-show>.ui-select-search-selected{border-bottom-left-radius: 0;}
.ui-select-search-option{
    background: #fff;
    border: 1px solid #c2c2c2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 100%;
    border-top: 0;
    white-space:nowrap;    /* 文字不换行 */
    position: absolute;
    top: 23px;
    left: 0;
    z-index: 1;
    cursor: default;
}
.ui-select-search-option>div{
    padding: 0 28px 0 6px;
    border-bottom: 1px solid #c2c2c2;
}
.ui-select-search-option>div:last-child{border: none}
.ui-select-search>input[type=text], 
.ui-select-search>button{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: 21px;
    height: 100%;
    padding: 0 6px;
    border: 0;
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    outline: none;
}

.ui-select-search>input[type=text]{width: 122px;font-size: 12px}
.ui-select-search>button{
    width: 28px;
    background: url(img/ui-search-grey.png) no-repeat center center;
    border-right: 1px solid #c2c2c2;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
/* 主题色定义 #6f9ec2*/
.ui-select-search-blue>div>i{background: url(img/ui-selectsearch-blue.png) no-repeat center center}
.ui-select-search-blue .ui-select-search-selected{border-color: #6f9ec2}
.ui-select-search-blue .ui-select-search-option{border-color: #6f9ec2}
.ui-select-search-blue .ui-select-search-option>div{border-color: #6f9ec2}
.ui-select-search-blue>input[type=text], 
.ui-select-search-blue>button{border-color: #6f9ec2}
.ui-select-search-blue>button{
    background: url(img/ui-search-blue.png) no-repeat center center;
    border-color: #6f9ec2;
}
/* 下拉框组件 */
.ui-select{
    display: inline-block;
    height: 22px;
    line-height: 20px;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    border-radius: 3px;
    font-size: 12px;
    background: #fff;
}
.ui-select.ui-select-readonly{background: #efefef}
.ui-select.ui-select-show{overflow: visible}
.ui-select>i{
    height: 100%;
    width: 18px;
    background: url(img/ui-select-grey.png) no-repeat center center;
    position: absolute;
    top: 0;right: 0;
    z-index: 1;
    cursor: default;
}
.ui-select:hover>i{background: url(img/ui-select-blue.png) no-repeat center center}
.ui-select.ui-select-readonly>i, .ui-select.ui-select-readonly:hover>i{background: url(img/ui-select-readonly.png) no-repeat center center}
.ui-select-selected{
    height: 20px;
    padding: 0 24px 0 6px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border: 1px solid #c2c2c2;
    cursor: default;
}
.ui-select:hover>.ui-select-selected{border: 1px solid #6f9ec2}
.ui-select.ui-select-readonly:hover>.ui-select-selected{border: 1px solid #c2c2c2}
.ui-select-option{
    background: #fff;
    border: 1px solid #c2c2c2;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    min-width: 100%;
    max-height: 160px;
    overflow-y: auto;
    border-top: 0;
    white-space:nowrap;    /* 文字不换行 */
    position: absolute;
    top: 22px;
    left: 0;
    z-index: 10;
    cursor: default;
}
.ui-select:hover .ui-select-option{border: 1px solid #6f9ec2}
.ui-select-option>div{padding: 0 24px 0 6px}
.ui-select-option>div:hover{background: #66b8f8;color: #fff}
/* 时间选择框的样式（右侧带箭头） */
.ui-date{

    width: 140px;
    height: 20px;    
    background-size: 100% 100%;
    outline: none;
    border: 1px solid #c4c2c2;
    border-radius: 3px;
    text-indent: 4px;
    cursor: pointer;
    background:#fff url(./img/select.png) no-repeat;
    background-size: 20px 24px;
    background-position: 101% -1px;
}

.ui-date:hover{

    background:#fff url(./img/hoverselect.png) no-repeat;
    background-size: 20px 24px;
    background-position: 101% -1px;
    border: 1px solid #4589ee;
}

/*  table宽度固定，等宽（）*/
.ui-table-base{
    /* 非块级不能滚动 */
    display: block;
    margin:8px 13px;
    height: auto;
    /* 可自定义 */
    width: 874px;
    max-height: 400px;
    border: 1px solid #8db2e3;
    overflow: hidden;
}
.ui-table-base tr td,.ui-table-base tr th{

    padding: 0;
    width: auto;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    border-right: 1px solid #a4c0da;
    word-wrap: break-word;
    /* 根据具体情况设置最小宽度 */
    /* min-width: 91px; */
}
.ui-table-base tr td:last-child{
    border-right:none;
}
.ui-table-base thead tr{
    background-color: #89b0d4;
    color: white;
    /* font-weight: bold; */
}
.ui-table-base tbody tr{
    background-color: #f0f5f9;
    color: black;
}
.ui-table-base tbody tr:nth-child(odd){
    background-color: #fff;
}
.ui-table-base tbody{

    display:inline-block;
    /* 可以自定义 （减去一行高度）*/
    max-height: 375px;
    overflow-x: hidden;
    overflow-y: auto;
}
/* .ui-table-base tbody::-webkit-scrollbar{
    width: 0;
} */

 /* table自适应宽度高度，超出有滚动条*/
.ui-table-base.auto-width{

    table-layout: auto;
    display: inline-block;
    width: auto;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 874px;
    /* 根据自己需要进行设置 */
    max-height: 200px;
}
.ui-table-base.auto-width tr td{

    min-width: 120px;
}
.ui-table-base.auto-width tbody{

    overflow-x: hidden;
    overflow-y: auto;
    /* 根据自己需要设置 */
    max-height: 175px;
}
/*整体宽度一定，每列宽度根据内容自由分配（不能滑动）*/
.ui-table-base.adaption-width{

    display: table;
}
.ui-table-base.adaption-width thead{

    display:table-header-group;
}
.ui-table-base.adaption-width tbody{

    display: table-row-group;
}
.ui-table-base.adaption-width tr td{

    max-width: 80px;
}
/* 数学计算组件样式 */
.ui-math{
    position: relative;
    display: inline-block;
    min-width: 32px;
    min-height: 14px;
    font-size: 12px;
    text-align: center;
    padding: 0 14px;
}
.ui-math-sub, .ui-math-add{
    position: absolute;
    top: 50%;
    margin-top: -7px;
    width: 14px;
    height: 14px;
    cursor: pointer;
}
.ui-math-sub{left:0px;background: url(img/ui-subtract.png)}
.ui-math-add{right:0px;background: url(img/ui-add.png)}
/* 支付组件样式 */
.ui-payment-title, .ui-payment-title2{
    height: 40px;
    line-height: 40px;
    margin-left: 16px;
    font-size: 14px;
    font-weight: bold;
}
.ui-payment-title2{height: 32px;line-height: 32px}
.ui-payment-update-card,
.ui-payment-order{
    display: -webkit-flex;
    display: flex;
    height: 66px;
    margin: 0 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 12px 0;
    border: 1px solid #8db2e3;
    font-size: 12px;
}
.ui-payment-update-card{
    height: auto;
    margin: 10px 10px 0;
}
.ui-payment-update-card>:first-child,
.ui-payment-order>:first-child{width: 206px}
.ui-payment-update-card>:nth-child(2),
.ui-payment-order>:nth-child(2){width: 205px;border-left: 1px solid #8db2e3;border-right: 1px solid #8db2e3}
.ui-payment-update-card>:nth-child(3),
.ui-payment-order>:nth-child(3){width: 192px}
.ui-payment-update-card>div,
.ui-payment-order>div>div{display: -webkit-flex;display: flex}
.ui-payment-order>div>:first-child{margin-bottom: 6px}
.ui-payment-update-card>div>span,
.ui-payment-order>div>div>span{
    color: #063781;
    width: 104px;
    text-align: right;
}
.ui-payment-reduce{
    height: 88px;
    margin: 0 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 12px;
    border: 1px solid #8db2e3;
}
.ui-payment-reduce>div{display: -webkit-flex;display: flex}
.ui-payment-reduce>:first-child{margin: 14px 0}
.ui-payment-reduce>div>:first-child{width: 106px;text-align: right;color: #063781}
.ui-payment-pay{
    height: 180px;
    margin: 0 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #8db2e3;
    padding: 17px 24px;
}
.ui-payment-gateway{
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}
.ui-payment-amount{
    margin-top: 16px;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: bold;
    padding-right: 50px;
}
.ui-payment-amount span{color: red}
.ui-payment-handle{height: 54px;margin-top: 16px}
.ui-payment-cash{height:100%;line-height:54px;font-size:14px;font-weight:bold}
.ui-payment-wechat>input{width: 72px;margin-right: 10px}
.ui-payment-wechat>input:last-of-type{margin-right: 0}
.ui-payment-confirm{
    margin: 16px 40px 0 0;
    text-align: right;
}
/* 查询结果样式 */
/* <div class="ui-check-res">已为您找到<b>15248</b>条数据</div> */
.ui-check-res{
    margin-left: 13px;
    color: #15458d;
    font-size: 13px; 
    height:30px;
    line-height:30px;  
}
.ui-check-res b{
    color:red;
    font-size: 14px;
}
/* 分页组件样式 */
.ui-page{height: 22px;font-size: 12px;text-align: right;position: absolute;bottom:27px;right:21px;}
.ui-page>i{font-style: normal;color: red}
.ui-page>span{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    border: 1px solid #9a9a9a;
    border-radius: 5px;
    background: #eee;
    cursor: pointer;
    margin-left: 5px;
}
.ui-page>span:first-of-type{margin-left: 10px}


/* 给表格加选中样式 */
table tbody tr:nth-child(odd):hover{
    background:#cce8ff;
    cursor: pointer;
}
table tbody tr:nth-child(even):hover{
    background:#cce8ff;
    cursor: pointer;
}

#no-data{
    display: block;
    background: url(./img/no-data.png) no-repeat;
    background-size: 96px 76px;
    height: auto;
    padding-top: 96px;
    text-align: center;
    color: #333;
    font-size: 12px;
    line-height: 22px;
    margin-left:368px;
    margin-top:105px;
    margin-bottom: 40px;
    background-position-x: 27px;
    min-width:150px;
    max-width:150px;
    border-bottom:none;
}

#no-data:hover{
    background-color:none; 
}
#no-data #no-data-noti{
    min-height: 20px;
    max-height: 20px;
    max-width: 150px;
    min-width: 150px;
    text-align: center; 
}

table{background:#fff}
/* input{outline-color:#4589ee } */

input::-webkit-inner-spin-button{
    -webkit-appearance:none;
}
input::-webkit-outer-spin-button{
    -webkit-appearance:none;
}
table tbody tr td{
    word-break: break-all;
}
/* tab组件样式 */
.ui-tab{
    width:100%;
    height:24px;
    max-height: 24px;
    margin: 10px 0;
    border-bottom:1px solid #8db2e3;
    display: -webkit-flex;
    display: flex;
    align-items: flex-start;
}
.ui-tab>span{
    font-size: 12px;
    margin-left: 6px;
    height: 23px;
    line-height: 23px;
    padding:0 10px;
    background: #fff;
    border: 1px solid #8db2e3;
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #333;
    cursor: default;
}
.ui-tab>span.checked{padding-bottom: 1px;color: #15458d;font-weight: bold}

/* 线上tab组件 */
.ui-tab-blue{  
    width:872px;
    height:30px;
    max-height:30px;
    margin:20px auto;
    border-bottom:2px solid #5e9dfa;
    display: -webkit-flex;
    display: flex;
    align-items: flex-start;  
    position: relative;   
}
.ui-tab-blue span{
    font-size: 12px;
    margin-left: 6px;
    height: 23px;
    line-height: 23px;
    padding:0 10px;
    background: #fff;
    border:1px solid #d8dce5;
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #333;
    cursor: default;
    margin-top:6px;
    cursor: pointer;
}
.ui-tab-blue span.checked{
    /* padding-bottom:1px; */
    color: #fff;
    font-weight: bold;
    background: #5f9dfa;
}
.ui-tab-blue input.findonline{
    width:182px;
    height:22px;
    border:1px solid #c2c2c2;
    background:#f9f9f9;
    font-size:12px;
    line-height:22px;
    position: absolute;
    right:123px;
    color:#000;   
    text-indent:4px; 
}
.ui-tab-blue button.e-btn{
    position:absolute;
    right:40px;
    cursor: pointer;
}

/* 3.1.1工厂新增 */
.e-box table tbody tr td{
    color:#000;
    font-size:12px;
    word-break:break-all;
}
.ui-img-upload-window{
    width: 100%;
    height: 314px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 6px 0 0 6px;
    overflow-y: auto;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.ui-img-upload-window::-webkit-scrollbar{width:0px}
.ui-img-upload-window::-webkit-scrollbar-thumb{border-radius: 10px;background: #ccc;}
/* ui-img-upload-window-add.png */
.ui-img-upload-window>div{
    width: 80px;
    height: 80px;
    margin: 0 3px 3px 0;
    position: relative;
    cursor: default;
    border:1px solid #ccc;
}
.ui-img-upload-window>div.ui-img-upload-window-add{
    background-image: url(img/ui-img-upload-window-add.png);
    background-size: 80px 80px;
}
.ui-img-upload-window>div.ui-img-upload-window-add>input[type=file]{
    width: 100%;
    height: 100%;
    opacity: 0;    
}
 /* .ui-img-upload-window>div:nth-child(4n+0){margin-right:0}  */
.ui-img-upload-window>div>i{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;right: 0;
    background: url(img/ui-img-upload-window-del.png) no-repeat;
}
.ui-img-upload-window>div>img{width: 100%;height: 100%;}


