/* .bothpagesdata{width:100%;height:100%;background-color:rgba(0,0,0,.6);position:fixed;top:0;left:0;z-index:10}
.bothpages_box{
    width:900px;
    height:624px;
    background:#e3effd;
    position:absolute;
    z-index:11;
    left:50%;
    margin-left:-450px;
    margin-top:-312px;
    top:50%;
    border-radius:8px;
}
.bothpages_title{
    width:100%;
    height:37px;
    background:url(./img/revokedata_title.png) repeat-x;
    line-height:37px;
    font-size:14px;
    font-weight:bold;
    text-indent:12px;
    color:#15458d;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    position:relative;
}
.bothpages_close{
    width:15px;
    height:15px;
    position:absolute;
    right:12px;top:12px;
    background:url(./img/revokedata_close_all.png);
    cursor: pointer;
    background-size:15px 15px;
}
.bothpages_close:hover{
    background:url(./img/revokedata_close.png);
    background-size:15px 15px;
} */
/* 页面tab上方 样式*/
.bothpages_list{
    width:100%;
    height:59px;
    margin-top:15px;
}
.bothpages_list div{
    width:auto;
    height:46px;
    font-size:12px;
    color:#063781;
    float:right;
    line-height:46px;
}
.bothpages_list div b{color:#ff0000;font-size:14px;margin-left:10px}
.bothpages_list div:nth-child(1){margin-right:0px}
.bothpages_list div:nth-child(2){margin-right:0px}
.bothpages_count{
    width:875px;
    border:1px solid #8db2e3;
    margin:auto;
    height:auto;
    clear: both;
}
.bothpages_count_title{
    width:875px;
    height:25px;
    line-height:25px;
    border-bottom:1px solid #cccccc;
    background:#89b0d4;
}
.bothpages_count_title span{
    display:block;
    width:209px;
    height:25px;
    text-align:center;
    color:#fff;
    font-size:14px;
    float:left;
    overflow:hidden;
    white-space:nowrap;     
    text-overflow:ellipsis;
    /* border-right:1px solid #acc6de; */
}
.bothpages_count_title span:last-child{border-right:none}
/* tab标题样式 */
.bothpages_count_title span:nth-child(1){
    width:31px;
    background:url(./img/revokedata_list_box_span.png) no-repeat;
    background-size:10px 10px;
    background-position-x:17px;
    background-position-y:11px;
    border-right:1px solid #acc6de;
}
/* tab内容样式 table的样式 */
.bothpages_count_list{
    width:100%;
    height:auto;
    max-height:429px;
    display:block;
    overflow-y:auto;
    background:#fff;
    overflow-x:hidden;
}
.bothpages_count_list tbody{min-width:875px;height:auto;display:block;overflow-x:hidden;}
.bothpages_count_list tr{height:25px;width:100%;display:block}
.bothpages_count_list tr:nth-of-type(even){
    background:#f0f5f9;
}
.bothpages_count_list tr td{
    color:#000;
    font-size:12px;
   
    width:210px;
    text-align:center;
    height:25px;
    line-height:25px;
    white-space:nowrap; 
    overflow:hidden; 
    text-overflow:ellipsis;
    border-right:1px solid #acc6de;
    box-sizing:border-box;
}
.bothpages_count_list tr td:last-child{border-right:none}
.bothpages_count_list tr td:nth-child(1){
    width:31px;
    height:25px;
    color:#999999;
    font-size:12px;
    border-right:1px solid #acc6de;
    box-sizing:border-box;
}
.bothpages_count_list tr td i{font-size:12px;font-style:normal;cursor: pointer;}
.bothpages_count_list tr td i:first-child{color:#063ff7;margin-left:40px;float:left}
.bothpages_count_list tr td i:last-child{color:#ff0000;margin-right:27px;float:right}


/* 第二种分块样式 如同撤单统计页面样式 */

.tableye_data{width:872px;height:59px;margin:13px auto 0px;}
.tableye_dataLeft{width:501px;border:1px solid #8db2e3;height:57px;background:#eef4fb;float:left}
.tableye_dataLeft div{
    width:207px;
    height:20px;
    margin-top:18px;
    line-height:20px;
    color:#000;
    font-size:12px;
    color:#063781;    
    cursor: pointer;
}
.tableye_dataLeft div input{
    width:133px;
    height:20px;
    background:#fff;;
    background-size:100% 100%;
    outline:none;border:none;
    border:1px solid #c4c2c2;       
    border-radius:3px;
    text-indent:4px;
    cursor: pointer;
    background:url(./img/select.png) no-repeat;background-size:18px 24px;
    background-position-x:115px;
    background-position-y:0; 
}
input[type=date]::-webkit-inner-spin-button {visibility: hidden; }
/*----------用来移除向下箭头----------*/
input[type="date"]::-webkit-calendar-picker-indicator {
   opacity: 0;
 }
 
 /*----------用来移除叉叉按钮----------*/
 input[type="date"]::-webkit-clear-button{
    display:none;
 }
.tableye_dataLeft div input:hover{
    background:url(./img/hoverselect.png) no-repeat;
    background-size:18px 24px;
    background-position-x:115px;
    background-position-y:0; 
}
.tableye_dataLeft div input:hover{border:1px solid #4589ee}
.tableye_dataLeft div span{width:18px;height:22px;background:url(./select.png)}
.tableye_dataLeft div:first-child{margin-left:17px;float:left}
.tableye_dataLeft div:last-child{float: right;margin-right:17px}
.tableye_dataright{float:left;width:255px;height:24px;margin:17px 0 0 6px;}
.tableye_dataright button{
    width:71px;
    border:none;
    background:none;
    height:24px;
    margin-left:10px;
    background:url(./img/surebtn.png);
    text-align: center;
    line-height:24px;
    color:#000;
    font-size:12px;
    outline:none;
    cursor: pointer;
}
.tableye_dataright button:hover{background:url(./img/hoverbtn.png)}



/* 第三种公共样式 如同前台统计界面 */
.tableC_title{width:872px;height:43px;margin:auto;}
.tableC_box{width:872px;height:530px;margin:auto;clear:both}
.tableC_box_div{width:100%;}
.tableC_box_div span{
    display:block;
    width:100%;
    height:34px;
    line-height:34px;
    color:#000;
    font-size:12px;
    font-weight:bold;
    text-indent:4px;
    line-height:34px;
}
.tableC_box_div table{
    width:100%;
    height:auto;
    border:1px solid #8db2e3;
    overflow:auto;
    background: #fff;
    display:block;
    clear:both;
}
.tableC_box_div table thead{background:#89b0d4;min-width:100%;width:auto;height:25px;display:inline-block}
.tableC_box_div table thead tr{width:auto;height:25px}
.tableC_box_div table thead tr th{
    width:88px;
    min-width:88px;
    height:25px;
    color:#fff;
    border-right:1px solid #acc6de;
    line-height:25px;
    font-size:12px;
    text-align:center;   
    overflow: hidden; 
    text-overflow:ellipsis;
    white-space:nowrap;   
}

.tableC_box_div table thead tr th:nth-child(1){
    width:31px;
    min-width:31px;
    background:url(./img/revokedata_list_box_span.png) no-repeat;
    background-size:10px 10px;
    background-position-x:17px;
    background-position-y:11px;
}
.tableC_box_div table tbody tr{width:auto;height:25px;}
.tableC_box_div table tbody tr td{ 
    width:88px;
    min-width:88px;
    height:25px;
    color:#9a9a9a;
    border-right:1px solid #acc6de;
    line-height:25px;
    font-size:12px;
    text-align:center;   
    overflow: hidden; 
    text-overflow:ellipsis;
    white-space:nowrap;
    border-bottom:1px solid #acc6de;        
}
.tableC_box_div table tbody tr td:first-child{
    width:31px;
    min-width:31px;
   
}
.tableC_box_div span b{color:#000;margin-left:40px;font-size:14px}
.tableC_box_div span b a{color:#024ffe;font-size:12px;}
.tableC_box_div table tbody tr:nth-of-type(even){background:#f0f5f9}

/* 导航设置相同样式 */
.Settings{
    width:868px;
    height:555px;
    border:1px solid #8db2e3;
    margin:12px auto 0;
    background:#f0f5f9
}
.Settings-title{
    width:100%;
    height:27px;
    border-bottom:1px solid #8db2e3;
}
.Settings-title span{
    display:block;
    float:left;
    width:auto;
    height:23px;
    line-height:23px;
    text-align:center;
    color:#333;
    font-size:12px;
    border-top:1px solid #8db2e3;
    border-left:1px solid #8db2e3;
    border-right:1px solid #8db2e3;
    border-top-right-radius:3px;
    border-top-left-radius:3px;
    margin:3px 0 0 5px;
    padding:0 20px;
    background:-moz-linear-gradient(top,#eff5fc,#d9e5f2);
    background:-webkit-gradient(linear, 0% 20%,20% 100%,from(#eff5fc), to(#d9e5f2));
    background: -webkit-gradient(linear, 0% 20%, 20% 100%, from(#eff5fc), to(#d9e5f2));
    cursor:pointer;      
}
.Settings-title span.hover{height:24px;z-index:9;color:#15458d;font-weight:bold;background:#f0f5f9}
.Settings-div{width:868px;height:528px;margin-top:3px}

#balancestatistics-leiji{margin-right:11px}
#balancestatistics-zengsong{margin-right:12px;}

/* 底部分页 */
/* 使用代码 */
/* <div className="bothpages-footer">
    <div className="bothpages-footer-btn">
        <span>首页</span>
        <span>上一页</span>
        <span>下一页</span>
        <span>尾页</span>
    </div>
    <div className="bothpages-footer-all">第<span>1</span>页/共<span>4</span>页</div>
    <div className="bothpages-footer-both">每页<span>20</span>条，共<span>112</span>条</div>
</div> */
.bothpages-footer{
    width:872px;
    height:36px;
}
.bothpages-footer-btn{
    float:right;
    height:34px;
    width:auto;
    margin-top:12px;
}
.bothpages-footer-btn span{
    padding:2px 11px;
    color:#000;
    text-align:center;
    height:18px;
    border:1px solid #9a9a9a;
    border-radius:5px;
    line-height:18px;
    display:block;
    float:left;
    font-size:12px;
    background: #eee;
    margin-right:5px;
    cursor:pointer;
}
.bothpages-footer-all{
    width:auto;
    line-height:18px;
    color:#000;
    font-size:12px;
    float:right;
    margin-right:13px;
    line-height: 34px;
    margin-top: 8px;
}
.bothpages-footer-all span{
    color:#f00;
}
.bothpages-footer-both{
    float:right;
    margin-right:13px;
    color:#000;
    font-size:12px;
    line-height: 34px;
    margin-top: 8px;
}
.bothpages-footer-both span{
    color:#f00;
}

/* 占位图片显示空数据等 */
/* <div className='bothpages-place'>
    <div className='bothpages-block-center'>
        <img src='./img/no_data_place.png' />
        <p>没有找到符合条件的数据</p>
    </div>
</div> */
.bothpages-place{

    margin: 0;
    height: 400px;
    position: relative;
}
/* 块级元素居中 */
.bothpages-block-center{

    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.bothpages-block-center img{

    width: 96px;
    height: 76px;
    /* 这样使用会有一个灰色的边框，只能在Html时候src 添加个占位空白或者直接写需要的图片 */
    /* background:url(./img/no_data_place.png) no-repeat; */
}
.bothpages-block-center p{

    font-size: 14px;
    color: #333;
}
/* 列表底部多个按钮向右、向左对齐 （注意正确的排序 向右则倒叙）*/
/* <div className='bothpages-btn-part'>
    
    <button type='button' className='e-btn'>挂失</button>
    <button type='button' className='e-btn'>解除挂失</button>
    <button type='button' className='e-btn'>换卡</button>
    <button type='button' className='e-btn'>补卡</button>
</div> */
.bothpages-btn-part{
    margin: 15px 13px 0;
    height: 30px;
}
.bothpages-btn-part button{

    float: right;
    margin-left: 8px;
}

.recharg-btn{float:right;margin-top:11px;margin-right:10px}