.StaffManagement_title{width:875px;height:43px;border-bottom:1px solid #acc6de;margin:auto;}
.StaffManagement_title div{
    width:90px;
    height:41px;
    line-height:41px;
    color:#999999;
    font-size:14px;
    text-align:center;
    float:left;
    cursor: pointer;
}
.StaffManagement_title .selectstaff{color:#15458d;margin-left:16px;border-bottom:2px solid #15458d}
.StaffManagement_title .staff{margin-left:16px}
.StaffManagement_title .authority{margin-left:71px}
.StaffManagement_title .selectauthority{margin-left:71px;color:#15458d;border-bottom:2px solid #15458d}
/* .StaffManagement_title div:last-child:hover {color:#15458d;border-bottom:2px solid #15458d} */
/* 增加员工样式 */
.Addstaff_count_list span:first-child{background:none}
.addstaff{
    font-size:12px;
    width:71px;
    height:24px;
    line-height:24px;
    text-align: center;
    background: url(./img/e-btn.png);
    float:right;
    margin:18px 20px 12px 0;
    cursor: pointer;
}
.addstaff:hover{background:url(./img/hoverbtn.png)}
.StaffAuthority {
    font-size:12px;
    width:71px;
    height:24px;
    line-height:24px;
    text-align: center;
    background: url(./img/e-btn.png);
    float:right;
    margin:18px 20px 12px 0;
    cursor: pointer;
}
.StaffAuthority:hover{background:url(./img/hoverbtn.png)}

/* 增加组 */
/* 列表title样式 */
.StaffAuthority_count_list span:nth-child(1){
    width:50px;
}
.StaffAuthority_count_list span:nth-child(2){
    width:80px;
}
.StaffAuthority_count_list span:nth-child(3){
    width:610px;
}
.StaffAuthority_count_list span:nth-child(4){
    width:132px;
}
/* 增加组表格样式 */
.StaffAuthority_count_list tbody tr td{border-right:1px solid #acc6de}
.StaffAuthority_count_list tbody tr td:last-child{border-right:none}
.StaffAuthority_count_list tbody tr td:first-child{
    width:50px;
}
.StaffAuthority_count_list tbody tr td:nth-child(2){
    width:80px;
}
.StaffAuthority_count_list tbody tr td:nth-child(3){
    width:611px;
}
.StaffAuthority_count_list tbody tr td:nth-child(4){
    width:132px;
}
.StaffAuthority_count_list tbody tr td i:first-child{margin-left:24px;}
.StaffAuthority_count_list tbody tr td i:last-child{margin-right:24px;}
.addstaffborder  input{
    margin-left: 8px;
    margin-top: 16px;
    width: 146px;
    height: 20px;
    outline: none;
    border:1px solid #c4c2c2;  
}
.addstaffborder  span{
    margin-top: 6px;
    width: 85px;
    height: 14px;
    display: inline-block;
    text-align: right;
    color: black;

}
.addstaffborder span.passlimit{
    color: red;
    width: 78%;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
 }
.jurisdiction input{
    margin-top: 0px;
    text-indent:4px;
    cursor: pointer;
    background:url(./img/select.png) no-repeat;
    background-size:18px 24px;
    background-position: right center; 
}
margintop{
    margin-top: 11px;
}
.jurisdiction{
    margin-top: 0px;
}
.updatestaffborder span.updatemobile{
    color:#0637f7;
    height: 14px;
    width: 150px;
    margin-left: 10px;
    text-align: left
}
.updatestaffborder input[disabled]{
    margin-left: 8px;
    margin-top: 16px;
    width: 146px;
    height: 20px;
    outline: none;
    border:1px solid #c4c2c2;  
    background-color: #ebebeb;
}
.updatestaffborder input{
    margin-left: 8px;
    margin-top: 16px;
    width: 146px;
    height: 20px;
    outline: none;
    border:1px solid #c4c2c2;  
}
.updatestaffborder  span{
    margin-top: 6px;
    width: 85px;
    height: 14px;
    display: inline-block;
    text-align: right;
    color: black;

}

