.change-card-top{
    position: absolute;
    top: 16px;
    left: 0;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.change-card-table{
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 76px 16px 60px;
    overflow-x: auto;
}
.change-card-table>.ui-table{height: 100%}
.change-card-table>.ui-table thead>tr>th{min-width: 122px;}
.change-card-table>.ui-table thead>tr>th:first-child{min-width: 140px;}
.change-card-footer{
    position: absolute;
    right: 30px;
    bottom: 16px;
}
.ui-table #selecttr{
    background-color: #3fbfdc;
}








.ui-table-base.lrc-card-tab{

    margin-top: 10px;
    max-height: 355px;
    height: 355px;
    width: 778px;
    max-width: 778px;
    overflow-x: auto;
}
.ui-table-base.lrc-card-tab tbody{

    max-height: 320px;
    height: 320px;
    overflow-y: auto;
}
.ui-table-base.lrc-card-tab tr td{

    min-width: 122px;
}.ui-table-base.lrc-card-tab tr td input{

   margin-right: 3px;
}
.ui-table-base.lrc-card-tab tr td:first-child{

    min-width: 140px;
    max-width: 140px 
}
.bothpages-place{

    display: none;
}