.report_loss_main_date{

    margin: 13px 13px 0;
    height: 59px;
    line-height: 59px;
}
.report_loss_main_date_left{

    width:85%;
    border:1px solid #8db2e3;
    height:57px;
    background:#eef4fb;
    float: left;
}

.report_loss_main_date_left div{
    width:33%;
    height: 100%;
    line-height: 57px;
    font-size: 12px;
    color: #063781;
    text-indent: 10px;
    float: left;
}
.report_loss_main_date button{

    margin-left: 18px; 
}
.report_loss_main_date_left input{

    width:133px;
    height:20px;
    background:#fff;
    outline:none;
    border:1px solid #c4c2c2;       
    text-indent:4px;

}
.report_loss_main_date_left input:focus{
    
    border:1px solid #6f9ec2;       
}


/* table的设置 */
/* 表格区域 */
.report_loss_main_result_title{

    font-size: 12px;
    color: black;
    font-weight: bold;
    margin: 5px 13px 0;
    height: 30px;
    line-height: 30px;
}
.report_loss_main_result_title a{

    font-size: 12px;
    color: #1b51f1;
}

/* table部分 */
.report_loss_main_table{

    display: block;
    margin: 0 13px;
    border:1px solid #8db2e3;
}

.report_loss_main_table tr td{

    min-width: 140px;
    font-size: 12px;
    text-align: center;
}
.report_loss_main_table tr td:first-child{   

    min-width: 33px; 
    border-right: 1px solid #acc6de;
}
.report_loss_main_table thead{ 

    display: block;
    overflow-x: hidden;
}
.report_loss_main_table thead td{

    height: 25px;
}
.report_loss_main_table thead tr{
    background-color: #89b0d4;
    color: white;
}
.report_loss_main_table thead tr td:first-child{
    /* background: url(./img/e-btn-hover.png); */
    background-size: contain;
}

.report_loss_main_table tbody{
    
    display: block;
    max-height: 435px;
    overflow-y: auto;
    /* 用于隐藏横向滑块 */
    overflow-x:hidden;
}

.report_loss_main_table tbody tr{

    background-color: #f0f5f9;
    color: black;

}
.report_loss_main_table tbody td{

    height: 25px;
}
.report_loss_main_table tbody tr:nth-child(odd){

    background-color: #fff;
    color: black;
}

.report_loss_main_table tbody tr td:first-child{
    color: #9f9f9f;
}
.report_loss_main_table tbody tr td:last-child{
    color: #1b51f1;
    cursor:pointer;
}

.reportloss .cardnumber{
    margin-top: 26px;
    margin-left: 17px;
    color: #15458d;
    font-size: 12px;
}
.reportloss .border{
    margin: 15px auto;
    border-top: 1px solid #8db2e3;
    height: 174px;
    width: 607px;
}
.reportloss .button{
    margin-top: 22px;
    margin-right: 12px;
    float: right;
}