.Editshopprices{width:256px;height:183px;border:1px solid #8db2e3;margin:13px auto 0;}
.Editshopprices div{width:auto;height:22px;margin-right:22px;margin-top:13px;}
.Editshopprices div span{
    display:inline-block;
    width: 76px;
    height:22px;
    line-height:22px;
    text-align:right;
    color:#063781;
    font-size:12px;
}
.Editshopprices div input{
    width:152px;
    height:20px;
    border:1px solid #c2c2c2;
    background:#fff;
    color: #000;
    font-size:12px;
    outline-color: #8db2e3;
}
.Editshopprices div:last-child input{width:14px;height:14px;display:block;float:left;margin-left:53px;margin-right:3px}
.Editshopprices div:last-child b{display:block;float:left;font-weight:inherit;color:#000;font-size:12px;margin-top:-2px}

.Editshopprices div .ui-select{
    width:120px;
    display:inline-block;
    background:#fff;
    border:1px solid #c2c2c2;
    margin:0;
}
.Editshopprices div .ui-select-show .ui-select-selected{
    width:120px;
    border:none;
    margin:0;
}
.Editshopprices div .ui-select .ui-select-option{
    height:auto;
    z-index:10;
    margin:0;
}
.Editshopprices div .ui-select .ui-select-option div{width:120px;margin:0}
.Editshopprices div .ui-select .ui-select-selected{width:120px;margin:0;}
.Editshopprices div .ui-select:hover>.ui-select-selected {
    border:none;
    margin:0;
}

.Editshopprices-foot{width:auto;height: 24px}
.Editshopprices-foot button{float: right;margin-right:15px}