.ali-wechat-check-head{
    margin:14px 14px 0;
    border:1px solid #e6ebf5;
    background-color:#f5f8fa;
    height: 60px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.ali-wechat-check-head p:first-child{
    float: left;
    margin: 6px 0 0;
    height: 48px;
    line-height: 22px;
    width: 644px;
    padding: 0 14px 0 46px;
    border-right:1px solid #e6ebf5;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-image: url(images/icon-notice.png);
    background-position: 8px center;
    background-repeat: no-repeat;
}
.ali-wechat-check-head a{
    font-size: 12px;
    color:#063781;
}
.ali-wechat-check-head b{
    font-size: 12px;
    color:red;
}
.ali-wechat-check-head p:last-child,.ali-wechat-check-title >a{
    float: left;
    font-size: 14px;
    font-weight: bold;
}
.ali-wechat-check-head p:last-child{
    height: 58px;
    line-height: 58px;
    color:red;
    margin: 0;
    width: 120px;
    text-align: center;
}
.ali-wechat-check-title{
    margin:0 14px;
    height: 62px;
    margin-bottom: 10px;
    line-height: 62px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0 12px;
    border:1px solid #e6ebf5;
    background-color:#f5f8fa;

}
.ali-wechat-check-title .ui-select{width:130px}
.ali-wechat-check-title span{
    height: 42px;
    line-height: 42px;
    margin-right:10px;

}
.ali-wechat-check-title span sup{
    font-size: 12px;
    color: red;
}
.ui-table-base.ali-wechat-check-tab{
    max-height: 250px;
}
.ui-table-base.ali-wechat-check-tab tbody{

    max-height: 218px;
}
.ui-table-base.ali-wechat-check-tab tbody tr#no-data{margin-top: 33px}
.ui-table-base.ali-wechat-check-tab .ali-wechat-check-tab-1{

    min-width: 180px;
    max-width: 180px;
}
.ui-table-base.ali-wechat-check-tab .ali-wechat-check-tab-2{

    min-width: 82px;
    max-width: 82px;
}
.ui-table-base.ali-wechat-check-tab .ali-wechat-check-tab-3{

    min-width: 222px;
    max-width: 222px;
}
.ui-table-base.ali-wechat-check-tab .ali-wechat-check-tab-4{

    min-width: 82px;
    max-width: 82px;
}
/* .ui-table-base.ali-wechat-check-tab .ali-wechat-check-tab-5{

    min-width: 82px;
    max-width: 82px;
} */
.ui-table-base.ali-wechat-check-tab .ali-wechat-check-tab-6{

    min-width: 103px;
    max-width: 103px;
}
.ui-table-base.ali-wechat-check-tab .ali-wechat-check-tab-7{

    min-width: 99px;
    max-width: 99px;
}
.ali-wechat-check-tab tbody{
    width:874px;
}


