.ali-wechat-check-head{
    margin:14px 14px 0;
    border:1px solid #e6ebf5;
    background-color:#f5f8fa;
    height: 60px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.ali-wechat-check-head p:first-child{
    float: left;
    color:6a6a6a;
    margin: 6px 0 0;
    height: 48px;
    line-height: 22px;
    width: 664px;
    padding: 0 14px 0 46px;
    border-right:1px solid #e6ebf5;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-image: url(images/icon-notice.png);
    background-position: 8px center;
    background-repeat: no-repeat;
}
.ali-wechat-check-head a{
    font-size: 12px;
    color:#063781;
}
.ali-wechat-check-head b{
    font-size: 12px;
    color:red;
}
.ali-wechat-check-head p:last-child,.ali-wechat-check-title >a{
    float: left;
    font-size: 14px;
    font-weight: bold;
}
.ali-wechat-check-head p:last-child{
    height: 58px;
    line-height: 58px;
    color:red;
    margin: 0;
    width: auto;
    text-align: center;
    margin-left: 10px
}
.ali-wechat-check-title{
    margin:0 14px;
    height: 62px;
    margin-bottom: 10px;
    line-height: 62px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0 12px;
    border:1px solid #e6ebf5;
    background-color:#f5f8fa;

}
.ali-wechat-check-title .ui-select{width:130px}
.ali-wechat-check-title span{
    height: 42px;
    line-height: 42px;
    margin-right:25px;
}
.ali-wechat-check-title span sup{
    font-size: 12px;
    color: red;
}
.ali-wechat-check-tab{

    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0px 16px 235px;
}
.ali-wechat-check-tab>.ui-table{

    height: 100%;
}

