.mem_bus_sta_top{

    margin: 13px;
    height: 80px;
    border: 1px solid #8db2e3;
    background-color: #fff;
    font-size: 12px;
    color: #063781;
}
.mem_bus_sta_top_one,.mem_bus_sta_top_two{

    margin: 0;
    height: 30px;
    line-height: 30px;
}
.mem_bus_sta_top_one{
    margin-top: 10px;
}
.mem_bus_sta_top_two{
     margin-top: 0px;
}
.mem_bus_sta_top_one div,.mem_bus_sta_top_two div{

    float: left;
    margin-right: 10px;
    width: 214px;
}
.mem_bus_sta_top button{

    float: right;
    margin-top: 3px;
    margin-right: 16px;
}
.mem_bus_sta_top input{

   width: 140px;
}
.mem_bus_sta_top_two input{

    height: 22px;
}
.mem-bus-sta-p{
    margin: 0 13px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    font-weight: bold;
    color: black;
}

.ui-table-base.mem_bus_sta_table_two{

    max-height: 330px;
}
.ui-table-base.mem_bus_sta_table_two tr td{

    min-width:97px;
    max-width: 97px;
}
.ui-table-base.mem_bus_sta_table_two tbody{

    max-height: 305px;
}
.ui-table-base.auto-width.mem-bus-auto-tab tr td{
    min-width: 144px;
}
