
.businesstats-div{overflow-y:hidden}
.businesstats-div .businesstats-tab tbody{max-height:354px;overflow-y:auto;display: inline-block;overflow-x:hidden;width:auto}
.businesstats-div .businesstats-tab thead{display: inline-block;}
.businesstats-div .businesstats-tab thead tr td:first-child{color:#fff;min-width:95px}
.businesstats-div .businesstats-tab tbody tr td:first-child{color:#000;}
.businesstats-div .businesstats-tab thead tr td{min-width:94px;}
.businesstats-div .businesstats-tab thead tr td:last-child{border-right:none;}
.businesstats-div .businesstats-tab tbody tr td{min-width:94px;}
.ui-check-res.bus-sta-num{
    height: 30px;
    color: black;
}
.ui-table-base.bus-sta-tab{
    max-height: 435px;
    max-width: 872px;
    overflow-x: auto;
}
.ui-table-base.bus-sta-tab tbody{
    max-height:379px;
}
.ui-table-base.bus-sta-tab tr td{
    max-width: 107px;
    min-width: 107px;
    
}
/* #busin-data{
    height:300px;
    max-height:300px;
}
#busin-data tbody{
    height: 300px;
    max-height:300px;
} */