

/* 商品销售 */
.commoditysales-div{
    width:99%;
    height:45%;
    border:1px solid #8db2e3;
    margin:0px auto;
    background: #eef4fb
}
.commoditysales-div-left{
    float: left;
    width: 93px;
    height: 265px;
}
.commoditysales-left-title{
    width:93px;
    height:30px;
    line-height:30px;
    color:#000;
    font-size:12px;
    text-align:center;
}
.commoditysales-left-count{
    width:93px;
    height:auto;
    max-height:230px;
    overflow-y:auto; 
    border:1px solid #8db2e3;
    height:230px;
}
.commoditysales-left-count span{
    display:block;
    width:93px;
    height:28px;
    line-height:28px;
    text-align:center;
    color:#000;
    font-size:12px;
    background:url(./img/cleaning_price_set.png) no-repeat;
    background-size:77px 2px;
    background-position:bottom center;
}
.commoditysales-left-count span:last-child{
    background-image:none;
}
.commoditysales-left-count span.commoditysales-left-hover{
    background:#5f9dfa;
    color:#fff;
}
.commoditysales-div-right{
    width: 100%;
    height:100%;   
}
.commoditysales-right-top{
    width:521px;
    height:30px;
}
.commoditysales-right-btn{
    float:right;
    margin:0px 3px;
    cursor:pointer;
}
.commoditysales-right-text{
    float:right;
    width:200px;
    height:22px;
    border:1px solid #c2c2c2;
    background:#f9f9f9;
    /* color:#9a9a9a; */
    font-size:12px;
    line-height:22px;
    margin-right:8px;
    text-indent:12px;
    
}
.commoditysales-right-tab{
    width: 100%;
    height: auto;
    max-height:99%;
}
.commoditysales-right-tab table{
    width:805px;
    height:auto;
    max-height:240px;
    display: block;
}
.commoditysales-right-tab table thead{
    width: 806px;
    display: block;
    background: #89b0d4;
}
.commoditysales-right-tab table thead tr{
    width:100%;
    height:25px;
}
.commoditysales-right-tab table thead tr th{
    color: #fff;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    border-right: 1px solid #acc6de;
    text-align: center;
    min-width: 129px;
}
.commoditysales-right-tab table thead tr th:last-child{
    border-right:none;
}
.commoditysales-right-tab table tbody{
    display: block;
    max-height:197px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 806px;
}
.commoditysales-right-tab table tbody tr{width:auto;height:25px}
.commoditysales-right-tab table tbody tr:nth-child(odd){background:#fff;}
.commoditysales-right-tab table tbody tr:nth-child(even){background:#f0f5f9;}
.commoditysales-right-tab table tbody tr:last-child{border-bottom:1px solid #8db2e3;}
.commoditysales-right-tab table tbody tr td{
    min-width: 129px;
    text-align: center;
    color: #000;
    font-size: 12px;
    border-right: 1px solid #acc6de;
}
.commoditysales-right-tab table tbody tr td input{
    display:inline;
}
.commoditysales-right-tab table tbody tr td:last-child{border-right:none;color: red}

/* 底部div */
.commoditysales-footerdiv{
    width:99%;
    height:53%;
    margin:5px auto;
}
.commoditysales-footerdiv-left{
    width:520px;
    height:240px;
    float:left;
    margin-left:9px;
}
.commoditysales-footerdiv-left table{
    width:520px;
    max-height:230px;
    border:1px solid #acc6de;
    height:230px;
    display: block;
}
.commoditysales-footerdiv-left table thead{
    width:520px;
    height:25px;
    display:block;
    background:#89b0d4;
}
.commoditysales-footerdiv-left table thead tr{
    width:520px;
    height:25px;
}
.commoditysales-footerdiv-left table thead tr th{
    min-width:104px;
    border-right:1px solid #acc6de;
    color:#fff;
    font-size:12px;
}
.commoditysales-footerdiv-left table thead tr th:last-child{
    border-right:none;
}
.commoditysales-footerdiv-left table tbody{
    width:520px;
    max-height:213px;
    overflow-y:auto;
    display:inline-block;
    overflow-x: hidden;
}
.commoditysales-footerdiv-left table tbody tr{
    width:520px;
    height:25px;   
}
.commoditysales-footerdiv-left table tbody tr:last-child{
    border-bottom: 1px solid #8db2e3;
}
.commoditysales-footerdiv-left table tbody tr:nth-child(odd){background:#fff}
.commoditysales-footerdiv-left table tbody tr:nth-child(even){background:#f0f5f9}
.commoditysales-footerdiv-left table tbody tr td{
    min-width:104px;
    color:#000;
    font-size:12px;
    border-right:1px solid #acc6de;
    text-align:center;
}
.commoditysales-footerdiv-left table tbody tr td:last-child{
    border-right:none;
    color: #2151ed;
}
.commoditysales-footerdiv-right{
    width:163px;
    height:260px;
    border:1px solid #8db2e3;
    background:#eef4fb;
    float:left;
    margin-left:5px;
}
.commoditysales-footerdiv-right .commoditysales-footerdiv-rightboth{
    height:27px;
    line-height:27px;
    text-align: center;
    color:#063781;
    font-size:12px;
    font-weight:bold;
    margin-top:2px;
}
.commoditysales-footerdiv-rightboth-btndiv{
    text-align: center;
    margin-top:2px;
    height: 142px;
}
.commoditysales-footerdiv-rightboth-btndiv button{
    margin:3px 43px;
    cursor: pointer;
}
.commoditysales-button{margin:40px 6px}
.commoditysales-button button{ cursor: pointer;}
.commoditysales-footerdiv-right div.commoditysales-footerdiv-rightred{color:#f00}

 