

/* 商品销售 */
.commoditysales-div{
    width:96%;
    height:auto;
    /* border:1px solid #8db2e3; */
    margin:0px auto;
    /* background: #eef4fb */
}
.commoditysales-div-left{
    float: left;
    width: 93px;
    height:380px;
    margin-top: 16px;
}
.commoditysales-left-title{
    width:93px;
    height:30px;
    line-height:30px;
    color:#4d4d4d;
    font-size:12px;
    text-align:center;
    font-weight: bold;
}
.commoditysales-left-count{
    width:93px;
    max-height:345px;
    overflow-y:auto; 
    border:1px solid #d8dce7;
    height:345px;
}
.commoditysales-left-count span{
    display:block;
    width:93px;height:35px;line-height:35px;   
    text-align:center;
    color:#4d4d4d;font-weight: bold;font-size:12px;    
    background:url(./images/cleaning_price_set.png) no-repeat;
    background-size:77px 2px;
    background-position:bottom center;
    cursor: pointer;
}
.commoditysales-left-count span.commoditysales-left-hover{
    background:#3abad5;
    color:#fff;
}
.commoditysales-div-right{
    width: 682px;
    height:167px;   
}
.commoditysales-right-top{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 6px;
}
.commoditysales-right-btn{
    float:right;
    margin:0px 3px;
    cursor:pointer;
}
.commoditysales-right-text{
    float: right;
    width: 165px;
    line-height: 27px;
    height: 28px;
    border: 1px solid #c2c2c2;
    border-radius: 3px;
    background: #fff;
    font-size: 12px;
    margin-right: 8px;
    text-indent: 12px;  
}
.commoditysales-right-tab table tbody tr td input{
    display:inline;
}
.commoditysales-right-tab table tbody tr td:last-child{border-right:none;color: red}

/* 底部div */
.commoditysales-footerdiv{
    width:99%;
    height:53%;
    margin:5px auto;
}
.commoditysales-footerdiv-left{
    width:520px;
    height:240px;
    float:left;
    margin-left:9px;
}
.commoditysales-footerdiv-left table thead{  
    display:block;   
}
.commoditysales-footerdiv-left table tbody{  
    overflow-y:auto;
    display:inline-block;
    overflow-x: hidden;
}

.commoditysales-button button{ cursor: pointer;}
.commoditysales-footerdiv-right div.commoditysales-footerdiv-rightred{color:#f00}


/* 修改样式 */
.commoditysales-div{width: 770px;height: 403px}
.sale-right{width: 662px;height:451px;float:right;}
.commoditysales-div-right{width: 662px;height: 168px;border:1px solid #d8dce5;box-sizing: border-box}
.commoditysales-div-right .commoditysales-right-tab {width: 662px;height: 168px;max-height: 168px}
.commoditysales-div-right .commoditysales-right-tab table{
    width: 660px;height: 166px;max-height: 166px;
    display:block;
}
.commoditysales-div-right .commoditysales-right-tab table thead{width: 660px;height: 40px;background: #f6f7fb}
.commoditysales-div-right .commoditysales-right-tab table thead tr{width: 660px;height: 40px}
.commoditysales-div-right .commoditysales-right-tab table thead tr th{
    width: 110px;
    height: 40px;
    line-height: 40px;
    border-right: none;
    background: url(./images/thead-border.png);
    background-size: 1px 24px;
    background-repeat: no-repeat;
    background-position: right center;
    color: #4d4d4d;
    font-weight: bold;
}
.commoditysales-div-right .commoditysales-right-tab table thead tr th:last-child{background: none;}
.commoditysales-div-right .commoditysales-right-tab table tbody{
    width: 660px;height: 121px;
    border-bottom: 1px solid #ebeff8;box-sizing: border-box;
    max-height: 121px;
    overflow-y: auto;
    display:inline-block;
}
.commoditysales-div-right .commoditysales-right-tab table tbody::-webkit-scrollbar{width:0px;}
.commoditysales-div-right .commoditysales-right-tab table tbody tr{
    height: 40px;
    border-bottom: 1px solid #ebeff8;box-sizing: border-box;
}
.commoditysales-div-right .commoditysales-right-tab table tbody tr td{height: 40px;width: 110px;color: #999;font-weight: bold;text-align: center}

.commoditysales-footerdiv-left{width: 662px;height:165px;border:1px solid #d8dce5;box-sizing: border-box;margin-top: 15px;max-height: 165px;margin-left: 0 }
.commoditysales-footerdiv-left table{width:660px;height: 163px;max-height: 163px;border:none}
.commoditysales-footerdiv-left table thead{
    width: 660px;height: 40px;
    background: #f6f7fb;
}
.commoditysales-footerdiv-left table thead tr{width: 660px;height: 40px}
.commoditysales-footerdiv-left table thead tr th{
    width: 132px;height: 40px;line-height: 40px;
    border-right: none;
    background: url(./images/thead-border.png);
    background-size: 1px 24px;
    background-repeat: no-repeat;
    background-position: right center;
    color: #4d4d4d;
    font-weight: bold;
}
.commoditysales-footerdiv-left table thead tr th:last-child{background: none}
.commoditysales-footerdiv-left table tbody{width: 660px;height: 122px;max-height: 122px;overflow-y: auto}
.commoditysales-footerdiv-left table tbody::-webkit-scrollbar{width: 0px;}
.commoditysales-footerdiv-left table tbody tr{width: 660px;height:40px;border-bottom: 1px solid #ebeff8;box-sizing: border-box;}
.commoditysales-footerdiv-left table tbody tr td{width:132px;height: 40px;color: #999;border-right: none;text-align: center}

.commoditysales-footerdiv{
    width: 400px;
    height: 82px;
    background: none;
    border-top: 1px solid #eee;
    margin: 5px auto 0;
    padding-left: 404px;
}
.commoditysales-footerdiv-right .commoditysales-footerdiv-rightboth{
    height: 27px;
    text-align: center;
    color: #4d4d4d;
    font-size: 12px;
    font-weight: 700;
    float: left;
    width: 97px;
    margin-top: -26px;
    text-align: center;
    margin-left: -8px;
    font-weight: bold;
    line-height: 0px;
}
.commoditysales-footerdiv-rightboth-btndiv{
    width: 600px;
    height: 30px;
    float: right;
    text-align: right;
    padding-right: 51px;
    margin-top: -5px;
}
.commoditysales-footerdiv-rightboth-btndiv button{
    margin:3px 8px;
    background: #fff;
    border-radius: 4px;
    border:1px solid #dfe4ea;
    color:#4d4d4d;
    box-sizing: border-box;
}
.commoditysales-footerdiv-rightboth-btndiv button:hover{background: #3abad5;color: #fff}
.commoditysales-footerdiv-rightboth-btndiv button:nth-child(1){
    background: #3abad5;color: #fff;
    border: none;
}
.commoditysales-footerdiv-right{width: 100%;height: 100%}