
/* 待接单 */

.ui-tab-blue input.e-input{

    position: absolute;
    right: 110px;
}
.waiting{
    width:768px;
    /* border:1px solid #3fc0db; */
    margin:0 auto;
    background:#fff;
    max-height:360px; 
    overflow-y:hidden;
    overflow-x: hidden;
    
}
.waiting-list{
    width:768px;
    max-height:360px;
    background:#fff;
    height:360px;
}
.waiting-list thead{
    /* width:768px; */
    height:40px;
    background:#f6f7fb;
    display:block;
}
.waiting-list thead tr{
    /* width:768px; */
    height:40px;
   /* background:#89b0d4; */
}
.waiting-list thead tr>th{
    line-height:40px;
    color:#4d4d4d;
    font-size:12px;
    text-align:center;
    background: url(./images/thead-border.png) ;
    background-size:1px 24px;
    background-repeat: no-repeat;
    background-position: right center;
}
.waiting-list thead tr>th:last-child{background: none}
.waiting-list thead tr>th:nth-child(1){
    min-width:128px;
    max-width:128px;
}
.waiting-list thead tr>th:nth-child(2){
    min-width:115px;
    max-width:115px;
}
.waiting-list thead tr>th:nth-child(3){
    min-width:107px;
    max-width:107px;
}
.waiting-list thead tr>th:nth-child(4){
    min-width:79px;
    max-width:79px;
}
.waiting-list thead tr>th:nth-child(5){
    min-width:101px;
    max-width:101px;
}
.waiting-list thead tr>th:nth-child(6){
    min-width:145px;
    max-width:145px;
}
.waiting-list thead tr>th:nth-child(7){
    min-width:95px;
    max-width:95px;
    border-right:none;
}
.waiting-list tbody{
    /* width:776px; */
    height:300px;
    /* min-width:776px; */
    max-height:300px;    
    display:block;
    /* overflow-x:hidden; */
    overflow-y:auto;
}
.waiting-list tbody::-webkit-scrollbar{
    width:0px;
}
.waiting-list tbody tr{
    /* width:776px;
    min-width:776px; */
    /* border-bottom:1px solid #89b0d4; */
    height:auto;
    min-height:25px;
    display:inline-block;
}
.waiting-list tbody tr:hover{background: #fbfcfd}
.waiting-list tbody tr td{
    height:auto;
    min-height:25px;
    color:#999;
    font-size:12px;
    text-align:center;
    /* border-right:1px solid #acc6de; */
    word-break: break-all;
    line-height:25px;
}
.waiting-list tbody tr>td:last-child{
    border-right:none;
}
.waiting-list tbody tr>td:nth-child(1){
    min-width:128px;
    max-width:128px;
}
.waiting-list tbody tr>td:nth-child(2){
    min-width:115px;
    max-width:115px;
}
.waiting-list tbody tr>td:nth-child(3){
    min-width:107px;
    max-width:107px;
}
.waiting-list tbody tr>td:nth-child(4){
    min-width:79px;
    max-width: 79px;
}
.waiting-list tbody tr>td:nth-child(5){
    min-width:101px;
    max-width:101px;
}
.waiting-list tbody tr>td:nth-child(6){
    min-width:145px;
    max-width:145px;
}
.waiting-list tbody tr>td:nth-child(7){
    min-width:95px;
    max-width:95px;
}
.waiting-list tbody tr>td span{
    width:100%;
    display:inline-block;
    min-height:25px;
    text-align:center;    
    color:#999;
    word-break: break-all;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.waiting-list tbody tr>td span:last-child{
    border-bottom:none;
}
.waiting-list tbody tr td i{
    color:#ff1b20;
    font-style:normal;
}
.waiting .waiting-list tbody>tr td b{
    display:inline-block;
    width:36px;
    height:16px;
    border:1px solid #3fc0db;
    line-height:16px;
    text-align:center;
    font-size:12px;
    color:#3fc0db;
}
.waiting .waiting-list tbody>tr td b:hover{
    color:#fff;
    background:#3fc0db;
}
.waiting-list tbody tr td button:first-child{
    margin:3px auto;
}
.waiting-list tbody tr td button:last-child{
    margin:3px auto;
}
.waiting-list tbody tr>td button{
    cursor: pointer;
}

/* .waiting .waiting-list tbody>tr:hover{
    background:none;
} */

/* 订单配送样式 */
#forshipping1{
    overflow-x:auto;
}
.waiting #forshipping thead tr>th:nth-child(1){
    min-width:90px;
    max-width:90px;
    
}
.waiting #forshipping tbody tr>td:nth-child(1){
    min-width:90px;
    max-width:90px;
}
.waiting #forshipping thead tr>th:nth-child(2){
    min-width:130px;
    max-width:130px;
}
.waiting #forshipping tbody tr>td:nth-child(2){
    min-width:130px;
    max-width:130px;
}
.waiting #forshipping thead tr>th:nth-child(3){
    min-width:81px;
    max-width:81px;
}
.waiting #forshipping tbody tr>td:nth-child(3){
    min-width:81px;
    max-width:81px;
}
.waiting #forshipping thead tr>th:nth-child(4){
    min-width:100px;
    max-width:100px;
}
.waiting #forshipping tbody tr>td:nth-child(4){
    min-width:100px;
    max-width:100px;
    
}
.waiting #forshipping thead tr>th:nth-child(5){
    min-width:110px;
    max-width:110px;
}
.waiting #forshipping tbody tr>td:nth-child(5){
    min-width:110px;
    max-width:110px;
}
.waiting #forshipping thead tr>th:nth-child(6){
    min-width:110px;
    max-width:110px;
}
.waiting #forshipping tbody tr>td:nth-child(6){
    min-width:110px;
    max-width:110px;
}
.waiting #forshipping thead tr>th:nth-child(7){
    min-width:75px;
    max-width:75px;
}
.waiting #forshipping tbody tr>td:nth-child(7){
    min-width:75px;
    max-width:75px;
}
.waiting #forshipping thead tr>th:nth-child(8){
    min-width:105px;
    max-width:105px;
}
.waiting #forshipping tbody tr>td:nth-child(8){
    min-width:105px;
    max-width:105px;
}
.waiting #forshipping thead tr>th:nth-child(9){
    min-width:64px;
    max-width:64px;
}
.waiting #forshipping tbody tr>td:nth-child(9){
    min-width:64px;
    max-width:64px;
}
.waiting #forshipping tbody tr>td:last-child span{
    border-bottom:none;
}
/* 超出部分隐藏 */
.waiting #forshipping tbody tr>td:nth-child(4) span{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.waiting #forshipping tbody tr>td:nth-child(5) span{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.waiting #forshipping tbody tr>td:nth-child(6) span{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.waiting #forshipping tbody tr>td span{
    display:block;
}

.waiting-list>tbody tr td s{
    width: 100%;
    display: block;
    line-height: 25px;
    color: #999;
    font-weight: inherit;
    font-size: 12px;
    text-decoration:none;
}
.waiting-list>tbody tr td s:nth-child(1){color:#999}
.waiting-list>tbody tr td s:nth-child(2){color:#3fc0db}
.waiting-list tbody tr td s:hover{
    text-decoration:underline;
}
.why-list div{
    background:url(./img/checkbox.png) no-repeat;
    background-size:14px 14px;
    width: auto;
    height: 28px;
    line-height:28px;
    color: #000;
    font-size: 12px;
    text-indent: 24px; 
    background-position-y:center; 
    margin:10px 28px;
}
.why-list div.whyselected{
    background:url(./images/e-checkbox-checked.png) no-repeat;
    background-size:14px 14px;
    width: auto;
    height: 28px;
    line-height:28px;
    color: #000;
    font-size: 12px;
    text-indent: 24px; 
    background-position-y:center;   
    margin:10px 28px;
}
.sure-btn{
    margin-left:233px;
}
