
/* 待接单 */

.ui-tab-blue input.e-input{
    position: absolute;
    right:87px;
}
.waiting{
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0 0px 40px;
}
.waiting>.ui-table{
    height: 100%;
}
.waiting>.ui-table thead tr th{
    min-width: 140px;
}
.waiting>.ui-table.waiting-list thead tr>th:last-child{background: none}
.waiting>.ui-table table tbody tr>td span{
    display:block;
}
.waiting>.ui-table.waiting-list tbody tr>td span{
    width:100%;
    display:block;
    text-align:center;    
    color:#333;
    word-break: break-all;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.waiting>.ui-table.waiting-list tbody tr>td span:last-child{
    border-bottom:none;
}
.waiting>.ui-table tbody tr td i{
    color:#ff1b20;
    font-style:normal;
}
.waiting>.ui-table tbody>tr td b{
    display:inline-block;
    width:36px;
    height:16px;
    border:1px solid #3fc0db;
    line-height:16px;
    text-align:center;
    font-size:12px;
    color:#3fc0db;
    margin: 5px 0px;
}
.waiting>.ui-table tbody>tr td b:hover{
    
    color:#fff;
    background:#3fc0db;
}
.waiting>.ui-table tbody tr td button:first-child{
    margin:3px auto;
}
.waiting>.ui-table tbody tr td button:last-child{
    margin:3px auto;
}
.waiting>.ui-table tbody tr>td button{
    cursor: pointer;
}
.waiting>.ui-table tbody tr td s{
    width: 100%;
    display: block;
    line-height: 25px;
    color: #333;
    font-weight: inherit;
    font-size: 12px;
    text-decoration:none;
}
.waiting>.ui-table tbody tr td s:nth-child(1){color:#333}
.waiting>.ui-table tbody tr td s:nth-child(2){color:#3fc0db}
.waiting>.ui-table tbody tr td s:hover{
    text-decoration:underline;
}
/* 订单配送样式 */
.waiting>.ui-table.forshipping thead tr th{
    min-width: 140px;
    color:#4d4d4d;
    font-size:12px;
    text-align:center;
    background: url(./images/thead-border.png) ;
    background-size:1px 24px;
    background-repeat: no-repeat;
    background-position: right center;
}

.waiting>.ui-table.forshipping tbody tr>td span{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.waiting>.ui-table.forshipping tbody tr>td span{
    display:block;
}
.why-list{
    width: 460px;
    height: auto;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    margin: 61px auto 22px;
}
.why-list div{
    background:url(./images/gaiban-n.png) no-repeat;
    background-size:14px 14px;
    width: auto;
    height: 28px;
    line-height:28px;
    color: #000;
    font-size: 12px;
    text-indent: 24px; 
    background-position-y:center; 
    margin:10px 28px;
}
.why-list div.whyselected{
    background:url(./images/gaiban-y.png) no-repeat;
    background-size:14px 14px;
    width: auto;
    height: 28px;
    line-height:28px;
    color: #000;
    font-size: 12px;
    text-indent: 24px; 
    background-position-y:center;   
    margin:10px 28px;
}
.sure-btn{
    display:block;
    margin: 0 auto;
    cursor: pointer;
}
.online-div{
    height: 100%;
    box-sizing: border-box;
    padding: 0 16px 80px;
}
