
/* 订单查询顶部 */
.orderquery-title{
    height: 63px;
    margin: 12px 16px;
    border: 1px solid #d8dce5;
    background: #f5f8fa;
    box-sizing: border-box;
}
.orderquery-title div .ui-select {width:159px}
.orderquery-title>div{
    width:236px;
    height:27px;
    margin-top:18px;
    float:left;
    margin-left:-14px;   
}
.orderquery-title>div:last-child{width:auto}
.orderquery-title>div:nth-child(1){
    margin-left:0;
}
.orderquery-title>div:nth-child(2){
    margin-left:0;
}
.orderquery-title>div span{
    width:73px;
    line-height: 24px;
    color: #000;
    font-size: 12px;
    text-align: right;
    float: left;
}
.orderquery-title>div .ui-select-define{
    margin-left: 3px;
    width:102px;
    margin-top:-3px;
    background:#f9f9f9;
}
.orderquery-title> input{
    margin-top: 18px;
    margin-left: 10px;
    /* border: 1px solid #c2c2c2;
    background: #f9f9f9;
    color: #000;
    font-size: 12px;
    text-indent: 4px; */
}
.orderquery-title>button{
    margin-right:22px;
    margin-top: 18px;
    float:right;
}

/* 订单列表的div */
.orderquery-div{
    width: 100%;
    height: 100%;
    max-height: 100%;
    background: #fff;
    /* margin: 0 auto; */
    overflow-x: hidden;
    /* display: block; */
    padding: 0px 16px 128px;
    position: relative;
    box-sizing: border-box;
    overflow-y: hidden;
}
.orderquery-div .ui-table{
    height: 100%;
}
.orderquery-div .ui-table::-webkit-scrollbar{width: 0px}
.orderquery-div table{
    width: 100%;
    height: auto;
    display: initial;
}
.orderquery-div table thead{
    height: 40px;
    min-width: 100%;
    background: #f5f8fa;
    display: inline-table;
}
.orderquery-div table thead tr{
    width: 100%;
    height:40px;
}
.orderquery-div table thead tr th{
    text-align: center;
    color: #616463;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    background: url(./images/thead-border.png) ;
    background-size:1px 24px;
    background-repeat: no-repeat;
    background-position: right center;
}
.orderquery-div table thead tr th:last-child{
    background: none;
}
.orderquery-div table thead tr>th:nth-child(1){
    min-width:76px;
    max-width:76px;
}
.orderquery-div table thead tr>th:nth-child(2){
    min-width:112px;
    max-width:112px;
}
.orderquery-div table thead tr>th:nth-child(3){
    min-width:60px;
    max-width:60px;   
}
.orderquery-div table thead tr>th:nth-child(4){
    min-width:70px;
    max-width:70px;  
}
.orderquery-div table thead tr>th:nth-child(5){
    min-width:80px;
    max-width:80px;
   
}
.orderquery-div table thead tr>th:nth-child(6){
    min-width:89px;
    max-width:89px;
   
}
.orderquery-div table thead tr>th:nth-child(7){
    min-width:73px;
    max-width:73px;
   
}
.orderquery-div table thead tr>th:nth-child(8){
    min-width:113px;
    max-width:113px;
    
}
.orderquery-div table thead tr>th:nth-child(9){
    min-width:73px;
    max-width:73px; 
}
/*  */
.orderquery-div table tbody{
    width: 100%;
    /* height: 85%; */
    /* max-height: 85%; */
    overflow-y: auto;
    display: block;
    overflow-x: hidden;
}
.orderquery-div table tbody::-webkit-scrollbar{
    width:0px;
}
.orderquery-div table tbody tr{
    width: 100%;
    /* height: 40px; */
    min-width: 25px;
    border-bottom: 1px solid #f1f4f9;
    display: inline-table;
}
.orderquery-div table tbody tr>td{
    text-align: center;
    color: #a9a9a9;
    font-size: 12px;
    height: auto;
    min-height: 25px;
    word-break:break-all;
}
.orderquery-div table tbody tr>td span{
 width:100%;
 min-height:25px;
 display:block;
 text-align:center;
 word-break:break-all;
 /* line-height:25px; */
 text-align:center;
 color:#a9a9a9;
 
}
.orderquery-div table tbody tr>td j{color:#f00}
.orderquery-div table tbody tr>td span:last-child{
    border-bottom:none;
}
.orderquery-div table tbody tr>td:last-child{
    border-right:none;
}

.orderquery-div table tbody tr>td:nth-child(1){
    min-width:76px;
    max-width:76px;
}
.orderquery-div table tbody tr>td:nth-child(2){
    min-width:112px;
    max-width:112px;
}
.orderquery-div table tbody tr>td:nth-child(3){
    min-width:60px;
    max-width:60px;   
   
}
.orderquery-div table tbody tr>td:nth-child(4){
    min-width:70px;
    max-width:70px;  
}
.orderquery-div table tbody tr>td:nth-child(5){
    min-width:80px;
    max-width:80px;
}
.orderquery-div table tbody tr>td:nth-child(6){
    min-width:89px;
    max-width:89px;
}
.orderquery-div table tbody tr>td:nth-child(7){
    min-width:73px;
    max-width:73px;
}
.orderquery-div table tbody tr>td:nth-child(8){
    min-width:113px;
    max-width:113px;  
}
.orderquery-div table tbody tr>td:nth-child(9){
    min-width:73px;
    max-width:73px; 
}
.orderquery-div table tbody tr>td i{
    line-height:25px;
    color:#a8a8a8;
    margin:0 auto;
    width:100%;
    display:block;
    font-style:normal;
    font-size:12px;
}
.orderquery-div table tbody tr>td b{
    width:100%;
    display:block;
    line-height:25px;
    color:#71c9df;
    font-weight:inherit;
    font-size:12px;
}
.orderquery-div table tbody tr>td b:hover{
    text-decoration:underline;
}




