.sale_pro_content div{

    margin: 0 15px;
    border-bottom: 1px dashed  gray;
    height: 40px;
}
.sale_pro_content div span{

    display: inline-block;
    margin-top: 14px;
    height: 25px;
    box-sizing: border-box;
    width: 580px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.sale_pro_content a{

    color: #3fc0db;
    font-weight: bold;
}
.sale_pro_content img{

    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-right: 10px;
    float: left;
}

