.change_card_date{

    margin: 13px 13px 0;
    height: 59px;
    line-height: 59px;
}
.change_card_date_left{

    width:85%;
    border:1px solid #8db2e3;
    height:57px;
    background:#eef4fb;
    float: left;
}

.change_card_date_left div{
    width:33%;
    height: 100%;
    line-height: 57px;
    font-size: 12px;
    color: #063781;
    text-indent: 10px;
    float: left;
}

.change_card_date button{

    margin-left: 18px; 
}

.change_card_date_left input{

    width:133px;
    height:20px;
    background:#fff;
    outline:none;
    border:1px solid #c4c2c2;       
    text-indent:4px;
    /* 设置选中的边框颜色 */
    outline-color: #6f9ec2;
}
.change_card_date_left input:focus{
    
    border:1px solid #6f9ec2;       
}

/* table的设置 */
/* 表格区域 */
.change_card_result_title{

    font-size: 12px;
    color: black;
    font-weight: bold;
    margin: 5px 13px 0;
    height: 30px;
    line-height: 30px;
}
.change_card_result_title a{

    font-size: 12px;
    color: #1b51f1;
}

/* table部分 */
.change_card_table{

    display: block;
    margin: 0 13px;
    max-height: 460px;
    border:1px solid #8db2e3;
    overflow-y: auto;
    /* 用于隐藏横向滑块 */
    overflow-x:hidden;
}

.change_card_table tr td{

    /* 只设置最小即可设置固定的宽度 */
    min-width: 140px;
    height: 25px;
    font-size: 12px;
    text-align: center;
}
.change_card_table tr td:first-child{   

    min-width: 33px; 
    border-right: 1px solid #acc6de;
}

.change_card_table thead tr{
    background-color: #89b0d4;
    color: white;
}
/* .change_card_table thead tr td:first-child{
    background: url(./img/e-btn-hover.png); 
    background-size: contain;
} */

.change_card_table tbody tr{

    background-color: #f0f5f9;
    color: black;

}
.change_card_table tbody tr:nth-child(odd){

    background-color: #fff;
    color: black;
}
.change_card_table tbody #selecttr{
    background:#cce8ff;
}

.change_card_table tbody tr td:first-child{
    color: #9f9f9f;
}

.change_card_table tbody tr td:last-child{
    color: #1b51f1;
    cursor:pointer;
}