.unpaidstatistics_data{
    margin: 13px 13px 0;
    height: 59px;
}
.unpaidstatistics_dataLeft{
    width:100%;
    border:1px solid #d7dde6;
    height:57px;
    background:#f5f8fa;
    float: left;
}
.unpaidstatistics_dataLeft div{
    float: left;
    width:33%;
    height: 100%;
    line-height: 57px;
    font-size: 12px;
    text-indent: 18px;
}
.unpaidstatistics_dataLeft div button{
    float: right;
    margin-right: 20px;
    margin-top:16px;
}
.unpaidstatistics_dataright{
    height: 57px;
    width: 35%;
    float: left;
    line-height: 57px;
}
.unpaidstatistics_dataright button{
    margin-left:30px;
}
.unpaidstatistics_Statistics{
    border:1px solid #d7dde6;
    height:33px;
    background:#f5f8fa;
    margin: 5px 13px 0;
    line-height: 33px;
}
.unpaidstatistics_Statistics span{
    width: 33%;
    height: 100%;
    text-indent: 18px;
    font-size: 12px;
    float: left;
}
.unpaidstatistics_Statistics span a{
    color: #ff0000;
    font-size: 14px;
    font-weight: bold;
}
.unp-sta-res-num{
    height: 40px;
    font-size: 13px;
    margin: 0 13px;
    line-height:40px;
    /* font-weight:bold; */
}
.unp-sta-res-num a{color: #f00}

/* 表格区域 */
.ui-table-base.unpaidstatistics_table_Arrearage{
    max-height: 290px;
    overflow-x: auto;
    height: 290px;
    margin-left: 17px;
}
.ui-table-base.unpaidstatistics_table_Arrearage tbody{
    max-height: 235px;
    width: 768px;
}
.ui-table-base.unpaidstatistics_table_Arrearage tbody::-webkit-scrollbar{width: 0px}
.ui-table-base.unpaidstatistics_table_Arrearage tbody tr#no-data{margin-top:51px}
.ui-table-base.unpaidstatistics_table_Arrearage tr td{
    min-width:85px;
    max-width:85px;
}