.clean{
    /* padding-top:20px; */
    width:780px;
    margin: 0 auto;
    height: 390px;
    margin-top: 63px;
    background: #fff;
}
.clean-top{
    z-index: 1;
    height:40px;
    padding-top:2px;
    /* background: #fff; */
    width: 100%;
}
.clean-top>.left{
    margin-left: 28px;
    padding-top:7px;
    line-height: 27px;
    width:757px;
    float: left;
}
.right1{
    margin-right: 11px;
    width:319px;
    float:right;
    margin-top:18px;
}
.right1.topdiv{

    width:780px;
    margin: 0 auto;
    height: 28px;
    margin-top: 18px;
}
.right1.topdiv button.e-btn{

    float: right;
    margin-right: 11px;
}
.right1.topdiv input.e-input{

    float: right;
    width: 220px;
    margin-right: 10px;
}
.e-box{
  width:780px;
  height:368px;
  position: relative;
}
.e-box table{
    width:780px;
    height:368px;
}
.e-box table thead{
    width:100%;
    height:25px;
    background:#f6f7fb;
    display:block;
}
.e-box table thead tr{
    width:780px;
    height:25px;
}
.e-box table thead tr th{
    color:#9c9c9e;
    font-size:12px;
    text-align:center;
    box-sizing:border-box;
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box;
    background: url(./images/thead-border.jpg);
    background-size: 1px 24px;
    background-repeat: no-repeat;
    background-position: 100%;

}
.e-box table thead tr th:last-child{background: none;}
.e-box table tbody{
    width:780px;
    max-height:345px;
    overflow-y:auto;
    height:345px;
    display:block; 
}
.e-box table tbody tr{
    min-height:25px;
    width:100%;
    border-bottom:1px solid #edf0f9;
}
.clean .e-table>tbody>tr.disabled{
    color: #808080;
}
.e-box table tbody tr td{
    color:#999999;
    font-size:12px;
    text-align:center;
    box-sizing:border-box;
   -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box; 
    word-break:break-all;
    height:25px;
}
.e-box table tbody::-webkit-scrollbar{
    width:0px;
}
/* .clean .e-table>tbody>tr.disabled>td:first-child{
    width: 113px;
} */
.e-box table thead tr th:nth-child(1){width:135px;}
.e-box table tbody tr td:nth-child(1){width:135px;}

.e-box table thead tr th:nth-child(2){width:76px;}
.e-box table tbody tr td:nth-child(2){width:76px;}

.e-box table thead tr th:nth-child(3){width:69px;}
.e-box table tbody tr td:nth-child(3){width:69px;}

.e-box table thead tr th:nth-child(4){width:100px;}
.e-box table tbody tr td:nth-child(4){width:100px;}

.e-box table thead tr th:nth-child(5){width:69px;}
.e-box table tbody tr td:nth-child(5){width:69px;}

.e-box table thead tr th:nth-child(6){width:100px;}
.e-box table tbody tr td:nth-child(6){width:100px;}

.e-box table thead tr th:nth-child(7){width:69px;}
.e-box table tbody tr td:nth-child(7){width:69px;}

.e-box table thead tr th:nth-child(8){width:69px;}
.e-box table tbody tr td:nth-child(8){width:69px;}

.e-box table thead tr th:nth-child(9){width:131px;}
.e-box table tbody tr td:nth-child(9){width:131px;}

/* 合作商家样式 */
.clean-team{
    position: absolute;
    top: 30px;
    right: 0;
    width: 240px;
    height: 300px;
    border: 1px solid #3596e3;
    z-index: 10;
    background-color: #fff;
}
.clean-team>:first-child{
    height: 40px;
    background-color: #3596e3;
    padding: 0 10px;
    line-height: 40px;
    color: #fff;
}
.clean-team>:nth-child(2){
    height: 200px;
    overflow-y: auto;
    padding: 10px;
}
.clean-team>:nth-child(2)>div{
    background-color: #eef8ff;
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    overflow: hidden;
    cursor: pointer;
}
.clean-team>:nth-child(2)>div.checked{
    color: red;
    background-color: #ffe9e9;

}

.clean-team>:last-child{
    text-align: center;
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: absolute;
    bottom: 0;
}

.e-orange{color:red}
.left button{float:right;margin-right:15px}
.photo-btn{
    color:#169bd5;
    font-weight:inherit;
}
.photo-btn:hover{
    text-decoration:underline;
}



/* 洗护管理修改样式 */
.clean .e-box .e-table tbody tr{display: -webkit-box}
.clean .e-box .in-factory tbody tr{display: -webkit-box}
.clean .e-box .e-table tbody td span.e-checkbox{
    border: none;
    background: url(./images/gaiban-n.png);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    width: 128px;
    text-indent: 14px;
    display: block;
    color:#999;
    cursor: pointer;
    line-height: 16px;
}
.clean .e-box .e-table tbody td span.e-checkbox.checked{
    background: url(./images/gaiban-y.png);
    background-size: 14px 14px;
    background-repeat:no-repeat;
    background-position:left center;
}
.clean-top .left span.e-checkbox{
    background: url(./images/gaiban-n.png);
    background-size: 14px 14px;
    background-repeat: no-repeat;
    text-indent: 18px;
    display: inline-block;
    border: none;
    line-height: 15px;
    width: 54px;
    cursor: pointer;
}
.clean-top .left span.e-checkbox.checked{
    background: url(./images/gaiban-y.png);
    background-size: 14px 14px;
    background-repeat:no-repeat;
    background-position:left center;
}
.clean .e-box .in-factory tbody tr td span.e-radio{
    border: none;
    background: url(./images/gaiban-n.png);
    background-size: 14px 14px;
    background-repeat: no-repeat;
    width: 128px;
    text-indent: 14px;
    display: block;
    color:#999;
    border-radius:0;
    cursor: pointer;
    line-height: 16px;
}
.clean .e-box .in-factory tbody tr td span.e-radio.checked{
    border:none;
    background: url(./images/gaiban-y.png);
    background-size: 14px 14px;
    background-repeat:no-repeat;  
    background-position:left center;
}