
#Washmanagement-title {
    width:700px;
    height:47px;
    line-height:47px;
    color:#15458d;
    font-size:12px;
    font-weight: 700;
}

#shop-div{
    width:auto;
    height:299px;
}

#shop-div>div{
    width: 115px;
    height: 35px;
    border: 1px solid #eee;
    margin-right: 24px;
    float: left;
    margin-bottom: 14px;
    border-radius: 4px;
    line-height: 35px;
    background: white;
}
#shop-div>div.onclick{
    border: 1px solid #3abbd5;
    background: #f5fefe;
}

#shop-div>div:last-child{

    width: 100%;
    height: 35px;
    float: left;
    border: none;
}

#shop-div>div i{

    width:27px;
    height:30px;
    margin-top: 6px;
    margin-left: 10px;
    float: left;
}
#shop-div>div:nth-child(1) i{

    background: url(./images/set-xhfu-sx-nor.png) no-repeat;
}
#shop-div>div:nth-child(2) i{

    background: url(./images/set-xhfu-rc-nor.png) no-repeat;
}
#shop-div>div:nth-child(3) i{

    background: url(./images/set-xhfu-qx-nor.png) no-repeat;
}
#shop-div>div:nth-child(4) i{

    background: url(./images/set-xhfu-hg-nor.png) no-repeat;
}
#shop-div>div:nth-child(5) i{

    background: url(./images/set-xhfu-yt-nor.png) no-repeat;
}
#shop-div>div:nth-child(6) i{

    background: url(./images/set-xhfu-zj-nor.png) no-repeat;
}
#shop-div>div:nth-child(7) i{

    background: url(./images/set-xhfu-cc-nor.png) no-repeat;
}
#shop-div>div:nth-child(8) i{

    background: url(./images/set-xhfu-flsh-nor.png) no-repeat;
}

#shop-div>div b{

    float: left;
    margin-left: 5px;
    font-size:13px;
}

.store-button{

    margin-left:26px;
    cursor:pointer;
    margin:10px auto;
}

