
#Washmanagement-title {
    width:700px;
    height:47px;
    line-height:47px;
    font-size:12px;
    font-weight: 700;
}

#shop-div>span{margin: 0 24px 14px 0;}
/* #shop-div>div{
    width: 115px;
    height: 35px;
    border: 1px solid #eee;
    margin-right: 24px;
    float: left;
    margin-bottom: 14px;
    border-radius: 4px;
    line-height: 35px;
    background: white;
} */
#shop-div>div b{

    float: left;
    margin-left: 5px;
    font-size:13px;
}

.store-button{

    margin-left:26px;
    cursor:pointer;
    margin:10px auto;
}

