.Payandrecharge{width:608px;height:auto;margin:0 auto}
.Payandrecharge-information{width:608px;height:106px}  

.Payandrecharge-information-title{
    width:100%;
    height:40px;
    line-height:40px;
    color:#000;
    font-size:12px;
    font-weight:bold;
    text-indent:8px;
}
.Payandrecharge-information-div{
    width:606px;
    height:65px;
    border:1px solid #8db2e3;
    background:#eef4fb;
}
.Payandrecharge-information-div div{
    float:left;  
    width:201px;
    height:46px;
    border-right:1px solid #8db2e3;
    margin-top:11px;
}
.Payandrecharge-information-div div:last-child{border-right:none}
.Payandrecharge-information-div div p{
    width:100%;
    height:23px;
    line-height:23px;
    color:#000;
    font-size:12px;
    color:#063781;
}
.Payandrecharge-information-div div p i{
    width:97px;
    text-align:right;
    display: inline-block;
    font-style: normal;
}
.Payandrecharge-information-div div p b{
    width:auto;
    color:#000;
    font-weight:inherit;
    display: inline-block;
}
/* 付款方式 */
.Payandrecharge-payment{
    width:100%;
    height:213px;
    
}
.Payandrecharge-payment-title{
    width:100%;
    height:40px;
    line-height:40px;
    color:#000;
    font-size:12px;
    font-weight:bold;
    text-indent:8px;
}
/* 写支付的div 会复用 */
.payment-method{
    width:606px;
    height:178px;
    background:#eef4fb;
    border:1px solid #8db2e3;
}
.payment-method-div{
    width:100%;
    height:41px;
    margin-top:17px;
    clear:both;
}
/* .payment-method-div div  .payment-method-money 是同一个样式 没点击默认样式*/
.payment-method-div div{
    width:142px;
    height:41px;
    background:url(./img/payment-method-bg.png) no-repeat;
    background-size:142px 41px;
}
.payment-method-money{
    background:url(./img/payment-method-bg.png) no-repeat;
    background-size:142px 41px;
    float:left;
    margin-left:49px;
}
.payment-method-div div.pay-success{
    background: url(./img/payment-method-hover.png) no-repeat;
    background-size:142px 41px;
}
.payment-method-money div{
    width:77px;
    height:20px;
    margin:10px auto;
    line-height:20px;
    color:#000;
    font-size:12px;
    text-align:center;
    padding-left:9px;
}
.payment-method-div div:nth-child(1) div{
    background:url(./img/money.png) no-repeat;
    background-size:20px 20px;
    background-position:left center;
}
.payment-method-div div:nth-child(2) div{
    background:url(./img/mechart.png) no-repeat;
    background-size:20px 20px;
    background-position:left center;
}
.payment-method-div div:nth-child(3) div{
    background:url(./img/zhifubao.png) no-repeat;
    background-size:20px 20px;
    background-position:left center;
}

/* 支付方式不同变化的内容大div */
.pay-money {width:100%;height:60px}
/* 现金额支付 */
.cash-payment{
    width:auto;
    height:22px;
    margin:23px 0 32px 49px;
    color:#000;
    font-size:14px;
    line-height:22px;
    font-weight:bold;
}
.cash-payment input{
    width:149px;
    height:20px;
    border:1px solid #c2c2c2;
    background:#fff;
    margin-left:4px;
    color:#000;
    font-size:14px;
    line-height:20px;
    outline-color: #8db2e3;
    margin-right:3px;
}
/* 微信支付 */
.we-chatPay{
    width:365px;
    height:46px;
    margin:16px 0 16px 49px;
   
}
/* 支付宝，微信付款共同样式 */
.we-chatPay div{
    width:auto;
    height:20px;
    color:#000;
    font-size:12px;
    line-height:20px;
    margin-bottom:5px;
}
.we-chatPay>div>input{
    width:69px;
    height:20px;
    color:#000;
    line-height:20px;
    font-size:12px;
    margin-right:9px;
    background: #fff;
    border:1px solid #c2c2c2;
}
/* 不变的具体支付金额 */
.payment-method-foot{width:auto;height:20px;margin-left:49px;}
.payment-method-foot div{
    width:210px;
    height:20px;
    line-height:20px;
    color:#000;
    font-size:14px;
    float: left;
}
.payment-method-foot div b{color:#ff0000;margin-left:4px}

.Payandrecharge-btn {width:100%;height:24px;margin-top:21px}
.Payandrecharge-btn button{
    float:right;
    width:71px;
    height:24px;
    background: url(./img/e-btn.png) no-repeat;
    background-size:100% 100%;
    color:#000;
    font-size:12px;
    text-align:center;
    line-height:24px;
    outline:none;
    border:none;
    cursor:pointer;
}
.Payandrecharge-btn button:hover{background:url(./img/e-btn-hover.png) no-repeat;background-size:71px 24px}
