.ui-table-base.bal-sta-tab.recharge-sta{

    max-height: 341px;
    margin-top: 5px;
    max-width: 780px;
    overflow-x: auto;
    height: 341px;
}
.ui-table-base.bal-sta-tab.recharge-sta tbody{
    max-height: 290px;
    height: 290px;
    width: 766px;
}
.ui-table-base.bal-sta-tab.recharge-sta tr td{
    max-width: 121px;
    min-width: 121px;
}

.ui-table-base.bal-sta-tab.recharge-sta tr td:first-child{
    max-width: 40px;
    min-width: 40px;
}

.ui-table-base.bal-sta-tab.recharge-sta thead tr td:first-child {
    background: url(./img/revokedata_list_box_span.png) no-repeat;
    background-size: 10px 10px;
    background-position-x: 27px;
    background-position-y: 12px;
}
