

.recharge-up-tab{
    height: 100%;
    width: 100%;
    padding: 0px 16px 150px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
}
.recharge-up-tab>.ui-table{

    height: 100%;;
}
