
.memberinfoupdate_title{
    width:100%;
    height:37px;
    background:url(./img/revokedata_title.png) repeat-x;
    line-height:37px;
    font-size:14px;
    font-weight:bold;
    text-indent:12px;
    color:#15458d;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    position:relative;
}
.memberinfoupdate_bottomborder{  
    width: 607px;
    height: 194px;
    background-color: #eef4fb;
    border: 1px solid #8db2e3;
    margin: 0 auto;
    margin-top: 13px;
}
span{
    font-size: 12px;
    color:#063781; 
}
.memberinfoupdate_text{
    width: 120px;
    text-align: right;
}
.inputborder{
    width: 151px;
    height: 21px;
    margin-left: 9px;
    outline: none;
    border:1px solid #c4c2c2;  
    text-indent: 5px;
}
.memberinfoupdate_leftdirection{
    float: left;
    width: 261px;
    margin-top: 14px;
}
.memberinfoupdate_leftdirection span{
    width: 68px;
    text-align: right;
    display: inline-block; 
}
.memberinfoupdate_leftdirection input{
    display: inline-block; 
}
.memberinfoupdate_rightdirection{
    float: right;
    margin-right: 42px;
    margin-top: 14px;
    position:relative;
}
.inputlongborder{
    width: 508px;
    height: 21px;
    margin-left: 9px;
    outline: none;
    border:1px solid #c4c2c2;  
}
.memberinfoupdate_longdirection{
    float: left;
    margin-top: 14px;

}
.memberinfoupdate_longdirection span{
    width: 68px;
    text-align: right;
    display: inline-block; 
}
.memberinfoupdate_customerdirection{
    float: left;
    width: 100%;
    margin-top: 14px;
}
.memberinfoupdate_customerdirection span{
    width: 68px;
    text-align: right;
    display: inline-block; 
}
.inputthreeborder{
    width: 90px;
    height: 21px;
    margin-left: 9px;
    outline: none;
    border:1px solid #c4c2c2; 
}
.memberinfoupdate_button{
    margin-top: 20px;
    margin-left: 340px;

}
.memberinfoupdate_button button{
    margin-left: 50px;
}
.inputselectborder{
     width: 151px;
    height: 21px;
    margin-left:6px;
    background-size:100% 100%;
    outline:none;border:none;
    border:1px solid #c4c2c2;       
    border-radius:3px;
    text-indent:4px;
    cursor: pointer;
    background:#fff url(./img/select.png) no-repeat;background-size:18px 24px;
    background-position-x:133px;
    background-position-y:0; 
}
.inputborder:focus{
 
    width: 151px;
    height: 21px;
    margin-left:6px;
    border: 1px solid #6f9ec2;
 }
  .inputlongborder:focus{
    width: 508px;
    height: 21px;
    margin-left: 9px;
    outline: none;
    border: 1px solid #6f9ec2;
  }
  .inputthreeborder:focus{
    width: 90px;
    height: 21px;
    margin-left: 9px;
    outline: none;
    border: 1px solid #6f9ec2;
  }
  .memberinfoupdate_inputleftline{
    float: left;
    width: 100%;
    margin-top: 10px;
  }
  .memberinfoupdate_inputleftline span{
    width: 80px;
    text-align: right;
    display: inline-block; 
}
  .memberinfoupdate_inputrightline {
    float: right;
    margin-right: 30px;
    margin-top: 14px;
}
.memberinfoupdate_lefttopdirection{
    float: left;
    width: 261px;
    margin-top: 45px;
}
.memberinfoupdate_lefttopdirection span{
    width: 80px;
    text-align: right;
    display: inline-block; 
}
.memberinfoupdate_rightbutton{
    margin-top: 427px;
    margin-left: 50px;
    margin-right: 50px;
    width: 40%;
    float: right;
    position: absolute;
    right: 0;

}
.memberinfoupdate_rightbutton button{
    margin-left: 50px;
   
}
.memberinfoupdate img{
    background: url(./img/rightarrows.png);
    width:15px;
    top:0;
    position: absolute;
    left: 216px;
    height: 22px;
}
.memberinfoupdate_customerdirection .ui-select{width:153px;margin-left:9px;background:#fff}