/* 上挂 */
.Hangon-div{
    text-align: right;
    margin-right: 30px;
    padding-top:20px; 
    padding-bottom: 20px;
}
.Hangon-div span{color:#063781;font-size:12px;margin:38px 0 0;display: block }
.Hangon-div>input{
    margin-right: 10px;
}
.e-btn.hangon-btn{
    margin-left:12px;
}
.Hangon-left{
    width:287px;
    height:318px;
    float:left;
    border:1px solid #8db2e3;
    margin:11px 0 0 11px;
    background:#eef4fb;
}
.Hangon-left-title{
    width:98px;
    float: left;
    border-right:1px solid #8db2e3;
    max-height:318px;
    overflow-y:auto;
    border-bottom: 1px solid #8db2e3;
}
.Hangon-left-title::-webkit-scrollbar{
  width: 0px;
}
.Hangon-left-title span{
    display:block;
    width:98px;
    height:28px;
    line-height:28px;
    color:#063781;
    font-weight:bold;
    font-size:12px;
    text-indent:14px;
    border-bottom:1px solid #8db2e3;
}
.Hangon-left-title span:last-child{border-bottom:none;}
.Hangon-left-count{
    width:188px;
    max-height:318px;
    float: left;
    text-indent:8px;
    overflow-y:auto;
}
.Hangon-left-count::-webkit-scrollbar{
    width: 0px;
  }
.Hangon-left-count span{
    display:block;
    width:188px;
    height:28px;
    line-height:28px;
    color:#063781;
    /* font-weight:bold; */
    font-size:12px;
    text-indent:14px;
    border-bottom:1px solid #8db2e3;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.Hangon-left-count span:nth-child(10){
    color:#f00;
}
.Hangon-right{
    height:256px;
    width:242px;
    float:right;
    margin:11px 11px 0 0;
    margin-left:11px 0 0 11px;
    background:#eef4fb;
    padding-top:62px;
    border:1px solid #8db2e3
}
.Hangon-right .Hangon-right-select{
    width:207px;
    height:24px;
    margin:18px auto 0;
}
.Hangon-right .Hangon-right-select span{
    display:block;
    float:left;
    height:22px;
    line-height:22px;
    color:#15458d;
    font-size:12px;
    text-align:right;
    width:53px;
    margin-right:5px;
}
.Hangon-right .Hangon-right-select .ui-select-define{
    width:146px;
}
.Hangon-right .Hangon-right-select input{
    width:146px;
    height:20px;
    border:1px solid #c2c2c2;
    background:#fff;
    color:#000;
    font-size:12px;
    display:block;
    float:left;
}

.e-btn.Hangon-right-btn{

    margin-top: 100px;
    margin-left: 38px;
    margin-right: 0px;
}
.ui-table-base.hangon-sear-res-tab{

    max-height: 530px

}
.ui-table-base.hangon-sear-res-tab tr td{

   min-width: 124px; 
   max-width: 124px;

}
.ui-table-base.hangon-sear-res-tab tbody{

    max-height: 505px;
}