
.clothestat_dataright button{
    padding: 0;
    margin: 0;
    width: 62px;
    height: 28px;
    text-align: center;
    background-color: #3fc0db;
    font-weight: 500;
    border-radius: 4px;
    color: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
    border: none;
}
.Takeclothes-div-title.operating-detail.clo-title{

    text-indent: 0px;
    padding-top: 0px;
}
.man-que-tab.clo-tab{

    padding: 0px 16px 115px;
}
.man-que-tab.clo-tab .man-que-tab-one.clo-sta-tab-one,.man-que-tab.clo-tab .man-que-tab-two.clo-sta-tab-two{

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-bottom: 43px;
}

