.clothestat-tab table{
    width:780px;
    height:150px;
    border:1px solid #e1e4eb;
    max-width:870px;
    overflow-x:auto;
    overflow-y:hidden;
    display:block;
    margin:0 auto;
}
.clothestat-tab table thead{
    width:870px;
    height:25px;
    background:#f6f7fb;
}
.clothestat-tab table thead tr{width:870px;height:25px;}
.clothestat-tab table thead tr th{
    width:130px;
    height:25px;
    border-right:1px solid #eaeff5;
    color:#636466;
    font-size:12px;
    min-width:130px;
    max-width:130px;
    text-align:center;
}
.clothestat-tab table thead tr th:first-child{
    width:31px;
    min-width:31px;
    background:url(./img/revokedata_list_box_span.png) no-repeat;
    background-size:10px 10px;
    background-position-x:17px;
    background-position-y:11px;
}
.clothestat-tab table tbody{
    width:auto;
    height:112px;
    max-height:112px;
    overflow-y:auto;  
    display:inline-block;
    overflow-x:hidden;
}
.clothestat-tab table tbody tr{width:870px;height:25px;}
.clothestat-tab table tbody tr:last-child{
    border-bottom: 1px solid #e1e4eb;
}
.clothestat-tab table tbody tr td{
    width:130px;
    height:25px;
    border-right:1px solid #e1e4eb;
    color:#a7a7a7;
    font-size:12px;
    min-width:130px;
    text-align:center;
    max-width:130px;
}
.clothestat-tab table tbody tr td:first-child{
    width:31px;
    min-width:31px;
}

.clothall{
    width:330px;
    height:30px;
    line-height:30px;
    color:#636466;
    font-size:12px;
    font-weight:bold;
    margin-left:13px;
}
.clothall-tab{
    width:503px;
    max-height:155px;
    height:155px;
    border:1px solid #e1e4eb;
    display:block;
    margin-left:13px;
}
.clothall-tab thead{
    display:inline-block;
    width:503px;
    background:#f6f7fb;
}
.clothall-tab thead tr{
    width:503px;
    height:25px;   
}
.clothall-tab thead tr th{
    width:242px;
    height:25px;
    line-height:25px; 
    font-size:12px; 
    color:#636466;
}
.clothall-tab thead tr th:first-child{
    border-right:1px solid #eaeef7;
}
.clothall-tab tbody tr td{
    width:264px;
    height:25px;
    line-height:25px;
    font-size:12px;
    color:#a7a7a7;
    text-align:center;
}
.clothall-tab tbody{max-height:120px;overflow-y:auto;display:block}

#clo-que-tab thead tr td:first-child{
    background: url(./images/thead-border.png);
    background-size: 1px 24px;
    background-repeat: no-repeat;
    background-position: right center;
}
.clothestat_data{
    width:780px;
    height:59px;
    margin:13px auto 0px;
}
.clothestat_dataLeft{
    width:auto;
    border:1px solid #e9edf1;
    height:57px;
    background:#f5f8fa;
    float: left;
    padding-right:12px;
}
.clothestat_dataLeft div{
    width:207px;
    height:20px;
    margin-top:18px;
    line-height:20px;
    color:#000;
    font-size:12px;
    cursor: pointer;
    float: left;
    padding-left: 12px;
}
/* .clothestat_dataLeft div input{
    width:133px;
    height:20px;
    background:#fff;;
    background-size:100% 100%;
    outline:none;border:none;
    border:1px solid #c4c2c2;       
    border-radius:3px;
    text-indent:4px;
    cursor: pointer;
    background:url(./img/select.png) no-repeat;background-size:18px 24px;
    background-position-x:115px;
    background-position-y:0; 
} */
.clothestat_dataright{float:left;width:255px;height:24px;margin:17px 0 0 6px;}
.clothestat_dataright button{
    width:71px;
    border:none;
    background:none;
    height:24px;
    margin-left:10px;
    background:#3fbfdc;
    text-align: center;
    line-height:24px;
    color:#fff;
    font-size:12px;
    outline:none;
    cursor: pointer;
}
.clothestat_dataLeft div .e-date{width: 146px}

.clothstate-foot{margin-top: 37px}