.salecard div.top{
    margin: 10px auto;
}
.salecard .top div.top-div{
    padding-top: 16px;
    margin-top: 0;
}
.salecard .top div span{
    width: 124px;
    text-align: right;
    font-size: 14px;
    display: inline-block;
    color: black
 }
 .salecard_left_direction{
     width: 460px;
     float: left;
 }
.salecard .top div span label{
    color: #ff0000;
}
.salecard div.middle{
    width: 731px;
    height: 154px;
    margin: 9px auto;
}
.salecard div.bottom{
    width: 731px;
    height: 124px;
    margin: 9px auto;
    background: #fbfbfc;
}
.salecard .top_hr{
    margin-top: 14px;
    margin-left: 17px;
    margin-right: 17px;
    height: 1px;
    background: #eaecf1;
    border: none;
}
.salecard_leftdirection{
   
    height: 36px;
    line-height: 35px;
}
.bottom_hr{
    margin-top: 106px;
    width:762px;
    margin-left: 19px;
    background: #eaecf1;
    height: 1px;
}
.bottom_div{
    height: 85px;
    background: #fbfbfc;
}
.bottom_text{
    padding-top: 31px;
    margin-left: 64px;
}
.bottom_text div{
    float: right;
    margin-right: 39px;
    text-align: center;
    background: #fbfbfc
}
.vertical_line{
    height:250px; 
    width:1px; 
    margin-top: 20px;
    border-left:1px #d9dde4 solid;
    float: left;
}
.salecard .salecard_leftdirection span{
    width: 124px;
    text-align: right;
    display: inline-block; 
}
.salecard_rightdirection{
   display: inline-block;
}
.salecard_rightdirection div span{
    width: 80px;
    text-align: right;
    float: left;
    margin-top: 8px;
}
.salecard_rightdirection .salecard_money{
    font-weight: bold;
    margin-left: 43px;
    margin-top: 27px;
}
.salecard_rightdirection button{
    margin-left: 95px;
    margin-top: 20px;
}
.salecard_rightdirection button:last-child{
    margin-left: 10px;
}
.salecard .bottom div span{
    width: 124px;
    text-align: right;
    display: inline-block;
 }
 .salecard  label{
     color: black;
     margin-left: 16px;
     line-height: 14px;
     font-size: 12px;
    
     
 }
 .salecard label span .imghelp{
    background-image: url(img/salecardhelp.png);
    width:20px;
    height: 20px;
}
 .salecard .bottom button{
     position: absolute;
     right: 20px;
     bottom: 17px;
 }
 .salecard .textred{
     color: red;
     font-size: 14px;
     font-weight:bold;
     margin-right: 12px;
 }
 .salecard_rightdirection div:first-child{
     margin-top: 25px;
 }
 .salecard_rightdirection div{
     margin-top: 10px;
 }
 .salecard>.bottom>div{
     margin-top: 5px;
 }
 .salecard .top>div {
     margin-top: 14px;
 }
 .salecard_leftdirection>span>label{
   color: red
}
.salecard .top .cardnumber{
    margin-left:9px;
    height:18px;
}

.top div .ui-select-define{
    width:92px;
    min-width:92px;
}
.salecard_e-btn{
    padding: 0;
    margin: 0;
    width: 80px;
    height: 28px;
    text-align: center;
    background-color: #3fc0db;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    color: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
    border: none;
}