.data_border{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    width: 325px;
    height: 140px;
    border:1px solid #8db2e3;
    
}
.data_border>div>span{
    margin-left: 33px; 
}
.data_border>div>input{
    margin-top: 14px;
}
.data_border div:last-child input{
    margin-top: 26px;
    width: 160px;
    height: 22px;
    font-size: 12px;
}

.data button{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
.data-import{
    height: 562px;
    padding: 8px 16px;
    margin: 8px;
    font-size: 12px;
    border: 1px solid #8db2e3;
    border-radius: 3px;
}
.data-import>:first-child{
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #8db2e3;
}
.data-import-row{
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}
.data-import span{color: #063781}
.data-progress{
    height: 100%;
    width: 100%; 
    position: absolute;
    top: 0;left: 0;
    background: rgba(0, 0, 0, .4);
    border-radius: 8px;  
}
.data-progress-circle{
    height: 240px;
    width: 240px;
    position: absolute;
    top: 50%;left: 50%;
    margin: -120px 0 0 -120px;
}
.data-progress-msg{
    width: 160px;
    height: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -18px 0 0 -80px;
    text-align: center;
    font-size: 24px;
    color: #fff;
}