.data_border{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    width: 325px;
    height: 192px;
    border:1px solid #8db2e3;
    
}
.data_border>div>span{
    margin-left: 33px; 
}
.data_border>div>input{
    margin-top: 14px;
}
.data_border>div>input:last-child{
    margin-top: 26px;
}