.ope-inc-head{

    margin: 10px 13px;
    border:1px solid #8db2e3;
    background:#eef4fb;
    height: 70px; 
}
.ope-inc-head a{

    font-size: 13px;
    color: #15458d;
    float: left;
    height: 15px;
    margin-top: 11px;
    width: 700px;
    margin-left: 10px;
}
.ope-inc-head button{

    float: right;
    margin-right: 20px;
    margin-top: 22px;
}
.ui-table-base.ManagerGathering-tab.ope-inc-tab{
    max-height: 475px;
    height:467px;
}
.ui-table-base.ManagerGathering-tab.ope-inc-tab tbody{
    max-height: 450px;
}
.ui-table-base.ManagerGathering-tab.ope-inc-tab tbody tr:last-child{
    border-bottom:1px solid #8db2e3;
}