.ope-inc-head{

    margin: 10px 13px;
    border:1px solid #d7dde6;
    background:#f5f8fa;
    height: 70px; 
    line-height: 70px;
    text-indent:12px;
}
.ope-inc-head div{
    display: inline;
}
.ope-inc-head div a{
    font-size: 13px;
    /* float: left; */
    height: 15px;
    margin-top: 11px;
    width: 700px;
    margin-left: 10px;
}
.ope-inc-head button{

    float: right;
    margin-right: 20px;
    margin-top: 20px;
}
.ui-table-base.ManagerGathering-tab.ope-inc-tab{
    max-height: 367px;
    height: 367px;
}
.ui-table-base.ManagerGathering-tab.ope-inc-tab tbody{
    max-height: 330px;
}
.ui-table-base.ManagerGathering-tab.ope-inc-tab tbody tr:last-child{
    border-bottom:1px solid #ddd;
}