
.operateincome table {
    border-collapse: collapse;
    margin: 0 auto;
    width:875px;
    border:1px solid #8db2e3;
    margin:auto;
    clear: both;
    max-height:503px;
    overflow-y:auto;
    display: block;
    height:auto;
}
.operateincome table tr th {
    width: 96px;
    height: 25px;
    border:1px solid #8db2e3;
    text-align: center;
    background:#89b0d4;
    color: white;
    font-weight: normal; 
    font-size: 12px;
  
}
.operateincome table tbody tr td {
    width: 96px;
    height: 25px;
    text-align: center;  
    font-size: 12px; 
    border-right: 1px solid #acc6de;
}
.operateincome table tr:nth-child(odd){
    background: white;
    }
.operateincome div.blacktext{
    color: black;
    font-size: 14px;
    font-weight: bold;
    margin: 20px;
}
.operateincome table tbody tr:last-child td:first-child{
    color:#154f8d;
    font-weight: bold;
    text-align: center;
}
