.price-setting-btn-area{
    position: absolute;
    top: 10px;
    right: 10px;
}
.price-setting-page-area{
    position: absolute;
    left: 10px;
    bottom: 0;
}
.price-setting-table-area, .price-setting-table-area-top{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 48px 0 38px;
    overflow-x: auto;
}
.price-setting-table-area-top{padding-bottom: 0;}
.price-setting-table-area .ui-table{height: 100%}

.membercard-tab table thead tr th:last-child {
    border-right: none;
}
.membercard-tab table thead tr th {
    width: 123px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #707070;
    font-size: 12px;
    min-width: 123px;
}
.membercard-tab{
    width:730px;
    height:auto;    
    border:1px solid #eceff6;
    clear:both;
    max-height:321px;
    overflow: hidden;
}
.membercard-tab table thead{
    width:100%;
    height:25px;
    background:#f6f7fb;
}
.membercard-tab table{height:283px;border-bottom:1px solid #eceff6}
.membercard-tab table thead tr{
    width:100%;
    height:40px;
    line-height:40px;
    display: inline-block;
}
.membercard-tab table tbody{width:767px;display:block;max-height:240px;overflow-y:auto;overflow-x:hidden}
.membercard-tab table tbody tr{
    width:100%;
    height:40px;
}
.membercard-tab table tbody tr td{
    width: 123px;
    height:40px; 
    text-align:center;
    font-size:12px;
    color:#a7a7a7;
    line-height:40px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    min-width:123px;
    
}
.membercard-tab table tbody tr td:last-child{border-right:none;cursor:pointer}
.membercard-tab table tbody tr td b{
    font-weight:inherit;
    color: #3fbfdc;
    margin-left:30px;
    float:left;
}
.membercard-tab table tbody tr td i{
    font-style:normal;
    color: #3fbfdc;
    margin-right:30px;
    float:right;
}
.membercard-div{
    width:426px;
    height:190px;
    font-size: 13px;
    margin:27px auto;
 }
 .membercard-div div{width:319px;height:24px;margin-top:15px}
 .membercard-div div span{
     width:130px;
     text-align:right;
     font-size:12px;
     line-height:24px;
     display:inline-block;
 }
 .membercard-div div span i{
   color: red;
   font-weight: normal
}
 .membercard-div div input{
    width: 166px;
    height: 28px;
    line-height: 28px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #d7dee4;
    border-radius: 4px;
    padding: 0 8px;
    color: #5a5e66;
    outline: none;
    }
 .membercard-footer{width:323px;height:39px;}
 .membercard-footer button{
     width:62px;
     height:28px;
     line-height:28px;
     text-align:center;
     color:#fff;
     font-size:12px;
     border-radius: 4px;
     outline:none;
     border:none;
     background:#3fbfdc;
     float:right;
     margin:0 12px 0 0;
     cursor:pointer;
 }
 .membercard{
     margin: 10px;
 }
