

/* 交期预警 */
.Deliverywarning-title{
    width:870px;
    height:58px;
    margin:16px auto 12px;
    background: #eef4fb;
    border:1px solid #8db2e3
}
.Deliverywarning-title span{
    color:#000;
    font-size:14px;
    line-height:58px;
    margin-left:16px;
}
.Deliverywarning-title .e-input.del-war-input{
    width:150px;
    margin-left:5px;
}

.deliverywarning-tab{
    width:872px;
    height:auto;
    max-height:400px;
    margin:auto;
}
.deliverywarning-tab table{
    width:870px;
    max-height:400px;
    border:1px solid #8db2e3;
}
.deliverywarning-tab table thead{
    width:874px;
    height:25px;
    background:#7fa8cf;
    display:block;
}
.deliverywarning-tab table thead tr{width:auto;height:25px;}
.deliverywarning-tab table thead tr th{
    min-width:124px;
    height:25px;
    color:#fff;
    font-size:12px;
    border-right:1px solid #a4c0da;
}
.deliverywarning-tab table thead tr th:last-child{border-right:none}
.deliverywarning-tab table tbody{
    width:auto;
    max-height:375px;
    display:inline-block;
    overflow-y:auto;
    overflow-x: hidden;
}
.deliverywarning-tab table tbody tr{width:auto;height:25px;}
.deliverywarning-tab table tbody tr:nth-child(odd){background:#fff}
.deliverywarning-tab table tbody tr:nth-child(even){background:#f0f5f9}
.deliverywarning-tab table tbody tr td{
    color:#000;
    font-size:2px;
    min-width:124px;
    height:25px;
    border-right:1px solid #a4c0da;
    text-align:center;
}
.deliverywarning-tab table tbody tr td:last-child{border-right:none}