body{font-family: "Microsoft YaHei",serif;min-width: 800px;min-height: 568px}
html, body, #root, .login{width: 100%;height: 100%}
.login{
    position: relative;
    background-image: url(images/login-bg.png);
    background-repeat: no-repeat;
}
.login-words{
    width: 197px;
    height: 21px;
    background-image: url(images/login-words.png);
    position: absolute;
    top: 152px;
    left: 50%;
    margin-left: -98.5px;
    z-index: 1;
}
.login-edition{
    color: #fff;
    line-height: 1;
    font-size: 18px;
    text-align: center;
    width: 197px;
    position: absolute;
    top: 184px;
    left: 50%;
    margin-left: -98.5px;
    z-index: 1;
}
.login>section{
    width: 309px;
    height: 322px;
    background-image: url(images/login-head-bg.png);
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 17px;
    position: absolute;
    top: 132px;
    left: 50%;
    margin-left: -154.5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 104px 20px 20px;
}
.login>section>.ui-input{margin-bottom: 10px}
.login .e-btn-c{
    width: 154px;
    height: 32px;
    font-size: 14px;
}