*{margin: 0;padding: 0}
html{min-width: 600px;min-height: 450px}
body{font-family: 微软雅黑,serif;font-size: 14px}
html, body, #root, #login{width: 100%;height: 100%}
button{border: none;outline: none}
#login{position: relative}
/* 通用样式 */
.login-input{
    width: 200px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #aec7db;
    outline-color: #1698fc;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.login-edition{
    position: absolute;
    top: 40px;left: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    font-weight: bold;
}
.login-edition>:first-child{font-size: 30px;margin-bottom: 9px}
.login-edition>:nth-child(2){font-size: 24px}
/* 界面顶部可拖动区域 */
.login-drag{
    width: 100%;
    height: 30px;
    -webkit-app-region: drag;    /*窗口可移动*/
    position: absolute;
    top: 0;left: 0;
}
/* 界面顶部关闭按钮 */
.login-drag>i{
    -webkit-app-region: no-drag;
    float: right;
    width: 30px;
    height: 30px;
    cursor: default;
    background: url(img/login-close.png);
}
.login-drag>i:hover{background: url(img/login-close-hover.png)}
/* 检查更新窗口样式 */
.login-launch{background:url(img/login-launch.png);height: 100%}
.login-launch-v{text-align: center;color: #fff;padding-top: 250px}
.login-launch-check{
    height: 82px;
    width: 100%;
    position: absolute;
    bottom: 0;left: 0;
    background: #fff;
}
.login-launch-check>div{
    width: 537px;
    padding-top: 50px;
    margin: 0 auto;
    background: url(img/login-launch-check.gif) no-repeat center 19px;
    font-size: 16px;
}
/* 下载更新窗口样式 */
.login-download{background: url(img/login-download.png);height: 100%}
.login-download>div:first-child{
    height: 55px;
    line-height: 55px;
    margin-left: 12px;
    font-size: 18px;
    font-weight: bold;
    color: #173959;
}
.login-log{
    height: 312px;
    margin: 0 4px;
    padding-left: 12px;
    overflow: auto;
}
.login-update{
    width: 100%;
    height: 82px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
}
.login-progress-bar{
    width: 554px;
    height: 21px;
    margin: 19px auto 11px;
    background: #d4d9de;
    border-radius: 10px;
    box-shadow: -1px -1px #b8bcc1;
}
.login-progress-bar>div{
    background: url(img/login-progress.png) left center;
    height: 19px;
    border-top: 1px solid #3c92d3;
    border-bottom: 1px solid #3c92d3;
    border-radius: 10px;
}
.login-progress{
    width: 554px;
    margin: 0 auto;
    font-size: 16px;
}
.login-progress>span{float: right}
.login-complete{
    margin: 26px 27px 0 20px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
}
.login-complete>button{
    float: right;
    border-radius:3px;
    height: 30px;
    padding: 0 18px;
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    background: #3596e3;
}
/* 登陆界面窗口 */
.login{background: url(img/login.png);height: 100%}
.login-box{padding: 163px 0 0 158px}