html{min-width: 800px;min-height: 568px;overflow: hidden}
html, body, #root, #main{width: 100%;height: 100%}
#main{    /* 主界面样式 */
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 108px;
    user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
}
.main-title{    /* 界面标题部分样式 */
    -webkit-app-region: drag;    /*窗口可移动*/
    font-size: 12px;
    height: 32px;
    width: 100%;
    line-height: 32px;
    position: fixed;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(left, #3abbd5, #35bfc5);    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #3abbd5, #35bfc5);    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #3abbd5, #35bfc5);    /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #3abbd5, #35bfc5);    /* 标准的语法 */
    z-index: 999999;
    color: #fff;
}
.main-title>div{
    position: relative;
    float: right;
    padding-right: 100px;
    height: 100%;
}
.main-title>div>span{
    -webkit-app-region: no-drag;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 29px;
    text-align: center;
    cursor: default;
}
.main-title>div>span:nth-of-type(1){right: 58px;}
.main-title>div>span:nth-of-type(2){right: 29px;}
.main-title>div>span:hover{background-color: #30b0b8}
.main-top{    /* 界面顶部样式 */
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 108px;
    background: -webkit-linear-gradient(left, #3fc0db, #3cc4cb);    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #3fc0db, #3cc4cb);    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #3fc0db, #3cc4cb);    /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #3fc0db, #3cc4cb);    /* 标准的语法 */
    z-index: 1;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-top: 32px;
}
.main-top>div{
    height: 76px;
    width: 100%;
    background-image: url(images/main-head-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.main-top>div>span{
    height: 76px;
    width: 112px;
    line-height: 76px;
    text-align: center;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    font-weight: bolder;
    cursor: default;
}
.main-top>div>span[data-checked='1']{border-bottom: 5px solid #00e7fe;background-color: #34b9d2;}
.main-container{
    height: 100%;
    width: 100%;
    background-color: #ecf2fb;
    position: relative;
    overflow: auto;
    user-select:text;
    -webkit-user-select:text;
    -moz-user-select:text;
    -ms-user-select:text;
}
/*  栅格菜单样式  */
.main-menus{
    width: 604px;
    min-height: 288px;
    margin: 86px auto 0;
    overflow: hidden;
}
.main-menus>span{
    float: left;
    width: 116px;
    height: 120px;
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-top: 80px;
    border-radius: 8px;
    margin: 0 46px 46px 0;
    cursor: default;
    position: relative;
}
.main-menus>span:nth-child(4n + 0) {margin-right: 0}
.main-menus>span>i{
    display: inline-block;
    position: absolute;
    bottom: 48px;
    left: 50%;
    height: 53px;
    background-image: url(images/main-menus-icons.png);
    background-repeat: no-repeat;
}
/* 列表菜单样式 */
.main-menus-list{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 18px;
}
.main-menus-list>span{
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 26px 0 46px;
    margin-bottom: 8px;
    position: relative;
    cursor: default;
}
.main-menus-list>span>i{
    position: absolute;
    left: 16px;
    top: 50%;
    height: 22px;
    width: 22px;
    margin-top: -11px;
    background-image: url(images/main-menus-list-icons.png);
    background-repeat: no-repeat;
}
.main-menus-list>span>em{
    position: absolute;
    right: 20px;
    top: 50%;
    height: 11px;
    width: 6px;
    margin-top: -5.5px;
    background: url(images/main-menus-right.png) no-repeat center center;
}
/* 菜单项目样式 */
.main-menus-default{background-color: #35bfc5;}
.main-menus-clothes{background-color: #48baf3;}
.main-menus-clothes>i{background-position: 0 0;width: 52px;margin-left: -26px}
.main-menus-online{background-color: #f17878;}
.main-menus-online>i{background-position: -52px 0;width: 43px;margin-left: -21.5px}
.main-menus-puton{background-color: #feb446;}
.main-menus-puton>i{background-position: -97px 0;width: 52px;margin-left: -26px}
.main-menus-take{background-color: #32b8f0;}
.main-menus-take>i{background-position: -150px 0;width: 46px;margin-left: -23px}
.main-menus-goods{background-color: #40cbab;}
.main-menus-goods>i{background-position: -197px 0;width: 47px;margin-left: -23.5px}
.main-menus-card{background-color: #31b9f0;}
.main-menus-card>i{background-position: -245px 0;width: 51px;margin-left: -25.5px}
.main-menus-recharge{background-color: #23cb76;}
.main-menus-recharge>i{background-position: -297px 0;width: 40px;margin-left: -20px}
.main-menus-cancel{background-color: #32bdb3;}
.main-menus-cancel>i{background-position: -338px 0;width: 42px;margin-left: -21px}
.main-menus-to-clean{background-color: #48baf3;}
.main-menus-to-clean>i{background-position: -381px 0;width: 50px;margin-left: -25px}
.main-menus-into{background-color: #f17878;}
.main-menus-into>i{background-position: -434px 0;width: 47px;margin-left: -23.5px}
.main-menus-cleaning{background-color: #3ec2d2;}
.main-menus-cleaning>i{background-position: -481px 0;width: 38px;margin-left: -19px}
.main-menus-dry{background-color: #32b8f0;}
.main-menus-dry>i{background-position: -520px 0;width: 38px;margin-left: -19px}
.main-menus-iron{background-color: #40cbab;}
.main-menus-iron>i{background-position: -559px 0;width: 48px;margin-left: -24px}
.main-menus-check{background-color: #31b9f0;}
.main-menus-check>i{background-position: -608px 0;width: 44px;margin-left: -22px}
.main-menus-out-of{background-color: #40cbab;}
.main-menus-out-of>i{background-position: -652px 0;width: 46px;margin-left: -23px}
.main-menus-back{background-color: #feb446;}
.main-menus-back>i{background-position: -700px 0;width: 44px;margin-left: -22px}

.main-menus-clothes-query>i{background-position: 0 0}
.main-menus-shelf-query>i{background-position: -22px 0}
.main-menus-order-query>i{background-position: -44px 0}
.main-menus-hand-over>i{background-position: -66px 0}
.main-menus-front-status>i{background-position: -88px 0}
.main-menus-no-payment>i{background-position: -110px 0}
.main-menus-member-balance>i{background-position: -132px 0}
.main-menus-recharge-statistic>i{background-position: -154px 0}
.main-menus-consume-statistic>i{background-position: -176px 0}
.main-menus-sell-card>i{background-position: -198px 0}
.main-menus-recharge-card>i{background-position: -220px 0}
.main-menus-member-update>i{background-position: -242px 0}
.main-menus-change-card>i{background-position: -264px 0}
.main-menus-customer-query>i{background-position: -286px 0}
.main-menus-manager>i{background-position: -308px 0}
.main-menus-business-statistics>i{background-position: -330px 0}
.main-menus-business-daily>i{background-position: -352px 0}
.main-menus-business-detail>i{background-position: -374px 0}
.main-menus-clothes-statistics>i{background-position: -396px 0}
.main-menus-wechat-alipay>i{background-position: -418px 0}
.main-menus-shop-management>i{background-position: 0px -22px}
.main-menus-employee>i{background-position: -22px -22px}
.main-menus-price>i{background-position: -44px -22px}
.main-menus-param>i{background-position: -66px -22px}
.main-menus-printer>i{background-position: -88px -22px}
.main-menus-data>i{background-position: -110px -22px}
.main-menus-data4>i{background-position: -132px -22px}
.main-menus-passwd>i{background-position: -154px -22px}
.main-menus-about>i{background-position: -176px -22px}