.clothesquery_top{
    width: auto;
    background: #f5f8fa;
    height: 154px;
    border: 1px solid #e0e4ea;
    margin: 12px 16px;
    padding-top: 2px;
}
.clothesquery_top_one div .ui-select-define{width:149px;}
.clothesquery_top_one,.clothesquery_top_two,.clothesquery_top_three{
    width:250px;
    height: 100%;
    float: left;
    margin-left: 5px;
}

.clothesquery_top_one>div,.clothesquery_top_two>div,.clothesquery_top_three>div{
    margin-top:8px;
}
.clothesquery_top_three>div{
    float: left;
    margin-right: 2px;
}
.clothesquery_top_three  div.clothesquery_top_btn{
    margin-left:67px;
    margin-top:8px;
} 
.clothesquery_top_three div button{
    margin-left: 20px;
}
.clothesquery_top_three div button:last-child{background: #3fc0db;color: #fff;margin-left: 8px}
.clothesquery_top div span{
    font-size: 12px;
    margin-left: 5px;
}

.clothesquery_text>label{
    font-size: 14px;
    color: #f00;
    font-weight: bold

}
.clothesquery_text{
    margin-left: 16px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 12px;
    color: #5a5e66;
}
.clothesquery_bottom{
    width: 872px;
    height: 373px;
    border:1px solid #8db2e3;
    margin:9px auto;
}

.OperatingDetails_list .clothesquery_bottom_list_box{
    height:372px;max-height:372px
}
.find_reset{
    position: relative;
}

.clothesquery_top_two div .e-date{width:166px }
.clothesquery_top_three div .e-date{width:166px }
.clothesquery_top_btn .e-btn{background: #fff;color: #000;border:1px solid #e0e4ea}
.clothesquery_top_btn .e-btn:hover{background:#3fc0db;color: #fff}

.clo-que-tab{

    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0px 16px 255px;
}
.clo-que-tab>.ui-table{

    height: 100%;
}