.clothesquery_top{
    width: 872px;
    height: 101px;
    border:1px solid #8db2e3;
    margin: 13px;
}
.clothesquery_top_one,.clothesquery_top_two{

    width: 230px;
    height: 100%;
    float: left;
}

.clothesquery_top_one div,.clothesquery_top_two div,.clothesquery_top_three div{

    margin-top: 6px;
}
.clothesquery_top_three{

    width: 412px;
    height: 100%;
    float: left;
}
.clothesquery_top_three div{

    float: left;
}
.clothesquery_top_three  div.clothesquery_top_btn{

    margin-top: -16px;
} 
.clothesquery_top_three div button{

    margin-left: 20px;
}
.clothesquery_top div span{
    font-size: 12px;
    margin-left: 5px;
}

.clothesquery_text label{
    font-size: 13px;
    color: #024ffe;
    font-weight: bold
}
.clothesquery_text>label{
    font-size: 14px;
    color: #024ffe;
    font-weight: bold

}
.clothesquery_text{
    margin-left: 14px;
    font-size: 14px;
    font-weight: bold
}
.clothesquery_bottom{
    width: 872px;
    height: 373px;
    border:1px solid #8db2e3;
    margin:9px auto;
}


.OperatingDetails_list .clothesquery_bottom_list_box{
    height:372px;max-height:372px
}
.find_reset{
    position: relative;
}