.edit_price{
    width:489px;
    height:208px;
    border:1px solid #8db2e3;
    margin:9px 10px 0;
    background:#eef4fb;
}
.edit_price-div{
    margin: 5px 0 0 0;
    width:489px;
    height:30px;

}    
.edit_price-div-select,.edit_price-div-nor{
    width:50%;
    font-size:12px;
    color:#000;
    float: left;
    height: 30px;
    line-height: 30px;
}         
/* 下拉框 */
.edit_price-div-select .ui-select-define{
    margin-top: 7px;
    width:140px;
}

.edit_price-div div span{
    height: 100%;
    line-height: 30px;
    width:75px;
    margin-top:4px;
    text-align:right;
    color:#063781;
    font-size:12px;
    float: left;
}
.edit_price-div div input{

    width:138px;
    height:21px;
    margin-top:8px;
    border:1px solid #c2c2c2;
    background:#fff;
    outline-color: #8db2e3;
    float: left;
}
.edit_price-money,.edit_price-dcount{width:128px;height:22px;color:#063781;font-size:12px;line-height:22px;text-align:right;margin-top:9px}
.edit_price-money input{
    width: 14px;
    height:14px;
    display:block;
    margin-top:4px;
    float:left;
    margin-left:55px;
    margin-right:2px;
}
.edit_price-dcount input{
    width: 14px;
    height:14px;
    display:block;
    margin-top:4px;
    float:left;
    margin-left:55px;
    margin-right:2px;
}

.edit_price-e-btn{
    float:right;
    margin-right:17px;
    margin-top: 13px;
}
