.man-head{
    height: 40px;
    margin: 0 16px;
}
.man-head a:first-child{
    font-size: 14px;
    color: #4d4d4d;
    float: left;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
}
.man-head :last-child{
    font-size: 12px;
    color: #4d4d4d;
    float: right;
    height: 40px;
    line-height: 40px;
}

.manager_gathering_bottom{
    position: absolute;
    height: 220px;
    bottom: 10px;
    width: 100%;
    padding: 0px 16px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.manager_gathering_part.three_part{

    border: 1px solid #e6ebf5;
    background: #f5f8fa;
    padding: 12px 0px;
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.manager_gathering_part input:focus{
    border:1px solid #6f9ec2;       
}
.manager_gathering_part_row{
    /* background-color: red; */
    margin:0px 22px 11px;
    height: 23px;
    line-height: 23px;
    font-size: 12px;
    color: #78797b;
}
.manager_gathering_part_row.text_area_row{

    height: 76px;
    line-height: 76px;
}
.manager_gathering_part_row.text_area_row a{

    float: left;
    font-size: 12px;
    height: 64px;
    line-height: 64px;
}
.manager_gathering_part_row.text_area_row textarea{

    float: left;
    width: 618px;
    margin-top: 6px;
    height: 70px;
    border: 1px solid #c4c2c2;
    box-sizing: border-box;
    padding: 4px;
    border-radius: 5px;
}
.manager_gathering_part_row>input{

    width: 125px;
    height: 21px;
    background: #fff;
    outline: none;
    border: 1px solid #c4c2c2;
    text-indent: 4px;
    margin-left: 24px;
    outline-color: #6f9ec2;
    border-radius: 5px;

}
.manager_gathering_part_btn{
    float: right;
    height: 50px;
}
.manager_gathering_part_btn button{
    margin: 11px 11px;
    background: #fff;
    color:#000;
    border:1px solid #ddd;
    font-size: 12px;
}
.manager_gathering_part_btn button:hover{
    background: #3abad5;
    color:#fff
}
.manager_gathering_part_btn button:last-child{
    background: #3abad5;
    color:#fff;
}
.ManagerGathering-tab{

    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0px 16px 275px;
}
.ManagerGathering-tab>.ui-table{
    height: 100%
}
.ManagerGathering-tab>.ui-table  thead tr th{
    min-width: 185px;
}
.ManagerGathering-tab tr:hover{
    background: #fbfcfd
}
textarea{
    resize: none;  
}
/* 经理收款明细 */
#ManagerGathering-detail{
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 12px 16px 40px;
}
#ManagerGathering-detail>.ui-table{
    height: 100%
}
/* #ManagerGathering-detail>.ui-table  thead tr th{

    min-width: 100px;
} */
#ManagerGathering-detail tr:hover{
    background: #fbfcfd
}

