.man-head{

    height: 40px;
    margin: 0 13px;
}
.man-head a:first-child{

    font-size: 12px;
    color: #063781;
    float: left;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
}
.man-head :last-child{

    font-size: 12px;
    color: #000;
    float: right;
    height: 40px;
    line-height: 40px;
}


.ui-table-base.ManagerGathering-tab{

    height: 170px;
    border: 1px solid #ddd;
    max-width: 780px;
}
.ui-table-base.ManagerGathering-tab tbody{

    width: 770px;
    max-height: 139px;
    overflow-x: hidden;
}
.ui-table-base.ManagerGathering-tab tr td{

    min-width: 192px;
    max-width: 192px;
}
.ui-table-base.ManagerGathering-tab tr:last-child{
    border-bottom:none;
}
.manager_gathering_bottom{

    position: absolute;
    margin:20px 14px;
    height: 220px;
}
.manager_gathering_part.three_part{
    height: 100%;
    width: 768px;
    float: left;
    border:1px solid #ddd;
    background:#f5f8fa; 
}

/* .manager_gathering_part input{
    width: 100px;
    height: 21px;
    background:#fff;
    outline:none;
    border:1px solid #c4c2c2;       
    text-indent:4px;
    margin-left: 24px;
    outline-color: #6f9ec2;
} */
.manager_gathering_part input:focus{
    border:1px solid #6f9ec2;       
}
.one_part{
    margin: 10px 13px 0;
    height:93px;
}
.two_part{
    margin: 10px 13px 0;
    height: 153px;
}
.manager_gathering_part_row{
    /* background-color: red; */
    margin:9px 10px 0;
    height: 23px;
    line-height: 23px;
    font-size: 12px;
    color: #063781;
}
.manager_gathering_part_row:first-child{

    margin-top: 15px;
}
.manager_gathering_part_row.text_area_row{

    height: 62px;
    line-height: 62px;
}
.manager_gathering_part_row.text_area_row a{

    float: left;
    font-size: 12px;
    height: 64px;
    line-height: 64px;
}
.manager_gathering_part_row.text_area_row textarea{

    float: left;
    width: 664px;
    height: 70px;
    border: 1px solid #c4c2c2;
    box-sizing: border-box;
    padding: 4px;
}
.manager_gathering_part_row>input{

    width: 125px;
    height: 21px;
    background: #fff;
    outline: none;
    border: 1px solid #c4c2c2;
    text-indent: 4px;
    margin-left: 24px;
    outline-color: #6f9ec2;

}
.manager_gathering_part_btn{
    float: right;
    height: 50px;
}
.manager_gathering_part_btn button{

    margin: 11px 11px;
}

/* 经理收款明细 */
#ManagerGathering-detail{margin-top:13px;height:490px;}
#ManagerGathering-detail .man-gat-tab{
    height:435px;
    max-height: 435px;
    width: 780px;
    overflow-x: auto;
    border: 1px solid #ddd;
}
#ManagerGathering-detail .man-gat-tab thead{
    height: 35px;
}
#ManagerGathering-detail .man-gat-tab thead tr th{
    min-width:100px
}
#ManagerGathering-detail .man-gat-tab tbody tr td{
    min-width:100px;
}

#ManagerGathering-detail .man-gat-tab tbody{
    max-height: 383px;
    height: 383px;
    width: 1000px;
}
#ManagerGathering-detail .man-gat-tab tbody::-webkit-scrollbar{
    width: 0;
}
textarea{
    resize: none;  
}