

.balancedetail-div{
    height:auto;
    width:auto;
    overflow-y: hidden;
}
.ui-table-base.balance-det-tab{

    max-height: 420px;
    width: 880px;
}
.ui-table-base.balance-det-tab tbody{

    max-height: 395px;
}
.ui-table-base.balance-det-tab tr td{

    min-width: 97px;
    max-width: 97px;
}